<template>
  <div>
    <Card>
      <CardMenuItem slot="cardTitle" :title="$t('member.staff.management')" isActive/>
      <CardMenuItem v-if="!this.$store.state.isSuperAdmin" slot="cardTitle" :title="$t('member.invite-list')" :index="{name: 'member-invitation'}"/>
      <div slot="buttonGroup">
        <!-- 仅超管可见 查看未绑定人员-->
        <el-button v-if="$store.state.isSuperAdmin" @click="getUnboundMember" type="primary">
           {{ $t('member.staff.see-unbound') }}
        </el-button>
        <!-- 机构管理员页面 查看未审核人员-->
        <el-button v-if="!$store.state.isSuperAdmin" @click="temp === 'getData' ? getUncheckMember() : getData()" :type="temp === 'getData' ? 'success' : 'primary'">
           {{ temp === 'getUncheckMember' ? $t('member.staff.see-allmember') : $t('member.staff.see-uncheck') }}
        </el-button>
        <el-button v-privilege="'createUser'" @click="addForm()" type="primary">
          {{ $t('button.add') }}
        </el-button>
      </div>
      <!-- 查询栏 -->
      <QueryBar slot="queryBar">
        <div slot="queryBarLeft">
          <label for="" class="input-label">
            {{ `${ $t('member.staff.username') }：` }}
            <el-input v-model.trim="queryForm.username" clearable class="query-bar-item"></el-input>
          </label>
          <label for="" class="input-label">
            {{ `${ $t('member.staff.name') }：` }}
            <el-input v-model.trim="queryForm.name" clearable class="query-bar-item"></el-input>
          </label>
          <label for="" class="input-label">
            {{ `${ $t('member.staff.phone') }：` }}
            <el-input v-model.trim="queryForm.phone" clearable class="query-bar-item"></el-input>
          </label>
          <label for="" class="input-label">
            {{ `${ $t('member.staff.mail') }：` }}
            <el-input v-model.trim="queryForm.email" clearable class="query-bar-item"></el-input>
          </label>
          <label for="" class="input-label">
          <el-button @click="clearPage()">
            {{ $t('button.query') }}
          </el-button>
          <el-button @click="resetGetData()">
            {{ $t('button.reset') }}
          </el-button>
          </label>
        </div>
      </QueryBar>
      <!-- 表格 -->
      <el-table slot="contain" header-cell-class-name="table__header" row-class-name="table__row"
        :data="tableData" stripe>
        <el-table-column :label="$t('member.staff.username')" prop="username"></el-table-column>
        <el-table-column :label="$t('member.staff.name')" prop="name"></el-table-column>
        <el-table-column :label="$t('member.staff.cover-photo')" width="120">
          <template slot-scope="scope">
            <el-image class="member-image" v-if="scope.row.maskImage" :src="scope.row.maskImage"
              @click="showMaskImg(scope.row)" :preview-src-list="srcList">
              <div slot="placeholder" class="loading-img">
                <i class="fa fa-spinner fa-3x fa-pulse" aria-hidden="true"></i>
              </div>
            </el-image>
          </template>
        </el-table-column>
        <el-table-column :label="$t('member.staff.bottom-photo')" width="120">
          <template slot-scope="scope">
            <el-image class="member-image" v-if="scope.row.images && scope.row.images.length > 0" :src="scope.row.images[0].url"
              @click="showBigImg(scope.row)" :preview-src-list="srcList">
              <div slot="placeholder" class="loading-img">
                <i class="fa fa-spinner fa-3x fa-pulse" aria-hidden="true"></i>
              </div>
            </el-image>
          </template>
        </el-table-column>
        <el-table-column :label="`${$t('member.staff.organization')}(${$t('member.identity')})`" prop="organizationName" min-width="260px">
          <template slot-scope="scope">
            <el-tag v-for="item in scope.row.members" :key="item.id" class="tag-ellipsis"
              :closable="false"
              @close="deleteOrganization(item)">
              <span class="text-ellipsis">{{`${item.organization && item.organization.name} (${item.role !== null ? item.role.name : ''})`}}</span>
              <i class="el-icon-edit" @click="editOrganizationForm(item, scope.row.department, scope.row.workSpace)" style="cursor: pointer;"></i>
              <i class="el-icon-close" @click="$store.state.isSuperAdmin ? deleteOrganization(item) : ''" :style="{cursor: 'pointer',color: $store.state.isSuperAdmin ? '' : 'transparent'}"></i>
            </el-tag>
          </template>
        </el-table-column>
        <!-- 仅超级管理员操作  v-if="$store.state.isSuperAdmin" -->
        <el-table-column :label="$t('button.action')" width="280">
          <template slot-scope="scope">
            <span v-if="$store.state.isSuperAdmin" class="span__bt" @click="addOrganizationForm(scope.row)">
              {{ $t('button.add') }}
            </span>
            <div v-if="$store.state.isSuperAdmin" class="divider-vertical"></div>
            <span class="span__bt" @click="lookForm(scope.row)">
              {{ $t('button.detail') }}
            </span>
            <div v-privilege="'updateUser'" class="divider-vertical"></div>
            <span v-privilege="'updateUser'" class="span__bt" @click="editForm(scope.row)">
              {{ $t('button.edit') }}
            </span>
            <div v-privilege="'deleteUser'" class="divider-vertical"></div>
            <span class="span__bt" v-if="$store.state.isSuperAdmin" @click="delForm(scope.row)">
              {{ $t('button.delete') }}
            </span>
            <span v-privilege="'deleteUser'" class="span__bt" v-else @click="deleteOrganization(scope.row.members[0])">
              {{ $t('button.delete') }}
            </span>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination class="pagination" slot="footer"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="currentPage"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="pageSize"
        layout="slot, sizes, prev, pager, next"
        :total="totalCount">
        <span class="el-pagination__total">
          {{ $t('app.data-count', { total: totalCount}) }}
        </span>
      </el-pagination>
    </Card>

    <!-- 对话框 -->
    <el-dialog
      :title="titleText"
      :visible.sync="dialogVisible"
      width="650px"
      class="input_box"
      @close="dialogClose()"
    >
      <el-button-group v-show="submitType === 'add'" size="small" class="add-form-button">
        <el-button :type="addType === 'create' ? 'primary' : ''"
          @click="changeAddType('create')">{{$t('member.staff.add-user')}}</el-button>
        <el-button :type="addType === 'invite' ? 'primary' : ''"
          @click="changeAddType('invite')">{{$t('member.staff.invite-user')}}</el-button>
          <el-button v-if="!$store.state.isSuperAdmin" :type="addType === 'createExit' ? 'primary' : ''"
          @click="changeAddType('createExit')">{{$t('member.staff.add-registered-users')}}</el-button>
      </el-button-group>
      <el-form :model="form" :rules="rules" style="text-align: left" ref="form" label-width="120px">
        <!-- 添加、编辑人员信息 -->
        <div v-if="['add', 'edit', 'look'].indexOf(submitType) !== -1">
          <!-- 新建用户 -->
          <div v-if="['', 'create'].indexOf(addType) !== -1">
            <el-form-item :label="`${ $t('member.staff.mail') }：`" prop="email" v-if="loginType === 'email'">
              <el-input v-model.trim="form.email" style="width: 200px" :disabled="submitType === 'look'"></el-input>
            </el-form-item>
            <el-form-item :label="`${ $t('member.staff.phone') }：`" prop="phone" v-else>
              <el-input v-model.trim="form.phone" style="width: 200px" :disabled="submitType === 'look'"></el-input>
            </el-form-item>
            <el-form-item :label="`${ $t('member.staff.name') }：`" prop="name">
              <el-input v-model.trim="form.name" style="width: 200px" :disabled="submitType === 'look'"></el-input>
            </el-form-item>
            <el-form-item v-if="submitType === 'add'" :label="`${ $t('member.staff.password') }：`" prop="password">
              <el-input type="password" v-model="form.password" style="width: 200px" :disabled="submitType === 'look'"></el-input>
            </el-form-item>
            <el-form-item v-if="submitType === 'edit'" :label="`${ $t('member.staff.reset-password') }：`" prop="newPassword">
              <el-input type="password" v-model="form.newPassword" style="width: 200px" :disabled="submitType === 'look'"></el-input>
            </el-form-item>
            <el-form-item v-if="submitType === 'add' || form.newPassword" :label="`${ $t('member.staff.confirm-password') }：`" prop="passwordConfirmation">
              <el-input type="password" v-model="form.passwordConfirmation" style="width: 200px"></el-input>
            </el-form-item>
            <el-form-item :label="`${ $t('member.staff.mail') }：`" prop="email" v-if="loginType !== 'email'">
              <el-input v-model.trim="form.email" style="width: 200px" :disabled="submitType === 'look'"></el-input>
            </el-form-item>
            <el-form-item :label="`${ $t('member.staff.phone') }：`" prop="phone" v-else>
              <el-input v-model.trim="form.phone" style="width: 200px" :disabled="submitType === 'look'"></el-input>
            </el-form-item>
            <el-form-item :label="`${ $t('member.staff.identity') }：`" prop="idCard">
              <el-input v-model.trim="form.idCard" style="width: 200px" :disabled="submitType === 'look'"></el-input>
            </el-form-item>
            <el-form-item :label="`${ $t('member.staff.brief-introduction') }：`" prop="introduction">
              <el-input type="textarea" v-model="form.introduction" maxlength="140" autosize style="width: 200px" :disabled="submitType === 'look'"></el-input>
            </el-form-item>
            <!-- 照片上传 -->
            <el-form-item :label="`${ $t('member.staff.cover-photo') }：`" prop="maskImageFiles">
              <el-upload
                ref="mask-images"
                accept=".jpg,.jpeg,.png,.bmp"
                :class="submitType === 'look' ? {disabled: true} : {disabled: maskImageFiles.length >= 1}"
                action=""
                :limit="1"
                :file-list="maskImageFiles"
                list-type="picture-card"
                :auto-upload="false"
                :on-change="handleMaskChange"
                :on-remove="handleMaskRemove"
                 :disabled="submitType === 'look'">
                <i class="el-icon-plus"></i>
              </el-upload>
            </el-form-item>
            <el-form-item id="required-form-item" :label="`${ $t('member.staff.photo') }：`" prop="uploadFiles">
              <el-upload
                ref="upload-images"
                accept=".jpg,.jpeg,.png,.bmp"
                :class="submitType === 'look' ? {disabled: true} : {disabled: uploadFiles.length >= maxUploadImageNumber }"
                action=""
                :limit="maxUploadImageNumber"
                :file-list="uploadFiles"
                list-type="picture-card"
                :auto-upload="false"
                :on-change="handleChange"
                :on-remove="handleRemove"
                :disabled="submitType === 'look' || $store.state.isSubmitting">
                <i class="el-icon-plus"></i>
              </el-upload>
            </el-form-item>
          </div>
          <!-- 注册申请审核 -->
          <div v-if="addType === 'createExit'">
            <el-form-item :label="`${ $t('member.staff.username-mail') }：`" prop="queryName">
              <el-input v-model.trim="form.queryName" style="width: 200px"></el-input>
              <el-button size="mini" round style="margin-left: 4px"
                         @click="getUsersQuery(form.queryName)">{{$t('button.search')}}</el-button>
            </el-form-item>
            <el-form-item :label="`${ $t('member.staff.search-result') }：`">
              <el-input v-model.trim="form.resultName" style="width: 200px" disabled></el-input>
            </el-form-item>
            <el-form-item :label="`${ $t('member.staff.level-name') }：`">
              <el-input v-model.trim="form.department" style="width: 200px" disabled></el-input>
            </el-form-item>
            <el-form-item :label="`${ $t('member.staff.select-level') }：`" prop="levelId">
              <el-cascader style="width: 200px"
                v-model="form.levelId"
                :options="levelsTree"
                :props="{ value: 'id', label: 'name', children: 'descendants', emitPath: false, checkStrictly: true }"
                :show-all-levels="false"
                clearable>
                </el-cascader>
            </el-form-item>
            <div>{{ $t('member.staff.add-request-sent') }}</div>
            <div style="margin: 20px 0 0 460px">
              <el-button @click="dialogClose()">
                {{ $t('button.cancel') }}
              </el-button>
              <el-button @click="addOldSubmit">
                {{ $t('button.confirm') }}
              </el-button>
            </div>
          </div>
          <!-- 邀请用户 -->
          <div v-if="addType === 'invite'">
            <div style="margin: 0 120px 20px">{{ $t('member.staff.copy-link-invite-user') }}</div>
            <el-form-item>
              <el-input ref="userUrl" style="width: 400px" v-model="registerUrl" readonly></el-input>
              <el-button size="mini" round style="margin-left: 4px" @click="copyLink('userUrl')">{{$t('button.copy')}}</el-button>
            </el-form-item>
          </div>
        </div>
      </el-form>
      <div slot="footer" class="dialog-footer" v-if="['create', ''].includes(addType)">
        <el-button @click="dialogClose()">
          {{ `${submitType !== 'look' ? `${$t('button.cancel')}` : `${$t('button.confirm')}`}` }}
        </el-button>
        <el-button @click="formSubmit('form')" :loading="$store.state.isSubmitting"
          v-if="submitType !== 'look'">
          {{ $store.state.isSubmitting && detectPic ? $t('member.staff.image-detection') + '...' : $t('button.confirm') }}
        </el-button>
      </div>
    </el-dialog>
    <!-- 绑定机构对话框 -->
    <el-dialog
      :title="organizationTitleText"
      :visible.sync="organizationDialogVisible"
      width="650px"
      class="input_box"
      @close="organizationDialogClose()">
      <el-form :model="organizationForm" :rules="organizationRules" ref="organizationForm" style="text-align: left" label-width="120px">
        <el-form-item :label="`${ $t('organization.affiliation') }：`" prop="organizationId">
          <el-select v-model="organizationForm.organizationId" style="width: 200px"
            :disabled="organizationSelect" @change="changeOrganizations(organizationForm)">
            <el-option
              v-for="item in organizationList"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item v-if="organizationForm.organizationId" :label="`${ $t('member.staff.under-level') }：`" prop="levelId">
          <el-cascader style="width: 200px"
            v-model="organizationForm.levelId"
            :options="levelsData"
            :props="{ value: 'id', label: 'name', children: 'descendants', emitPath: false, checkStrictly: true }"
            :show-all-levels="false"
            clearable>
          </el-cascader>
        </el-form-item>
        <el-form-item v-if="organizationForm.department" :label="`${ $t('member.department') }：`">
        {{organizationForm.department}}
        </el-form-item>
        <el-form-item :label="`${ $t('member.identity') }：`" prop="roleId">
          <el-select v-model="organizationForm.roleId" style="width: 200px">
            <el-option
              v-for="item in memberTypeList"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item :label="`${ $t('member.staff.access-rights') }：`">
          <el-select v-model="organizationForm.addresses" style="width: 200px" multiple clearable>
            <el-option
              v-for="item in addressList"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            ></el-option>
          </el-select>
          <!-- 增加全选选项 -->
          <el-button
            @click="selectAll()" size="mini" round style="margin-left: 4px"
            :type="organizationForm.addresses.length === addressList.length ? 'warning' : 'primary'">
            {{ organizationForm.addresses.length === addressList.length
            ? 'Reverse' : 'All' }}
          </el-button>
        </el-form-item>
        <el-form-item v-if="organizationForm.workSpace" :label="`${ $t('member.workSpace') }：`">
        {{organizationForm.workSpace}}
        </el-form-item>
        <!-- 通行时限 -->
        <el-form-item :label="`${ $t('member.staff.pass-time-limit') }：`" prop="dateRange">
          <el-date-picker
            v-model="organizationForm.dateRange"
            type="datetimerange"
            format="yyyy-MM-dd HH:mm"
            :default-time="['00:00:00', '23:59:59']"
            unlink-panels clearable
            value-format="timestamp">
          </el-date-picker>
          <div style="font-size: 12px">{{$t('member.staff.pass-time-tip')}}</div>
        </el-form-item>
        <el-form-item :label="`${ $t('tags.status') }：`" prop="status">
          <el-select v-model="organizationForm.status" style="width: 200px">
            <el-option
              v-for="item in statusOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
              :disabled="item.disabled"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item :label="`${ $t('member.staff.attendance') }：`" prop="isAttendance">
          <el-select v-model="organizationForm.isAttendance" style="width: 200px">
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item :label="`${ $t('member.staff.IC') }：`" prop="icCard">
          <el-input v-model.trim="organizationForm.icCard" style="width: 200px"></el-input>
        </el-form-item>
        <el-form-item :label="`${ $t('member.staff.enterprise-wechat-ID') }：`" prop="wechatUserId">
          <el-input v-model.trim="organizationForm.weworkUserId" style="width: 200px"></el-input>
        </el-form-item>
        <el-form-item :label="`${ $t('member.staff.congratulation') }：`" prop="greetings">
          <el-input v-model.trim="organizationForm.greetings" type="textarea" style="width: 200px"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="organizationDialogClose()">
          {{ $t('button.cancel') }}
        </el-button>
        <el-button :loading="$store.state.isSubmitting" @click="organizationFormSubmit('organizationForm')">
          {{ $t('button.confirm') }}
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import { validateNameMoreTwoAndLessTwenty, validatePasswordMoreEightAndLessSixtyFour, validatePhone } from '@utils/formHandle/validateForm.js'
import {
  usersApi,
  invitationsApi,
  addressesApi,
  organizationsApi,
  organizationRolesApi,
  fileApi,
  membersApi,
  levelsApi
} from '../../api'
import { dataHandleMixin } from '@/mixins/dataHandleMixin'

export default {
  mixins: [dataHandleMixin],
  data () {
    var validatePasswordConfirmation = (rule, value, callback) => {
      if (value === '') {
        callback(new Error(this.$t('password.confirm-password-required')))
      } else if (value !== this.form.password && value !== this.form.newPassword) {
        callback(new Error(this.$t('password.compare-twice')))
      } else {
        callback()
      }
    }
    return {
      loginType: window.g.loginType,
      registerUrlPrefix: window.g.userURL,
      tableData: [], // 表格数据
      queryForm: {}, // 查询表单
      organizationList: [], // 机构列表
      levelsData: [],
      levelsTree: [],
      srcList: [], // 大图预览的图片地址
      detectPic: false,
      addressList: [], // 地点列表
      memberTypeList: [], // 人员身份列表
      // 分页
      currentPage: 1,
      pageSize: 10,
      totalCount: 1,
      temp: 'getData',
      // 对话框
      dialogVisible: false,
      titleText: this.$t('member.staff.add'),
      addType: 'create',
      submitType: 'add',
      form: {}, // 表单
      rules: { // 表单校验
        name: [
          { required: true, message: this.$t('member.staff.name-required'), trigger: 'blur' },
          { validator: validateNameMoreTwoAndLessTwenty, trigger: 'blur' }
        ],
        email: [
          { required: window.g.loginType === 'email', message: this.$t('member.staff.mail-required'), trigger: 'blur' },
          { type: 'email', message: this.$t('member.staff.vaild-mail-required'), trigger: 'blur' }
        ],
        phone: [
          { required: window.g.loginType === 'phone', message: this.$t('member.staff.photo-required'), trigger: 'blur' },
          { validator: validatePhone, trigger: 'blur' }
        ],
        queryName: [{ required: true, message: this.$t('member.staff.username-mail-required'), trigger: 'blur' }],
        levelId: [{ required: true, message: this.$t('member.staff.level-required'), trigger: 'change' }],
        newPassword: [
          { required: false, message: this.$t('password.new-password-required'), trigger: 'blur' },
          { validator: validatePasswordMoreEightAndLessSixtyFour, trigger: 'blur' }
        ],
        password: [
          { required: true, message: this.$t('password.new-password-required'), trigger: 'blur' },
          { validator: validatePasswordMoreEightAndLessSixtyFour, trigger: 'blur' }
        ],
        passwordConfirmation: [
          { required: true, message: this.$t('password.confirm-password-required'), trigger: 'blur' },
          { validator: validatePasswordConfirmation, trigger: 'blur' }
        ]
      },
      // 机构对话框
      organizationTitleText: this.$t('member.staff.add-organization'),
      organizationDialogVisible: false,
      organizationSubmitType: 'add',
      organizationSelect: true,
      organizationForm: {
        // roleId: '',
        addresses: []
      },
      organizationRules: {
        organizationId: [{ required: true, message: this.$t('organization.affiliation-required'), trigger: 'change' }],
        levelId: [{ required: true, message: this.$t('member.staff.level-required'), trigger: 'change' }],
        status: [{ required: true, message: this.$t('member.staff.status-required'), trigger: 'change' }],
        roleId: [{ required: true, message: this.$t('member.staff.identity-required'), trigger: 'change' }],
        addresses: [{ required: true, message: this.$t('member.staff.place-required'), trigger: 'change' }],
        isAttendance: [{ required: true, message: this.$t('member.staff.attendance-required'), trigger: 'change' }]
      },
      options: [
        { value: true, label: this.$t('tags.open') },
        { value: false, label: this.$t('tags.close') }
      ],
      statusOptions: [
        { value: 1, label: this.$t('tags.normal'), disabled: false },
        { value: 2, label: this.$t('tags.disabled'), disabled: false },
        { value: 3, label: this.$t('tags.check-pending'), disabled: true }
      ],
      uploadZipFiles: [], // 上传压缩包文件列表
      maskImageFiles: [], // 上传封面照图片列表
      tempMaskImageFiles: [], // 编辑时保存编辑前封面图片列表
      uploadFiles: [], // 上传底库图片列表
      tempUploadFiles: [], // 编辑时保存编辑前底库图片列表
      maxUploadImageNumber: 3 // 最大上传底库图片数量
    }
  },
  watch: {
    getLevel (newVal, oldVal) {
      if (newVal !== null) {
        this.getData()
      }
    }
  },
  computed: {
    registerUrl () {
      try {
        const str = this.$store.state.isSuperAdmin ? '' : this.$store.state.currentOrganization && JSON.stringify({ organizationId: this.$store.state.currentOrganization.id })
        return this.registerUrlPrefix + window.btoa(str)
      } catch (err) {
        return 'error'
      }
    },
    getLevel () {
      return this.$store.state.level
    }
  },
  async mounted () {
    this.getOrganizations() // 获取所有机构信息
    this.getData()
    if (!this.$store.state.isSuperAdmin) {
      const res = await levelsApi.levelsIdTreeGet(this.$store.state.currentOrganization.levelId)
      this.levelsTree = res.data
      this.form.levelId = this.$store.state.currentOrganization.levelId
    }
  },
  methods: {
    // 切换分页条件
    handleSizeChange (val) {
      this.pageSize = val
      this.selectFunction()
    },
    handleCurrentChange (val) {
      this.currentPage = val
      this.selectFunction()
    },
    async selectFunction () {
      const dom = document.getElementsByClassName('card__body')
      if (dom && dom[0]) dom[0].scrollTop = 0
      let res = []
      switch (this.temp) {
        case 'getData': res = await usersApi.usersGet(
          this.currentPage, this.pageSize,
          this.queryForm.organizationId,
          this.queryForm.name,
          '',
          this.queryForm.username,
          this.queryForm.email,
          this.queryForm.phone,
          this.getLevel | 0 // 若在查看未绑定人员页面给人员绑定机构，则成功后返回全部机构
        )
          break
        case 'getUnboundMember': res = await usersApi.usersGet(
          this.currentPage, this.pageSize,
          undefined, this.queryForm.name, undefined, this.queryForm.username, this.queryForm.email, this.queryForm.phone, undefined,
          true
        )
          this.$store.commit('setLevel', null)
          break
        case 'getUncheckMember': res = await usersApi.usersGet(
          this.currentPage, this.pageSize,
          undefined, this.queryForm.name, undefined, this.queryForm.username, this.queryForm.email, this.queryForm.phone, undefined,
          undefined, true
        )
          this.$store.commit('setLevel', null)
      }
      if (res.data) {
        this.tableData = res.data.data
        this.totalCount = res.data.total
      }
    },
    clearPage () {
      this.currentPage = 1
      this.pageSize = 10
      this.selectFunction()
    },
    // 获取表格数据
    getData () {
      this.temp = 'getData'
      this.queryForm = {}
      this.clearPage()
    },
    // 查看未绑定人员
    getUnboundMember () {
      this.temp = 'getUnboundMember'
      this.queryForm = {}
      this.clearPage()
    },
    getUncheckMember () {
      this.temp = 'getUncheckMember'
      this.queryForm = {}
      this.clearPage()
    },
    // 获取部门
    async levelsIdTreeGet (id) {
      const res = await levelsApi.levelsIdTreeGet(id)
      this.levelsData = res.data
    },
    // 显示新增机构表单
    addOrganizationForm (row) {
      this.organizationTitleText = this.$t('member.staff.add-organization')
      this.organizationSubmitType = 'add'
      this.organizationSelect = false
      this.$set(this.organizationForm, 'isAttendance', true) // 默认开启考勤
      this.$set(this.organizationForm, 'userId', row.id) // 默认开启考勤
      this.$set(this.organizationForm, 'addresses', []) // 地址
      this.$set(this.organizationForm, 'status', 1) // 默认正常状态
      this.organizationDialogVisible = true
    },
    // 显示编辑机构表单
    editOrganizationForm (row, department, workSpace) {
      row.department = department
      row.workSpace = workSpace
      this.changeOrganizations(row)
      this.organizationTitleText = this.$t('member.staff.edit-organization')
      this.organizationSubmitType = 'edit'
      this.organizationSelect = true
      // 人员无身份时候,删除roleId属性
      if (!row.roleId) {
        delete row.roleId
      }
      if (!row.status) {
        delete row.status
      }
      this.organizationForm = JSON.parse(JSON.stringify(row))
      if (this.organizationForm.startTime && this.organizationForm.endTime) {
        let temp = []
        temp.push(this.organizationForm.startTime)
        temp.push(this.organizationForm.endTime)
        this.$set(this.organizationForm, 'dateRange', temp) // 防止时间组件不能及时更新
      }
      if (!this.organizationForm.addresses) {
        this.$set(this.organizationForm, 'addresses', []) // 地点
      } else {
        this.organizationForm.addresses = this.organizationForm.addresses.map(address => {
          return address.id
        })
      }
      this.organizationDialogVisible = true
    },
    // 提交用户绑定机构表单
    organizationFormSubmit (formName) {
      this.$refs[formName].validate(async valid => {
        if (valid) {
          const formData = JSON.parse(JSON.stringify(this.organizationForm))
          formData.startTime = formData.dateRange ? Math.floor(formData.dateRange[0]) : 0
          formData.endTime = formData.dateRange ? Math.floor(formData.dateRange[1]) : 0
          delete formData.dateRange // 清除多余属性
          if (formData.addresses.length) {
            formData.addresses = []
            formData.addresses = this.addressList.filter(address => {
              return this.organizationForm.addresses.includes(address.id)
            })
          }
          // 删除 role 仅提交 roleId
          if (formData.role) delete formData.role
          const res = this.organizationSubmitType === 'add'
            ? await organizationsApi.organizationsIdMembersPost(formData.organizationId, { ...formData })
            : await organizationsApi.organizationsIdMembersMemberIdPatch(formData.organizationId, formData.id, { ...formData })
          if (res) {
            this.organizationDialogClose()
            this.getData()
          }
        }
      })
    },
    // 获取已注册用户
    getUsersQuery (queryName) {
      this.$refs.form.validate(async valid => {
        if (valid) {
          this.$set(this.form, 'resultForm', {})
          this.$set(this.form, 'resultName', '')
          this.$set(this.form, 'department', '')
          const res = await usersApi.usersGet(
            this.currentPage,
            this.pageSize,
            '',
            '',
            queryName
          )
          if (res.data.total === 1) {
            this.form.resultForm = res.data.data[0]
            this.$set(this.form, 'resultName', this.form.resultForm.name)
            this.$set(this.form, 'department', this.form.resultForm.department)
          } else {
            this.$message.warning(this.$t('member.staff.can-not-query'))
          }
        }
      })
    },
    // 获取机构
    async getOrganizations () {
      const res = await organizationsApi.organizationsGet(0, 100000)
      if (res.data) {
        this.organizationList = res.data.data
      }
    },
    // 重置搜索
    resetGetData () {
      this.queryForm = {}
      this.selectFunction()
    },
    // 复制链接
    copyLink (ref) {
      // 暂未考虑兼容性
      let el = this.$refs[ref]
      el.select()
      document.execCommand('copy')
    },
    // 提交表单
    formSubmit (formName) {
      // 必须上传底库照片
      if (!this.uploadFiles.length) {
        this.$handleErrorMessage(this.$t('member.staff.photo.required'))
        return
      }
      // 表单校验
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          // 深拷贝，消除数据处理对当前显示表单的影响
          this.form.username = this.loginType === 'email' ? this.form.email : this.form.phone
          const submitForm = JSON.parse(JSON.stringify(this.form))
          // 序列化数组传递
          this.$set(submitForm, 'addresses', JSON.stringify(submitForm.addresses))
          // 判断表单提交类型
          if (this.submitType === 'add') {
            this.addSubmit(submitForm)
          } else if (this.submitType === 'edit') {
            this.editSubmit(submitForm)
          }
        }
      })
    },
    // 切换添加方式
    changeAddType (type) {
      this.addType = type
      this.$refs.form.clearValidate()
    },
    // 提交添加
    async addSubmit (submitForm) {
      if (submitForm.dateRange) {
        submitForm.startTime = Math.floor(submitForm.dateRange[0])
        submitForm.endTime = Math.floor(submitForm.dateRange[1])
        delete submitForm.dateRange // 清除多余属性
      }
      const res = await membersApi.membersCreateWithNewUserPost({ ...submitForm })
      if (res) {
        this.$handleSuccessMessage()
        this.dialogClose()
        this.getData()
      }
    },
    // 添加已有用户提交
    addOldSubmit () {
      this.$refs.form.validate(async valid => {
        if (valid) {
          if (!this.form.resultName) return false
          const formData = {
            'organizationId': this.$store.state.currentOrganization && this.$store.state.currentOrganization.id,
            'userId': this.form.resultForm.id,
            'levelId': this.form.levelId
          }
          const res = await invitationsApi.invitationsPost(formData)
          if (res) {
            this.$handleSuccessMessage()
            this.dialogClose()
            this.getData()
          }
        }
      })
    },
    // 提交编辑
    async editSubmit (submitForm) {
      submitForm.password = submitForm.newPassword || ''
      if (submitForm.dateRange) {
        submitForm.startTime = Math.floor(submitForm.dateRange[0])
        submitForm.endTime = Math.floor(submitForm.dateRange[1])
        delete submitForm.dateRange // 清除不需要的属性
      } else {
        submitForm.startTime = 0
        submitForm.endTime = 0
      }
      delete submitForm.newPassword
      delete submitForm.passwordConfirmation
      const res = await usersApi.usersIdPatch(submitForm.id, { ...submitForm })
      if (res) {
        this.$handleSuccessMessage()
        this.dialogClose()
        this.getData()
      }
    },
    // 底库照片上传处理
    async handleChange (file, fileList) {
      this.uploadFiles = fileList
      this.detectPic = true
      try {
        const res = await fileApi.uploadsImagesPost(file.raw, true)
        if (!this.form.images) {
          this.$set(this.form, 'images', [])
        }
        let img = {
          uid: file.raw.uid,
          url: res.data
        }
        this.form.images.push(img)
      } catch {
        this.uploadFiles.pop()
      }
      this.detectPic = false
    },
    handleRemove (file, fileList) {
      this.uploadFiles = fileList
      this.form.images = this.form.images.filter(item => {
        if (item.uid === undefined) {
          return item.id !== file.id
        } else {
          return item.uid !== file.uid
        }
      })
    },
    // 显示详情表单
    lookForm (row) {
      this.titleText = this.$t('member.staff.see-detail')
      this.submitType = 'look'
      this.form = JSON.parse(JSON.stringify(row))
      if (this.form.startTime && this.form.endTime) {
        let temp = []
        temp.push(this.form.startTime)
        temp.push(this.form.endTime)
        this.$set(this.form, 'dateRange', temp) // 防止时间组件不能及时更新
      }
      this.handleEditImageShow(row)
      this.dialogVisible = true
    },
    // 显示新增表单
    addForm () {
      this.form.levelId = this.$store.state.currentOrganization.levelId
      this.titleText = this.$t('member.staff.add')
      this.submitType = 'add'
      this.dialogVisible = true
    },
    // 显示编辑表单
    editForm (row) {
      this.titleText = this.$t('member.staff.edit')
      this.submitType = 'edit'
      this.addType = ''
      this.form = JSON.parse(JSON.stringify(row))
      this.handleEditImageShow(row)
      this.dialogVisible = true
    },
    // 编辑时显示图片处理
    handleEditImageShow (row) {
      // 如果存在底库照片，进行展示
      if (this.form.images) {
        this.uploadFiles = JSON.parse(JSON.stringify(row.images))
      }
      // 如果存在封面照片，进行展示
      if (this.form.maskImage) {
        this.tempMaskImageFiles = []
        let file = { id: '', url: '' }
        file.id = this.form.maskImageId
        file.url = this.form.maskImage
        this.tempMaskImageFiles.push(file)
        this.maskImageFiles = JSON.parse(JSON.stringify(this.tempMaskImageFiles))
      }
    },
    // 删除表单
    delForm (row) {
      this.$confirm(this.$t('member.staff.if-delete'), this.$t('button.tip'), {
        confirmButtonText: this.$t('button.confirm'),
        cancelButtonText: this.$t('button.cancel'),
        type: 'warning'
      }).then(async () => {
        const res = await usersApi.usersIdDelete(row.id)
        if (res) {
          // 判断是否为该页最后一条数据且当前页数不为首页，则获取上一页数据
          if (this.tableData.length === 1 && this.currentPage !== 1) {
            this.currentPage = --this.currentPage
          }
          this.$handleSuccessMessage()
          this.getData()
        }
      }).catch(() => {})
    },
    // 关闭添加人员对话框
    dialogClose (formName) {
      this.dialogVisible = false
      // 关闭对话框清空数据
      this.form = {}
      this.addType = 'create'
      if (this.$refs['upload-images']) {
        this.$refs['upload-images'].clearFiles()
        this.uploadFiles = []
      }
      if (this.$refs['mask-images']) {
        this.$refs['mask-images'].clearFiles()
        this.maskImageFiles = []
      }
      this.$refs.form && this.$refs.form.clearValidate()
    },
    // 关闭添加机构对话框
    organizationDialogClose () {
      this.organizationDialogVisible = false
      this.organizationForm = { levelId: '', addresses: [] }
      this.levelsData = []
      this.addressList = []
      this.memberTypeList = []
      this.$refs.organizationForm && this.$refs.organizationForm.resetFields()
    },
    // select全选
    selectAll () {
      if (this.organizationForm.addresses.length === this.addressList.length) {
        this.$set(this.organizationForm, 'addresses', [])
      } else {
        this.$set(this.organizationForm, 'addresses', [])
        for (let item of this.addressList) {
          this.organizationForm.addresses.push(item.id)
        }
      }
    },
    // 删除用户绑定的某一机构
    async deleteOrganization (row) {
      if (sessionStorage.getItem('currentOrganization') && row.id === JSON.parse(sessionStorage.getItem('currentOrganization')).memberId) {
        this.$alert(this.$t('member.staff.admin-can-not-delete-self'), this.$t('button.tip'), {
          confirmButtonText: this.$t('member.staff.understand'),
          showCancelButton: false,
          type: 'warning'
        })
      } else {
        this.$confirm(this.$t('member.staff.if-delete'), this.$t('button.tip'), {
          confirmButtonText: this.$t('button.confirm'),
          cancelButtonText: this.$t('button.cancel'),
          type: 'warning'
        }).then(async () => {
          const res = await organizationsApi.organizationsIdMembersMemberIdDelete(row.organizationId, row.id)
          if (res) {
            // 判断是否为该页最后一条数据且当前页数不为首页，则获取上一页数据
            if (this.tableData.length === 1 && this.currentPage !== 1) {
              this.currentPage = --this.currentPage
            }
            this.$handleSuccessMessage()
            this.getData()
          }
        }).catch(() => {})
      }
    },
    // 绑定机构时
    changeOrganizations (row) {
      // console.log(row)
      // console.log(this.organizationList)
      // this.organizationList
      // this.levelsIdTreeGet(row.organization.levelId)
      if (this.$store.state.isSuperAdmin) {
        // 超管 根据organizationId查找出对应levelId
        for (let item of this.organizationList) {
          if (row.organizationId === item.id) {
            this.levelsIdTreeGet(item.levelId)
            break
          }
        }
      } else {
        this.levelsIdTreeGet(this.$store.state.currentOrganization.levelId)
      }
      this.findAddressList(row.organizationId)
      this.getOrganizationRoles(row.organizationId)
    },
    // 查找所有地点
    async findAddressList (organizationId) {
      this.$set(this.organizationForm, 'addresses', [])
      const res = await addressesApi.addressesGet(0, 100000, '', '', '', '', organizationId)
      if (res.data) {
        this.addressList = res.data.data
      }
    },
    // 查找机构名下所有身份
    async getOrganizationRoles (organizationId) {
      const res = await organizationRolesApi.organizationRolesGet(0, 100000, '', organizationId)
      if (res.data) {
        this.memberTypeList = res.data.data
      }
    },
    // 封面照片上传处理
    async handleMaskChange (file, fileList) {
      this.maskImageFiles = fileList
      try {
        const res = await fileApi.uploadsImagesPost(file.raw, false)
        this.form.maskImage = res.data
      } catch {
        this.maskImageFiles = []
      }
    },
    handleMaskRemove (file, fileList) {
      this.maskImageFiles = fileList
      this.form.maskImage = ''
    },
    // 显示封面照预览信息
    showMaskImg (row) {
      this.srcList = []
      this.$nextTick(() => {
        this.srcList.push(row.maskImage)
      })
    },
    // 显示底库预览信息
    showBigImg (row) {
      this.srcList = []
      this.$nextTick(() => {
        for (let item of row.images) {
          this.srcList.push(item.url)
        }
      })
    }
  }
}
</script>
<style lang="stylus" scoped>
.tag-ellipsis
  max-width 100%
  padding-right 12px
  .text-ellipsis
    display inline-block
    margin-right 6px
    max-width calc(100% - 26px)
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    vertical-align middle
#required-form-item
  &>:first-child
    &:before
      content '*'
      color #F56C6C
      margin-right 4px
.add-form-button
  margin-bottom 12px
.cascader-box
  >>> .el-scrollbar__view
        border-right 1px solid #ededed
</style>
