<template>
  <div>
    <Card>
      <CardMenuItem slot="cardTitle" :title="$t('member.staff.management')"  :index="{ name: 'member-manage'}"/>
      <CardMenuItem slot="cardTitle" :title="$t('member.invite-list')" isActive/>
      <!-- 表格 -->
      <el-table slot="contain" header-cell-class-name="table__header" row-class-name="table__row"
                :data="tableData" stripe>
        <el-table-column :label="$t('member.staff.username')" prop="user.username"></el-table-column>
        <el-table-column :label="$t('member.staff.name')" prop="user.name"></el-table-column>
        <el-table-column prop="status" :label="$t('tags.status')">
          <template>
            <el-tag type="warning">
              {{ $t('tags.pending') }}
            </el-tag>
          </template>
        </el-table-column>
        <el-table-column :label="$t('button.action')">
          <template slot-scope="scope">
            <span class="span__bt" @click="cancelInvitation(scope.row)">
              {{ $t('button.revoke') }}
            </span>
          </template>
        </el-table-column>
      </el-table>
    </Card>
  </div>
</template>
<script>
import { organizationsApi } from '../../api'
import { mapState } from 'vuex'
export default {
  data () {
    return {
      tableData: [] // 表格数据
    }
  },
  watch: {
    level (newVal, oldVal) {
      this.getData()
    }
  },
  computed: mapState(['currentOrganization', 'level']),
  mounted () {
    this.getData()
  },
  methods: {
    // 获取表格数据
    async getData () {
      const res = await organizationsApi.organizationsIdInvitationsGet(this.currentOrganization.id, this.level | 0)
      if (res.data) {
        this.tableData = res.data.data
        this.totalCount = res.data.total
      }
    },
    cancelInvitation (row) {
      this.$confirm(this.$t('memberInvitation.撤销提醒'), this.$t('button.tip'), {
        confirmButtonText: this.$t('button.confirm'),
        cancelButtonText: this.$t('button.cancel')
      }).then(async () => {
        const res = await organizationsApi.organizationsIdInvitationsInvitationIdPatch(this.currentOrganization.id, row.id, { status: -2 })
        if (res) {
          this.getData()
        }
      }).catch(() => {})
    }
  }
}
</script>
<style lang="stylus" scoped>
</style>
