<template>
  <div>
    <Card>
      <CardMenuItem slot="cardTitle" :title="$t('visitor.appointment')" isActive/>
      <div slot="buttonGroup">
        <el-button v-if="$store.state.isSuperAdmin" @click="getUnboundMember" type="primary">
          {{ `${ $t('visitor.appointment.all') }` }}
        </el-button>
        <el-button @click="exportForm()" type="primary">
          {{ $t('button.export-visitorlog') }}
        </el-button>
        <el-button @click="addForm()" type="primary">
          {{ $t('button.add') }}
        </el-button>
      </div>
      <!-- 查询栏 -->
      <QueryBar slot="queryBar">
        <div slot="queryBarLeft" style="float: left;text-align: left">
          {{ `${ $t('visitor.query-content') }：` }}
          <el-select v-model="queryForm.searchFromValue" clearable class="query-bar-item"
                     @change="handleSearchChange">
            <el-option v-for="item in searchValueList"
                       :key="item.value"
                       :value="item.value"
                       :label="item.label"></el-option>
          </el-select>
          {{ `${ $t('visitor.content') }：` }}
          <el-input :disabled="!queryForm.searchFromValue" v-model.trim="queryForm[queryForm.searchFromValue]" clearable class="query-bar-item"></el-input>
          <el-button @click="clearPage()">
            {{ $t('button.query') }}
          </el-button>
          <el-button @click="resetGetData()">
            {{ $t('button.reset') }}
          </el-button>
        </div>
      </QueryBar>
      <!-- 表格 -->
      <el-table slot="contain" header-cell-class-name="table__header" row-class-name="table__row"
        :data="tableData" stripe>
        <el-table-column :label="$t('visitor.visitor')" prop="name"></el-table-column>
        <el-table-column :label="$t('visitor.visitor.photo')" width="120">
          <template slot-scope="scope" v-if="scope.row.baseImage">
            <el-image class="member-image" v-if="scope.row.baseImage && scope.row.baseImage[0]" :src="scope.row.baseImage[0]"
              @click="showBigImg(scope.row.baseImage[0])" :preview-src-list="srcList">
              <div slot="placeholder" class="loading-img">
                <i class="fa fa-spinner fa-3x fa-pulse" aria-hidden="true"></i>
              </div>
            </el-image>
          </template>
        </el-table-column>
        <el-table-column :label="$t('visitor.interviewee')" prop="member.user.name"></el-table-column>
        <el-table-column :label="$t('visitor.interviewees.photo')" width="120" prop="member.user.images">
          <template slot-scope="scope">
            <el-image class="member-image" v-if="scope.row.member && scope.row.member.user && scope.row.member.user.images && scope.row.member.user.images[0]" :src="scope.row.member.user.images[0].url"
                      @click="showBigImg(scope.row.member.user.images[0].url)" :preview-src-list="srcList">
              <div slot="placeholder" class="loading-img">
                <i class="fa fa-spinner fa-3x fa-pulse" aria-hidden="true"></i>
              </div>
            </el-image>
          </template>
        </el-table-column>
        <el-table-column :label="$t('visitor.start-time')" prop="startTime">
          <template slot-scope="scope">
            <span v-if="scope.row.startTime">
              <i class="el-icon-time"></i>
              {{ transformToDateTime(scope.row.startTime) }}
            </span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('visitor.end-time')" prop="endTime">
          <template slot-scope="scope">
            <span v-if="scope.row.endTime">
              <i class="el-icon-time"></i>
              {{ transformToDateTime(scope.row.endTime) }}
            </span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('visitor.place')" prop="addresses">
          <template slot-scope="scope">
            <el-tooltip effect="dark" :content="scope.row.addressesShow && scope.row.addressesShow.map((item) => item.name).join('、')" placement="top">
              <div v-if="scope.row.addressesShow">
                <div v-for="item in scope.row.addressesShow.slice(0, 3)" :key="item.id">
                  <el-tag :disable-transitions="true" class="tag-ellipsis">
                    {{ item.name ? item.name : `${ $t('visitor.delete') }` }}
                  </el-tag>
                </div>
                <div style="cursor: pointer" v-if="scope.row.addressesShow.length > 3">{{ $t('tags.data-count', { total: scope.row.addressesShow.length } )}}</div>
              </div>
            </el-tooltip>
          </template>
        </el-table-column>
        <el-table-column :label="$t('visitor.colleagues')" prop="peers" min-width="100px">
          <template slot-scope="scope">
            <el-tag :disable-transitions="true" class="tag-eye-ellipsis" v-for="item in scope.row.peers.slice(0, 3)" :key="item.id">
              <span class="text-ellipsis">{{ item.name ? item.name : `` }}</span>
              <i class="el-icon-view" style="margin-left: 10px" title="show detail" @click="() => { peerDetail = item; peerVisible = true}"></i>
            </el-tag>
            <el-popover
                placement="top"
                width="400"
                trigger="hover">
                <el-tag :disable-transitions="true" v-for="item in scope.row.peers" :key="item.id">
                  {{ item.name ? item.name : `` }}
                  <i class="el-icon-view" style="margin-left: 10px" title="show detail" @click="() => { peerDetail = item; peerVisible = true}"></i>
                </el-tag>
              <div slot="reference" style="cursor: pointer" v-if="scope.row.peers.length > 3">{{ $t('tags.data-count', { total: scope.row.peers.length }) }}</div>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column :label="$t('visitor.reason')" prop="reason"></el-table-column>
        <el-table-column :label="$t('organization.affiliation')" prop="organizationId">
          <template slot-scope="scope" v-if="scope.row.organizationId">
            <div v-if="scope.row.organizationId && handleGetTargetByQueryMixin(scope.row.organizationId, organizationList, 'id', 'name')">
              {{ handleGetTargetByQueryMixin(scope.row.organizationId, organizationList, 'id', 'name') }}
            </div>
            <el-tag type="danger" :disable-transitions="true" v-else>
              {{ $t('visitor.delete') }}
            </el-tag>
          </template>
        </el-table-column>
        <el-table-column prop="status" :label="$t('tags.status')">
          <template slot-scope="scope">
            <el-tag v-if="scope.row.status === 0" type="primary">{{ $t('tags.check-pending') }}</el-tag>
            <el-tag v-else-if="scope.row.status === 1" :type="new Date().getTime() > scope.row.endTime ? 'danger' : 'info'">{{ new Date().getTime() > scope.row.endTime ? $t('tags.not-visited') : $t('tags.allow') }}</el-tag>
            <el-tag v-else-if="scope.row.status === -1" type="danger">{{ $t('tags.refuse') }}</el-tag>
            <el-tag v-else-if="scope.row.status === -2" type="warning">{{ $t('tags.invalid') }}</el-tag>
            <el-tag v-else-if="scope.row.status === 2" type="success">{{ $t('tags.visited') }}</el-tag>
          </template>
        </el-table-column>
        <el-table-column :label="$t('button.action')" width="300">
          <template slot-scope="scope">
            <span v-if="scope.row.status === 0">
              <span class="span__bt" @click="allowForm(scope.row)">
                {{ $t('button.allow') }}
              </span>
              <div class="divider-vertical"></div>
              <span class="span__bt" @click="denyForm(scope.row)">
                {{ $t('button.reject') }}
              </span>
              <div class="divider-vertical"></div>
              <span class="span__bt" @click="editForm(scope.row)">
                {{ $t('button.edit') }}
              </span>
              <div class="divider-vertical"></div>
            </span>
            <span class="span__bt" @click="delForm(scope.row)">
              {{ $t('button.delete') }}
            </span>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination class="pagination" slot="footer"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="currentPage"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="pageSize"
        layout="slot, sizes, prev, pager, next"
        :total="totalCount">
        <span class="el-pagination__total">
          {{ $t('app.data-count', { total: totalCount}) }}
        </span>
      </el-pagination>
    </Card>

    <!-- 同行人展示框 -->
    <el-dialog
      :visible.sync="peerVisible"
      width="500px"
      @click="peerVisible = false">
      <el-form style="text-align: left" label-width="100px" :model="peerDetail">
        <el-form-item :label="`${ $t('visitor.peers.name') }：`">
          <span>{{peerDetail.name}}</span>
        </el-form-item>
        <el-form-item :label="`${ $t('visitor.cover-photo') }：`">
          <el-image style="width: 100px; height: 100px" :src="peerDetail.maskImage">
            <div slot="error">{{$t('tags.no-picture')}}</div>
          </el-image>
        </el-form-item>
        <el-form-item :label="`${ $t('visitor.bottom-photo') }：`">
          <el-image v-for="(url, index) in peerDetail.baseImage" :key="index" style="width: 100px; height: 100px;margin-right: 10px" :src="url" fit="fill">
            <div slot="error">{{$t('tags.no-picture')}}</div>
          </el-image>
        </el-form-item>
      </el-form>
    </el-dialog>

    <!-- 对话框 -->
    <el-dialog
      :title="titleText"
      :visible.sync="dialogVisible"
      width="550px"
      class="input_box"
      @close="dialogClose()"
    >
      <el-form :model="form" :rules="rules" style="text-align: left" ref="form" label-width="120px">
        <el-form-item :label="`${$t('organization.affiliation')}`" prop="organizationId" v-if="$store.state.isSuperAdmin">
          <el-select v-model="form.organizationId" clearable :disabled="organizationSelect" style="width:200px"
                     @change="getOrganizationVisitorAddress(form.organizationId)">
            <el-option v-for="item in organizationList"
                       :key="item.id"
                       :value="item.id"
                       :label="item.name">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item :label="`${$t('organization.affiliation')}`" v-else>
          <el-select v-model="$store.state.currentOrganization.id" clearable class="query-bar-item" disabled style="width:200px">
            <el-option :value="$store.state.currentOrganization.id" :label="$store.state.currentOrganization.name"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item :label="`${$t('visitor.interviewee')}`" clearable prop="memberId">
          <el-select v-model="form.memberId" style="width: 200px" filterable clearable @change="getVisitorInfo(form.memberId)">
            <el-tooltip v-for="item in intervieweeInfoList" :disabled="!item.disabled"
              :key="item.id" class="item" effect="dark" :content="$t('visitor.interviewee.access')" placement="right">
            <el-option :value="item.id"
                       :label="item.user && item.user.name"
                       :disabled="item.disabled"></el-option>
            </el-tooltip>
          </el-select>
        </el-form-item>
        <el-form-item :label="`${ $t('visitor.visitor') }：`" prop="name">
          <el-input v-model.trim="form.name" style="width: 200px" clearable></el-input>
        </el-form-item>
        <el-form-item :label="`${ $t('visitor.mail') }：`" prop="email">
          <el-input v-model.trim="form.email" style="width: 200px" clearable></el-input>
        </el-form-item>
        <el-form-item :label="`${ $t('visitor.phone') }：`" prop="phone">
          <el-input v-model.trim="form.phone" style="width: 200px" clearable></el-input>
        </el-form-item>
        <el-form-item :label="`${ $t('visitor.identity') }：`" prop="idCard">
          <el-input v-model.trim="form.idCard" style="width: 200px" clearable></el-input>
        </el-form-item>
        <!-- 照片上传 -->
        <el-form-item :label="`${ $t('visitor.cover-photo') }：`" prop="maskImageFiles">
          <el-upload
            ref="mask-images"
            accept=".jpg,.jpeg,.png,.bmp"
            :class="{disabled: maskImageFiles.length >= 1}"
            action=""
            :limit="1"
            :file-list="maskImageFiles"
            list-type="picture-card"
            :auto-upload="false"
            :on-change="handleMaskChange"
            :on-remove="handleMaskRemove">
            <i class="el-icon-plus"></i>
          </el-upload>
        </el-form-item>
        <el-form-item>
          <span>{{ $t('visitor.maskImage.tip') }}</span>
        </el-form-item>
        <el-form-item id="required-form-item" :label="`${ $t('visitor.bottom-photo') }：`" prop="uploadFiles">
          <el-upload
            ref="upload-images"
            accept=".jpg,.jpeg,.png,.bmp"
            action=""
            :file-list="uploadFiles"
            :class="{disabled: uploadFiles.length >= 3}"
            :limit="3"
            list-type="picture-card"
            :auto-upload="false"
            :on-change="handleChange"
            :on-remove="handleRemove"
            :disabled="$store.state.isSubmitting">
            <i class="el-icon-plus"></i>
          </el-upload>
        </el-form-item>
        <el-form-item>
          <span>{{ $t('visitor.baseImage.tip') }}</span>
        </el-form-item>
        <el-form-item :label="`${ $t('visitor.pass-time-limit') }：`" prop="dateRange">
          <el-date-picker
            v-model="form.dateRange"
            type="datetimerange"
            format="yyyy-MM-dd HH:mm"
            :default-time="['00:00:00', '23:59:59']"
            unlink-panels
            :picker-options="pickerFutureTime"
            value-format="timestamp">
          </el-date-picker>
        </el-form-item>
        <el-form-item :label="`${$t('visitor.place')}`" prop="addresses">
          <el-select v-model="form.addresses" clearable multiple>
            <el-option v-for="item in addressList"
                       :key="item.id"
                       :value="item.id"
                       :label="item.name"
                       :disabled="!item.isVisited"></el-option>
          </el-select>
        </el-form-item>
        <!-- 同行人 -->
        <el-divider></el-divider>
        <el-form-item :label="`${ $t('visitor.colleagues') }：`">
          <i class="el-icon-circle-plus" @click="addPeers" :title="$t('visitor.peers.add')" style="font-size: 20px;color: #409EFF"></i>
        </el-form-item>
        <div v-for="(item, index) in form.peers" :key="index" class="peer-content">
          <el-form-item :label="`${ $t('visitor.peers.name') }：`" :prop="'peers.' + index + '.name'" :rules="{ required: true, message: $t('visitor.peer.name.required'), trigger: 'blur' }">
            <el-input v-model.trim="item.name" style="width: 200px"></el-input>
            <i class="el-icon-remove removePeer" :title="$t('visitor.peers.delete')" @click="deletePeer(index)"></i>
          </el-form-item>
          <el-form-item :label="`${ $t('visitor.cover-photo') }：`" prop="peerMaskImg">
            <el-upload
              ref="mask-images"
              accept=".jpg,.jpeg,.png,.bmp"
              action=""
              :limit="1"
              :class="{disabled: form.peers[index].peerMaskImage.length >= 1}"
              :file-list="form.peers[index].peerMaskImage"
              list-type="picture-card"
              :auto-upload="false"
              :on-change="(file, fileList) => peerMaskChange(file, fileList, index)"
              :on-remove="(file, fileList) => peerMaskRemove(file, fileList, index)">
              <i class="el-icon-plus"></i>
            </el-upload>
          </el-form-item>
          <el-form-item id="required-form-item" :label="`${ $t('visitor.bottom-photo') }：`" prop="peerPhoto">
            <el-upload
              ref="upload-images"
              accept=".jpg,.jpeg,.png,.bmp"
              action=""
              :file-list="form.peers[index].peerPhoto"
              :limit="3"
              :class="{disabled: form.peers[index].peerPhoto.length >= 3}"
              list-type="picture-card"
              :auto-upload="false"
              :on-change="(file, fileList) => peerChange(file, fileList, index)"
              :on-remove="(file, fileList) => peerRemove(file, fileList, index)"
              :disabled="$store.state.isSubmitting">
              <i class="el-icon-plus"></i>
            </el-upload>
          </el-form-item>
          <el-divider></el-divider>
        </div>
        <el-form-item :label="`${$t('visitor.reason')}`" prop="reason">
          <el-input v-model.trim="form.reason" style="width: 200px" clearable></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogClose()">
          {{ $t('button.cancel') }}
        </el-button>
        <el-button @click="formSubmit('form')" :loading="$store.state.isSubmitting">
          {{ $store.state.isSubmitting && detectPic ? $t('visitor.image-detection') + '...' : $t('button.confirm') }}
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import moment from 'moment'
import { validatePhone } from '@utils/formHandle/validateForm.js'
import { addressesApi, fileApi, membersApi, organizationsApi, visitorAppliesApi } from '../../api'
import { dataHandleMixin } from '@/mixins/dataHandleMixin'
import { exportCSV } from '@utils/fileHandle/exportFile.js'

export default {
  mixins: [dataHandleMixin],
  data () {
    return {
      tableData: [], // 表格数据
      queryForm: {}, // 查询表单
      searchValueList: [
        {
          value: 'name',
          label: this.$t('visitor.visitor.name')
        },
        {
          value: 'memberName',
          label: this.$t('visitor.interviewees.name')
        }
      ],
      srcList: [], // 大图预览的图片地址
      detectPic: false,
      // 分页
      currentPage: 1,
      pageSize: 10,
      totalCount: 0,
      temp: 'getData',
      // 对话框
      peerDetail: {},
      peerVisible: false,
      dialogVisible: false,
      titleText: this.$t('visitor.appointment.add'),
      submitType: 'add',
      organizationSelect: true,
      form: {
        addresses: [],
        peers: []
      }, // 表单
      rules: { // 表单校验
        organizationId: [{ required: true, message: this.$t('organization.affiliation-required'), trigger: 'change' }],
        memberId: [{ required: true, message: this.$t('visitor.interviewee.required'), trigger: 'change' }],
        name: [{ required: true, message: this.$t('visitor.visitor.name.required'), trigger: 'blur' }],
        email: [
          { required: window.g.loginType === 'email', message: this.$t('member.staff.mail-required'), trigger: 'blur' },
          { type: 'email', message: this.$t('member.staff.vaild-mail-required'), trigger: 'blur' }
        ],
        phone: [
          { required: window.g.loginType === 'phone', message: this.$t('member.staff.photo-required'), trigger: 'blur' },
          { validator: validatePhone, trigger: 'blur' }
        ],
        dateRange: [{ required: true, message: this.$t('visitor.pass-time-limit.required'), trigger: 'blur' }],
        addresses: [{ required: true, message: this.$t('visitor.place.required'), trigger: 'change' }],
        reason: [{ required: true, message: this.$t('visitor.reason.required'), trigger: 'blur' }],
        status: [{ required: true, message: this.$t('visitor.status.required'), trigger: 'change' }]
      },
      organizationList: [], // 所有机构
      intervieweeInfoList: [], // 所有访客
      addressList: [], // 所有地址
      maskImageFiles: [], // 封面照
      uploadFiles: [], // 上传底库图片列表
      pickerFutureTime: { // 禁用过去的时间
        disabledDate (time) {
          return time.getTime() < moment().subtract(1, 'days').valueOf()
        }
      }
    }
  },
  watch: {
    getLevel (newVal, oldVal) {
      if (newVal !== null) {
        this.getData()
      }
    }
  },
  computed: {
    getLevel () {
      return this.$store.state.level
    }
  },
  mounted () {
    this.getOrganizations() // 查找所有机构
    this.getData()
  },
  methods: {
    addPeers () {
      this.form.peers.push({ name: '', peerMaskImage: [], peerPhoto: [], maskImage: '', baseImage: [] })
    },
    deletePeer (index) {
      this.form.peers.splice(index, 1)
    },
    async exportForm () {
      const res = await visitorAppliesApi.visitorAppliesGet(0, 100000)
      if (res.data) {
        res.data.data.map(item => {
          item.startTime = item.startTime === 0 ? '' : this.transformToDateTime(item.startTime)
          item.deadline = item.endTime
          item.endTime = item.endTime === 0 ? '' : this.transformToDateTime(item.endTime)
          item.addresses = item.addresses.map((item) => item.name)
          item.addresses = item.addresses.join('、')
          item.peers = item.peers.map((item) => item.name)
          item.peers = item.peers.join('、')
          switch (item.status) {
            case 0: item.zhstatus = this.$t('tags.check-pending')
              break
            case 1: item.zhstatus = new Date().getTime() > item.deadline ? this.$t('tags.not-visited') : this.$t('tags.allow')
              break
            case -1: item.zhstatus = this.$t('tags.refuse')
              break
            case 2: item.zhstatus = this.$t('tags.visited')
              break
            case -2: item.zhstatus = this.$t('tags.invalid')
              break
            default: item.zhstatus = ''
          }
        })
        exportCSV(res.data.data, ['name', 'member.user.name', 'startTime', 'endTime', 'addresses', 'peers', 'reason', 'organization.name', 'zhstatus'], ['访客', '被访人', '开始时间', '结束时间', '通行地点', '同行人', '事由', '所属机构', '状态'], this.$t('visitor.appointment'))
      }
    },
    handleSearchChange () {
      let value = this.queryForm.searchFromValue
      this.searchValueList.forEach(item => {
        if (item.value !== value) {
          if (this.queryForm[item.value]) {
            this.queryForm[item.value] = ''
          }
        }
      })
    },
    // 切换分页条件
    handleSizeChange (val) {
      this.pageSize = val
      this.selectFunction()
    },
    handleCurrentChange (val) {
      this.currentPage = val
      this.selectFunction()
    },
    async selectFunction () {
      const dom = document.getElementsByClassName('card__body')
      if (dom && dom[0]) dom[0].scrollTop = 0
      let res = []
      switch (this.temp) {
        case 'getData': res = await visitorAppliesApi.visitorAppliesGet(
          this.currentPage,
          this.pageSize,
          this.queryForm.name || '',
          this.queryForm.memberName || '',
          '', '', '',
          this.queryForm.organizationId || '',
          this.getLevel
        )
          break
        case 'getUnboundMember': res = await visitorAppliesApi.visitorAppliesGet(
          this.currentPage,
          this.pageSize,
          this.queryForm.name || '',
          this.queryForm.memberName || '',
          '', '', '',
          this.queryForm.organizationId || '',
          undefined
        )
          this.$store.commit('setLevel', null)
      }
      if (res.data) {
        this.tableData = res.data.data
        this.tableData.forEach(item => {
          if (item.addresses.length) {
            item.addressesShow = item.addresses
            item.addresses = item.addresses.map(val => val.id)
          }
        })
        this.totalCount = res.data.total
      }
    },
    clearPage () {
      this.currentPage = 1
      this.pageSize = 10
      this.selectFunction()
    },
    // 获取表格数据
    getData () {
      this.temp = 'getData'
      this.queryForm = {}
      this.clearPage()
    },
    // 查看未绑定人员
    getUnboundMember () {
      this.temp = 'getUnboundMember'
      this.queryForm = {}
      this.clearPage()
    },
    // 获取机构
    async getOrganizations () {
      const res = await organizationsApi.organizationsGet(0, 100000)
      if (res.data) {
        this.organizationList = res.data.data
      }
    },
    // 改变机构，获取机构下的人员和地址
    getOrganizationVisitorAddress (organizationId) {
      // 隐藏memberId赋值，避免触发初始校验
      // this.$set(this.form, 'memberId', '')
      this.$set(this.form, 'addresses', [])
      this.form.organization = this.organizationList.filter(item => {
        return item.id === organizationId
      })[0]
      if (organizationId === '') {
        this.intervieweeInfoList = []
        this.addressList = []
        return
      }
      this.findVisitorInfoList(organizationId)
      this.getAddress(organizationId)
    },
    getVisitorInfo (memberId) {
      this.form.member = this.intervieweeInfoList.filter(item => {
        return item.id === memberId
      })[0]
    },
    // 查找所有访客
    async findVisitorInfoList (organizationId) {
      const res = await membersApi.membersGet('', organizationId, 0, 100000)
      if (res.data) {
        this.intervieweeInfoList = res.data.data.filter(item => {
          return item.user !== null
        })
      }
      this.intervieweeInfoList.map(item => {
        if (item.addresses.length === 0) {
          item.disabled = true
        } else {
          item.disabled = false
        }
      })
    },
    // 获取地址
    async getAddress (organizationId) {
      const res = await addressesApi.addressesGet(0, 100000, '', '', '', '', organizationId)
      if (res.data) {
        if (organizationId) {
          this.addressList = res.data.data
        }
      }
    },
    // 重置搜索
    resetGetData () {
      this.queryForm = {}
      this.selectFunction()
    },
    // 访客封面照片上传处理
    async handleMaskChange (file, fileList) {
      this.maskImageFiles = fileList
      try {
        const res = await fileApi.uploadsImagesPost(file.raw, false)
        this.form.maskImage = res
      } catch {
        this.maskImageFiles = []
      }
    },
    handleMaskRemove (file, fileList) {
      this.maskImageFiles = fileList
      this.form.maskImage = ''
    },
    // 访客底库照片上传处理
    async handleChange (file, fileList) {
      this.uploadFiles = fileList
      this.detectPic = true
      try {
        const res = await fileApi.uploadsImagesPost(file.raw, true)
        if (!this.form.baseImage) {
          this.$set(this.form, 'baseImage', [])
        }
        this.form.baseImage.push(res.data)
        file.uurl = res.data
      } catch {
        this.uploadFiles.pop()
      }
      this.detectPic = false
    },
    handleRemove (file, fileList) {
      this.uploadFiles = fileList
      this.form.baseImage = this.form.baseImage.filter(item => {
        if (!file.uurl) {
          return item !== file.url
        } else {
          return item !== file.uurl
        }
      })
    },
    // 同行人封面照片上传处理
    async peerMaskChange (file, fileList, index) {
      this.form.peers[index].peerMaskImage = fileList
      try {
        const res = await fileApi.uploadsImagesPost(file.raw, false)
        this.form.peers[index].maskImage = res.data
      } catch {
        this.form.peers[index].peerMaskImage = []
      }
    },
    peerMaskRemove (file, fileList, index) {
      this.form.peers[index].peerMaskImage = fileList
      this.form.peers[index].maskImage = ''
      this.form = JSON.parse(JSON.stringify(this.form))
    },
    // 同行人底库照片上传处理
    async peerChange (file, fileList, index) {
      this.form.peers[index].peerPhoto = fileList
      this.detectPic = true
      try {
        const res = await fileApi.uploadsImagesPost(file.raw, true)
        this.form.peers[index].baseImage.push(res.data)
      } catch {
        this.form.peers[index].peerPhoto.pop()
      }
      this.detectPic = false
    },
    peerRemove (file, fileList, index) {
      this.form.peers[index].peerPhoto = fileList
      this.form.peers[index].baseImage = this.form.peers[index].peerPhoto.map(item => {
        if (item.url) {
          return item.url
        } else {
          return item
        }
      })
    },
    // 提交表单
    formSubmit (formName) {
      let baseImageRequired = false
      this.form.peers.map(item => {
        if (!item.baseImage.length) {
          baseImageRequired = true
        }
      })
      if (baseImageRequired) {
        this.$handleErrorMessage(this.$t('visitor.peers-photo.required'))
        return
      }
      // 必须上传底库照片
      if (!this.uploadFiles.length) {
        this.$handleErrorMessage(this.$t('visitor.bottom-photo.required'))
        return
      }
      this.$refs[formName].validate(async (valid) => {
        // 表单校验
        if (valid) {
          // 深拷贝，消除数据处理对当前显示表单的影响
          const submitForm = JSON.parse(JSON.stringify(this.form))
          if (submitForm.dateRange) {
            submitForm.startTime = Math.floor(submitForm.dateRange[0])
            submitForm.endTime = Math.floor(submitForm.dateRange[1])
          }
          delete submitForm.dateRange // 清除多余属性
          if (submitForm.addresses.length) {
            let addresses = []
            this.addressList.map((item) => {
              if (submitForm.addresses.includes(item.id)) {
                addresses.push(item)
              }
            })
            submitForm.addresses = addresses
          }
          if (!this.$store.state.isSuperAdmin) {
            submitForm.organizationId = this.$store.state.currentOrganization.id
          }
          // 判断表单提交类型
          const res = this.submitType === 'add'
            ? await visitorAppliesApi.visitorAppliesPost({ ...submitForm })
            : await visitorAppliesApi.visitorAppliesIdPatch(submitForm.id, { ...submitForm })
          if (res) {
            this.$handleSuccessMessage()
            this.dialogClose()
            this.getData()
          }
        }
      })
    },
    // 显示新增表单
    addForm () {
      if (!this.$store.state.isSuperAdmin) {
        this.getOrganizationVisitorAddress(this.$store.state.currentOrganization.id)
      }
      this.titleText = this.$t('visitor.appointment.add')
      this.submitType = 'add'
      this.organizationSelect = false
      this.dialogVisible = true
    },
    // 显示编辑表单
    editForm (row) {
      this.titleText = this.$t('visitor.appointment.edit')
      this.submitType = 'edit'
      this.organizationSelect = true
      this.form = JSON.parse(JSON.stringify(row))
      let temp = []
      temp.push(this.form.startTime)
      temp.push(this.form.endTime)
      this.$set(this.form, 'dateRange', temp) // 防止时间组件不能及时更新
      this.getAddress(this.form.organizationId)
      this.findVisitorInfoList(this.form.organizationId)
      this.handleEditImageShow(row)
      this.dialogVisible = true
    },
    // 编辑时显示图片处理
    handleEditImageShow (row) {
      // 如果存在底库照片，进行展示
      if (this.form.baseImage) {
        this.tempUploadFiles = []
        row.baseImage.map((item, index) => {
          const file = {}
          file.id = index
          file.url = item
          this.tempUploadFiles.push(file)
        })
        this.uploadFiles = JSON.parse(JSON.stringify(this.tempUploadFiles))
      }
      // 如果存在封面照片，进行展示
      if (this.form.maskImage) {
        this.tempMaskImageFiles = []
        let file = { url: '' }
        file.url = this.form.maskImage
        this.tempMaskImageFiles.push(file)
        this.maskImageFiles = JSON.parse(JSON.stringify(this.tempMaskImageFiles))
      }
      if (this.form.peers.length) {
        row.peers.map((item, index) => {
          if (item.baseImage.length) {
            let photoList = []
            item.baseImage.map((url, idx) => {
              const file = {}
              file.id = idx
              file.url = url
              photoList.push(file)
            })
            this.form.peers[index].peerPhoto = photoList
          }
          this.form.peers[index].peerMaskImage = item.maskImage ? [{ url: item.maskImage }] : []
        })
      }
    },
    // 关闭对话框
    dialogClose () {
      this.dialogVisible = false
      this.form = { addresses: [], peers: [] }
      this.maskImageFiles = []
      this.uploadFiles = []
      this.addressList = []
      this.intervieweeInfoList = []
      this.$refs.form.resetFields()
    },
    // 删除表单
    delForm (row) {
      let d = new Date().getTime()
      this.$confirm(row.endTime < d ? this.$t('visitor.expired-delete-reminder') : this.$t('visitor.not-expired-delete-reminder'), this.$t('button.tip'), {
        confirmButtonText: this.$t('button.confirm'),
        cancelButtonText: this.$t('button.cancel'),
        type: 'warning'
      }).then(async () => {
        const res = await visitorAppliesApi.visitorAppliesIdDelete(row.id)
        if (res) {
          // 判断是否为该页最后一条数据且当前页数不为首页，则获取上一页数据
          if (this.tableData.length === 1 && this.currentPage !== 1) {
            this.currentPage = --this.currentPage
          }
          this.$handleSuccessMessage()
          this.getData()
        }
      }).catch((e) => { })
    },
    // 同意表单
    allowForm (row) {
      this.$confirm(this.$t('visitor.reminder.agree'), this.$t('button.tip'), {
        confirmButtonText: this.$t('button.confirm'),
        cancelButtonText: this.$t('button.cancel'),
        type: 'warning'
      }).then(async () => {
        const res = await visitorAppliesApi.visitorAppliesIdPatch(row.id, { status: 1 })
        if (res) {
          // 判断是否为该页最后一条数据且当前页数不为首页，则获取上一页数据
          if (this.tableData.length === 1 && this.currentPage !== 1) {
            this.currentPage = --this.currentPage
          }
          this.$handleSuccessMessage()
          this.getData()
        }
      }).catch((e) => { })
    },
    // 拒绝表单
    denyForm (row) {
      this.$confirm(this.$t('visitor.reminder.refuse'), this.$t('button.tip'), {
        confirmButtonText: this.$t('button.confirm'),
        cancelButtonText: this.$t('button.cancel'),
        type: 'warning'
      }).then(async () => {
        const res = await visitorAppliesApi.visitorAppliesIdPatch(row.id, { status: -1 })
        if (res) {
          // 判断是否为该页最后一条数据且当前页数不为首页，则获取上一页数据
          if (this.tableData.length === 1 && this.currentPage !== 1) {
            this.currentPage = --this.currentPage
          }
          this.$handleSuccessMessage()
          this.getData()
        }
      }).catch((e) => { })
    },
    // 查看大图
    showBigImg (url) {
      this.srcList = []
      this.$nextTick(() => {
        this.srcList.push(url)
      })
    }
  }
}
</script>
<style lang="stylus" scoped>
.tag-ellipsis
  max-width 100%
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
.tag-eye-ellipsis
  max-width 100%
  .text-ellipsis
    display inline-block
    margin-right 6px
    max-width calc(100% - 26px)
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    vertical-align middle
#required-form-item
  &>:first-child
    &:before
      content '*'
      color #F56C6C
      margin-right 4px
.removePeer
  color #F56C6C
  font-size 22px
  float right
  margin-right 30px
  line-height 33px
/*去除peer-content里upload组件过渡效果 因为删除同行人的动画效果不好*/
.peer-content
  >>> .el-upload-list__item
        transition: none !important
</style>
