<template>
  <div class="identity-manage">
    <Card>
      <card-menu-item slot="cardTitle" :title="$t('identity.title')" isActive/>
      <div slot="buttonGroup" v-privilege="'createIdentity'">
        <el-button @click="addForm()" type="primary">
          {{ $t('button.add') }}
        </el-button>
      </div>
      <!-- 查询栏 -->
      <query-bar slot="queryBar">
        <div slot="queryBarLeft">
          {{ `${ $t('organization.affiliation') }：` }}
          <el-select v-model="queryForm.organizationId" clearable class="query-bar-item" v-if="$store.state.isSuperAdmin">
            <el-option v-for="item in organizationList" :key="item.id" :value="item.id" :label="item.name"></el-option>
          </el-select>
          <el-select v-model="$store.state.currentOrganization.name" clearable class="query-bar-item" v-else disabled>
            <el-option :value="$store.state.currentOrganization.name" :label="$store.state.currentOrganization.name"></el-option>
          </el-select>
          {{ `${ $t('identity.name') }：` }}
          <el-input v-model.trim="queryForm.name" clearable class="query-bar-item"></el-input>
          <el-button @click="getData()">
            {{ $t('button.query') }}
          </el-button>
          <el-button @click="resetGetData()">
            {{ $t('button.reset') }}
          </el-button>
        </div>
      </query-bar>
      <!-- 表格 -->
      <el-table slot="contain" header-cell-class-name="table__header" row-class-name="table__row"
        :data="tableData" stripe>
        <el-table-column prop="name" :label="$t('identity')"></el-table-column>
        <el-table-column prop="organizationId" :label="$t('organization.affiliation')">
          <template slot-scope="scope">
            <div v-if="scope.row.organizationId && handleGetTargetByQueryMixin(scope.row.organizationId, organizationList, 'id', 'name')">
              {{ handleGetTargetByQueryMixin(scope.row.organizationId, organizationList, 'id', 'name') }}
            </div>
            <el-tag type="danger" :disable-transitions="true" v-else>
              {{ `${ $t('tags.deleted') }` }}
            </el-tag>
          </template>
        </el-table-column>
        <el-table-column :label="$t('button.action')">
          <template slot-scope="scope">
            <span class="span__bt" @click="editForm(scope.row, 'look')">
              {{ $t('button.detail') }}
            </span>
            <div class="divider-vertical" v-privilege="'updateIdentity'"></div >
            <span v-privilege="'updateIdentity'" class="span__bt" @click="editForm(scope.row)">
              {{ $t('button.edit') }}
            </span>
            <div class="divider-vertical" v-privilege="'deleteIdentity'"></div>
            <span v-privilege="'deleteIdentity'" class="span__bt" @click="delForm(scope.row)">
              {{ $t('button.delete') }}
            </span>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination class="pagination" slot="footer"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="currentPage"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="pageSize"
        layout="slot, sizes, prev, pager, next"
        :total="totalCount">
        <span class="el-pagination__total">
          {{ $t('app.data-count', { total: totalCount}) }}
        </span>
      </el-pagination>
    </Card>

    <!-- 对话框 -->
    <el-dialog
      :title="titleText"
      :visible.sync="dialogVisible"
      width="800px"
      class="input_box"
      @close="dialogClose()"
    >
      <el-form :model="form" :rules="rules" style="text-align: left" ref="form" label-width="120px">
        <el-form-item :label="`${ $t('member.identity') }：`" prop="name">
          <el-input v-model.trim="form.name" style="width: 200px" :disabled="submitType === 'look'"></el-input>
        </el-form-item>
        <el-form-item :label="`${ $t('organization.affiliation') }：`" prop="organizationId" v-if="$store.state.isSuperAdmin">
          <el-select v-model="form.organizationId" :disabled="submitType !== 'add'" style="width: 200px" filterable clearable>
            <el-option
              v-for="item in organizationList"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item :label="`${ $t('organization.affiliation') }：`" v-else>
          <el-select v-model="$store.state.currentOrganization.id" clearable class="query-bar-item" disabled>
            <el-option :value="$store.state.currentOrganization.id" :label="$store.state.currentOrganization.name"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item :label="`${ $t('member.permission') }：`" prop="permissionGroupIds">
          <!-- to do about i18n -->
          <el-checkbox v-model="allResources" :disabled="submitType === 'look'" @change="handleCheckAllResourcesChange">{{ `${ $t('member.select-all') }` }}</el-checkbox>
          <el-table :data="form.actionResourcesList">
            <el-table-column :label="`${ $t('member.permission-group') }：`">
              <template slot-scope="scope">
                <el-checkbox
                  :disabled="submitType === 'look'"
                  :indeterminate="scope.row.indeterminate"
                  v-model="scope.row.checkAll"
                  @change="handleCheckActionAllChange(scope.row.checkAll, scope.row)">
                  {{scope.row.name}}
                </el-checkbox>
              </template>
            </el-table-column>
            <el-table-column :label="`${ $t('member.action.permission') }：`">
              <template slot-scope="scope">
                <el-checkbox-group v-model="scope.row.actionGroup"
                  @change="handleCheckActionChange(scope.row.actionGroup, scope.row)">
                  <el-checkbox v-for="item in scope.row.actionResources"
                               :disabled="submitType === 'look'"
                               :key="item.id"
                               :label="item">{{item.name}}</el-checkbox>
                </el-checkbox-group>
              </template>
            </el-table-column>
          </el-table>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogClose()">
          {{ `${submitType === 'look' ? `${$t('button.confirm')}` : `${$t('button.cancel')}`}` }}
        </el-button>
        <el-button v-if="submitType !== 'look'" @click="formSubmit('form')" :loading="$store.state.isSubmitting">
          {{ $t('button.confirm') }}
        </el-button>
      </div>
    </el-dialog>

  </div>
</template>

<script>
import { organizationRolesApi, organizationsApi, actionResourceGroupsApi } from '../../api'
import { dataHandleMixin } from '@/mixins/dataHandleMixin'

export default {
  name: 'IdentityManage',
  mixins: [dataHandleMixin],
  data () {
    return {
      tableData: [], // 表格数据
      queryForm: {}, // 查询表单
      organizationList: [], // 所有机构
      actionResourcesList: [], // 权限列表
      allResources: false, // 权限组全选
      // 分页
      currentPage: 1,
      pageSize: 10,
      totalCount: 1,
      // 对话框
      dialogVisible: false,
      titleText: this.$t('identity.add'),
      submitType: 'add',
      form: {}, // 表单
      rules: { // 表单校验
        name: [{ required: true, message: this.$t('identity.name-required'), trigger: 'blur' }],
        organizationId: [{ required: true, message: this.$t('organization.affiliation-required'), trigger: 'change' }]
      }
    }
  },
  mounted () {
    this.getOrganizations()
    this.getActionResourceGroup()
    this.getData()
  },
  methods: {
    // 获取表格数据
    async getData () {
      const res = await organizationRolesApi.organizationRolesGet(
        this.currentPage,
        this.pageSize,
        this.queryForm.name || '',
        this.$store.state.isSuperAdmin ? (this.queryForm.organizationId || '') : this.$store.state.currentOrganization.id
      )
      if (res.data) {
        this.tableData = res.data.data
        this.totalCount = res.data.total
      }
    },
    // 获取机构信息
    async getOrganizations () {
      const res = await organizationsApi.organizationsGet(0, 100000)
      if (res.data) {
        this.organizationList = res.data.data
      }
    },
    // 获取权限信息
    async getActionResourceGroup () {
      const res = await actionResourceGroupsApi.actionResourceGroupsGet()
      if (res.data) {
        this.actionResourcesList = res.data.data
      }
    },
    // 重置搜索
    resetGetData () {
      this.queryForm = {}
      this.getData()
    },
    // 提交表单
    formSubmit (formName) {
      // 表单校验
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          // 深拷贝，消除数据处理对当前显示表单的影响
          const submitForm = JSON.parse(JSON.stringify(this.form))
          submitForm.actionResources = []
          submitForm.actionResourcesList.forEach(item => {
            submitForm.actionResources = submitForm.actionResources.concat(item.actionGroup)
          })
          delete submitForm.actionResourcesList
          if (!this.$store.state.isSuperAdmin) {
            submitForm.organizationId = this.$store.state.currentOrganization.id
          }
          // 判断表单提交类型
          const res = this.submitType === 'add'
            ? await organizationRolesApi.organizationRolesPost({ ...submitForm })
            : await organizationRolesApi.organizationRolesIdPatch(submitForm.id, { ...submitForm })
          if (res) {
            this.$handleSuccessMessage()
            this.dialogClose()
            this.getData()
          }
        }
      })
    },
    // 显示新增表单
    addForm () {
      this.titleText = this.$t('identity.add')
      this.submitType = 'add'
      this.allResources = false
      this.form.actionResourcesList = this.actionResourcesList.map(item => {
        return {
          indeterminate: false, // 全选样式
          checkAll: false, // 是否全选
          actionGroup: [], // 选中的数组
          ...item
        }
      })
      this.dialogVisible = true
    },
    // 获取某一身份下的权限
    async getOrganizationRolesActionResources (id) {
      const res = await organizationRolesApi.organizationRolesIdActionResourcesGet(id)
      if (res.data) {
        this.form.actionResources = res.data.data
      }
    },
    // 显示编辑表单
    async editForm (row, type = 'edit') {
      this.titleText = (type === 'edit' ? this.$t('member.edit') : this.$t('member.see'))
      this.submitType = type
      this.form = JSON.parse(JSON.stringify(row))
      await this.getOrganizationRolesActionResources(row.id)
      // 权限选择
      this.form.actionResourcesList = this.actionResourcesList.map(item => {
        let actionGroup = []
        this.form.actionResources && this.form.actionResources.forEach(formAction => {
          item.actionResources.forEach(action => {
            if (formAction.actionResourceGroupId === action.actionResourceGroupId && formAction.id === action.id) {
              actionGroup = actionGroup.concat(action)
            }
          })
        })
        let checkCount = actionGroup.length
        let checkAll = checkCount === item.actionResources.length && !!checkCount
        let indeterminate = checkCount > 0 && checkCount < item.actionResources.length
        return {
          indeterminate: indeterminate, // 全选样式
          checkAll: checkAll, // 是否全选
          actionGroup: actionGroup, // 选中的数组
          ...item
        }
      })
      this.dialogVisible = true
    },
    // 关闭对话框
    dialogClose () {
      this.form = {}
      this.$refs.form.resetFields()
      this.dialogVisible = false
    },
    // 删除表单
    delForm (row) {
      this.$confirm(this.$t('identity.delete-tip'), this.$t('button.tip'), {
        confirmButtonText: this.$t('button.confirm'),
        cancelButtonText: this.$t('button.cancel'),
        type: 'warning'
      }).then(async () => {
        const res = await organizationRolesApi.organizationRolesIdDelete(row.id)
        if (res) {
          // 判断是否为该页最后一条数据且当前页数不为首页，则获取上一页数据
          if (this.tableData.length === 1 && this.currentPage !== 1) {
            this.currentPage = --this.currentPage
          }
          this.$handleSuccessMessage()
          this.getData()
        }
      }).catch((e) => { })
    },
    // 所属权限全选
    handleCheckAllResourcesChange (val) {
      this.form.actionResourcesList.forEach(item => {
        item.checkAll = val
        item.actionGroup = val ? item.actionResources : []
      })
    },
    // 操作权限全选
    handleCheckActionAllChange (val, scope) {
      scope.actionGroup = val ? scope.actionResources : []
      scope.indeterminate = false
    },
    // 操作权限选择改变
    handleCheckActionChange (val, scope) {
      let checkCount = val.length
      scope.checkAll = checkCount === scope.actionResources.length
      scope.indeterminate = checkCount > 0 && checkCount < scope.actionResources.length
    },
    // 切换分页条件
    handleSizeChange (val) {
      this.pageSize = val
      this.getData()
    },
    handleCurrentChange (val) {
      const dom = document.getElementsByClassName('card__body')
      if (dom && dom[0]) dom[0].scrollTop = 0
      this.currentPage = val
      this.getData()
    }
  }
}
</script>

<style>
  .identity-manage .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner {
     background-color: #409EFF;
     border-color: #409EFF;
  }

</style>
