<template>
  <div>
    <Card>
      <CardMenuItem slot="cardTitle" :title="$t('privilege.title')" isActive/>
      <div slot="buttonGroup" v-privilege="'createPrivilegeGroups'">
        <el-button @click="addGroupForm()" type="primary">{{ $t('button.add') }}</el-button>
      </div>
      <!-- 查询栏 -->
      <QueryBar slot="queryBar">
        <div slot="queryBarLeft">
          {{ `${ $t('privilege.privilege-name') }：` }}<el-input v-model.trim="queryForm.name" clearable class="query-bar-item"></el-input>
          <el-button @click="getData()">{{ $t('button.query') }}</el-button>
          <el-button @click="resetGetData()">{{ $t('button.reset') }}</el-button>
        </div>
      </QueryBar>
      <!-- 表格 -->
      <el-table slot="contain" header-cell-class-name="table__header" row-class-name="table__row"
        :data="tableData" stripe>
        <el-table-column prop="name" :label="$t('privilege.group-name')"></el-table-column>
        <el-table-column prop="actionResources" :label="$t('privilege.operate-privilege')">
          <template slot="header">
            {{$t('privilege.operate-privilege')}}
            <el-tag type="primary">{{$t('tags.privilege-only-root')}}</el-tag>
            <el-tag type="success">{{$t('tags.privilege-admin-root')}}</el-tag>
          </template>
          <template slot-scope="scope">
            <el-tag v-for="item in scope.row.actionResources"
                    :key="item.alias" closable
                    :type="item.viewType === 2 ? 'primary' : 'success'"
                    size="small"
                    @close="delForm(item)">
                    {{ item.name }}
                    <i class="el-icon-edit" @click="editForm(item)" style="cursor: pointer;"></i>
                    </el-tag>
          </template>
        </el-table-column>
        <el-table-column :label="$t('button.action')" width="220">
          <template slot-scope="scope">
            <span class="span__bt" @click="addForm(scope.row)">{{ $t('button.add') }}</span>
            <div class="divider-vertical"></div>
            <span class="span__bt" @click="editGroupForm(scope.row)">{{ $t('button.edit') }}</span>
            <div class="divider-vertical"></div>
            <span class="span__bt" @click="delGroupForm(scope.row)">{{ $t('button.delete') }}</span>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <!--<el-pagination class="pagination" slot="footer"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="currentPage"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="pageSize"
        layout="slot, sizes, prev, pager, next"
        :total="totalCount">
        <span class="el-pagination__total">
          {{ $t('app.data-count', { total: totalCount}) }}
        </span>
      </el-pagination>-->
    </Card>

    <!-- 对话框 -->
    <!-- 添加权限组 -->
    <el-dialog
      :title="groupTitleText"
      :visible.sync="groupDialogVisible"
      width="550px"
      class="input_box"
      @close="dialogClose('groupForm')"
    >
      <el-form :model="groupForm" :rules="groupRules" style="text-align: left" ref="groupForm" label-width="120px">
        <el-form-item :label="`${ $t('privilege.name') }：`" prop="name">
          <el-input v-model.trim="groupForm.name" style="width: 200px"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogClose('groupForm')">{{ $t('button.cancel') }}</el-button>
        <el-button @click="formSubmit('groupForm')" :loading="$store.state.isSubmitting">{{ $t('button.confirm') }}</el-button>
      </div>
    </el-dialog>
    <!-- 添加权限组操作权限 -->
    <el-dialog
      :title="titleText"
      :visible.sync="dialogVisible"
      width="550px"
      class="input_box"
      @close="dialogClose('form')"
    >
      <el-form :model="form" :rules="rules" style="text-align: left" ref="form" label-width="120px">
        <el-form-item :label="`${ $t('privilege.name') }：`" prop="name">
          <el-input v-model.trim="form.name" style="width: 200px"></el-input>
        </el-form-item>
        <el-form-item :label="`${ $t('privilege.connector') }：`" prop="path">
          <el-input v-model.trim="form.path" style="width: 200px"></el-input>
        </el-form-item>
        <el-form-item :label="`${ $t('privilege.operate') }：`" prop="method">
          <el-input v-model.trim="form.method" style="width: 200px"></el-input>
        </el-form-item>
        <el-form-item :label="`${ $t('privilege.tag') }：`" prop="alias">
          <el-input v-model.trim="form.alias" style="width: 200px"></el-input>
        </el-form-item>
        <el-form-item prop="viewType">
          <el-checkbox :false-label="1" :true-label="2" v-model="form.viewType" :label="$t('privilege.only-superadmin')"></el-checkbox>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogClose('form')">{{ $t('button.cancel') }}</el-button>
        <el-button @click="formSubmit('form')" :loading="$store.state.isSubmitting">{{ $t('button.confirm') }}</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import { actionResourcesApi, actionResourceGroupsApi } from '../../api'

export default {
  data () {
    return {
      tableData: [], // 表格数据
      queryForm: {}, // 查询表单
      // 分页
      currentPage: 1,
      pageSize: 10,
      totalCount: 1,
      // 对话框
      dialogVisible: false,
      titleText: this.$t('privilege.group-add'),
      submitType: 'add',
      form: {}, // 表单
      rules: { // 表单校验
        name: [{ required: true, message: this.$t('privilege.privilege-name-required'), trigger: 'blur' }],
        path: [{ required: true, message: this.$t('privilege.connector-required'), trigger: 'blur' }],
        method: [{ required: true, message: this.$t('privilege.operate-required'), trigger: 'blur' }],
        alias: [{ required: true, message: this.$t('privilege.tag-required'), trigger: 'blur' }],
        viewType: [{ required: true, type: 'number', message: this.$t('privilege.isonly-superadmin-requried'), trigger: 'blur' }]
      },
      // 添加权限组操作权限-对话框
      groupDialogVisible: false,
      groupTitleText: this.$t('privilege.add'),
      groupSubmitType: 'add',
      groupForm: {},
      groupRules: {
        name: [{ required: true, message: this.$t('privilege.name-required'), trigger: 'blur' }]
      }
    }
  },
  mounted () {
    this.getData()
  },
  methods: {
    // 获取表格数据
    async getData () {
      const res = await actionResourceGroupsApi.actionResourceGroupsGet(this.queryForm.name)
      if (res.data) {
        this.tableData = res.data.data
      }
    },
    // 重置搜索
    resetGetData () {
      this.queryForm = {}
      this.getData()
    },
    // 提交表单
    formSubmit (formName) {
      // 表单校验
      this.$refs[formName].validate((valid) => {
        if (valid) {
          if (formName === 'form') {
            this.submitResource()
          }
          if (formName === 'groupForm') {
            this.submitResourceGroup()
          }
        }
      })
    },
    // 提交权限表单
    async submitResource () {
      // 深拷贝，消除数据处理对当前显示表单的影响
      const submitForm = JSON.parse(JSON.stringify(this.form))
      // 判断表单提交类型
      const res = this.submitType === 'add'
        ? await actionResourcesApi.actionResourcesPost({ ...submitForm })
        : await actionResourcesApi.actionResourcesIdPatch(submitForm.id, { ...submitForm })
      if (res) {
        this.$handleSuccessMessage()
        this.dialogClose('form')
        this.getData()
      }
    },
    // 提交权限组表单
    async submitResourceGroup () {
      // 深拷贝，消除数据处理对当前显示表单的影响
      const submitForm = JSON.parse(JSON.stringify(this.groupForm))
      // 判断表单提交类型
      const res = this.groupSubmitType === 'add'
        ? await actionResourceGroupsApi.actionResourceGroupsPost({ ...submitForm })
        : await actionResourceGroupsApi.actionResourceGroupsIdPatch(submitForm.id, { ...submitForm })
      if (/^2/.test(res.status)) {
        this.$handleSuccessMessage()
        this.dialogClose('groupForm')
        this.getData()
      }
    },
    // 显示新增表单
    addForm (row) {
      this.titleText = this.$t('privilege.add')
      this.submitType = 'add'
      this.form.actionResourceGroupId = row.id
      this.$set(this.form, 'viewType', 1)
      this.dialogVisible = true
    },
    // 显示编辑表单
    editForm (row) {
      this.titleText = this.$t('privilege.edit')
      this.submitType = 'edit'
      this.form = JSON.parse(JSON.stringify(row))
      this.dialogVisible = true
    },
    // 显示权限组新增表单
    addGroupForm () {
      this.groupTitleText = this.$t('privilege.group-add')
      this.groupSubmitType = 'add'
      this.groupDialogVisible = true
    },
    // 显示权限组编辑表单
    editGroupForm (row) {
      this.groupTitleText = this.$t('privilege.group-edit')
      this.groupSubmitType = 'edit'
      this.groupForm = JSON.parse(JSON.stringify(row))
      this.groupDialogVisible = true
    },
    // 关闭对话框
    dialogClose (formName) {
      this.dialogVisible = false
      this.groupDialogVisible = false
      this[formName] = {}
      this.$refs[formName].clearValidate()
    },
    // 删除表单
    delGroupForm (row) {
      this.$confirm(this.$t('privilege.group-delete-tip'), this.$t('button.tip'), {
        confirmButtonText: this.$t('button.confirm'),
        cancelButtonText: this.$t('button.cancel'),
        type: 'warning'
      }).then(async () => {
        const res = await actionResourceGroupsApi.actionResourceGroupsIdDelete(row.id)
        if (res.status === 200) {
          this.$handleSuccessMessage()
          this.getData()
        }
      }).catch((e) => { })
    },
    // 删除表单
    delForm (row) {
      this.$confirm(this.$t('privilege.delete-tip'), this.$t('button.tip'), {
        confirmButtonText: this.$t('button.confirm'),
        cancelButtonText: this.$t('button.cancel'),
        type: 'warning'
      }).then(async () => {
        const res = await actionResourcesApi.actionResourcesIdDelete(row.id)
        if (res.status === 200) {
          // 判断是否为该页最后一条数据且当前页数不为首页，则获取上一页数据
          if (this.tableData.length === 1 && this.currentPage !== 1) {
            this.currentPage = --this.currentPage
          }
          this.$handleSuccessMessage()
          this.getData()
        }
      }).catch((e) => { })
    },
    // 切换分页条件
    handleSizeChange (val) {
      this.pageSize = val
      this.getData()
    },
    handleCurrentChange (val) {
      const dom = document.getElementsByClassName('card__body')
      if (dom && dom[0]) dom[0].scrollTop = 0
      this.currentPage = val
      this.getData()
    }
  }
}
</script>
<style lang="stylus" scoped>
</style>
