<template>
  <div>
    <Card>
      <CardMenuItem slot="cardTitle" :title="$t('app.system-config')" isActive/>
      <div slot="contain">
        <el-card class="config-item" shadow="never">
          <el-form :model="form" :rules="rules" style="text-align: left" ref="form" label-width="120px">
          <h2 style="margin-bottom: 20px">{{ $t('system.open-cloud-setting') }}</h2>
          <el-form-item :label="`${ $t('system.open-cloud-address') }：`" prop="seetacloudUrl">
            <el-input v-model.trim="form.seetacloudUrl" placeholder="http://192.168.0.1:8080/xx/xx" style="width: 350px"/>
          </el-form-item>
          <el-form-item :label="`${ $t('system.min-face') }：`" prop="minFace">
            <el-input v-model="form.minFace" style="width: 350px"/>
          </el-form-item>
          <el-form-item :label="`${ $t('system.definition') }：`" prop="minClarity">
            <el-input v-model="form.minClarity" style="width: 350px"/>
          </el-form-item>
          <el-form-item :label="`${ $t('system.max-face-angle') }：`" prop="maxAngle">
            <el-input v-model="form.maxAngle" style="width: 350px"/>
          </el-form-item>
          <el-button type="primary" @click="saveCloudConfig()">{{ $t('button.save') }}</el-button>
          </el-form>
        </el-card>
        <br><br>

        <el-card class="config-item  pie-wrap" shadow="never">
          <el-form :model="form" style="text-align: left" ref="form" label-width="160px">
          <h2 style="margin-bottom: 20px">{{ $t('app.system-config') }}</h2>
          <el-form-item :label="`${ $t('system.device-show-field') }：`" prop="showFields">
            <el-select v-model="fieldForm.showFields" style="width: 200px" multiple clearable>
              <el-option
                v-for="item in fieldList"
                :key="item.value"
                :label="item.name"
                :value="item.value"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item :label="`${ $t('system.mobile-editable-photo') }：`" prop="showFields">
            <el-select v-model="fieldForm.isMobileImageEditable" style="width: 200px">
              <el-option :key="true" :value="true" :label="$t('tags.open')"></el-option>
              <el-option :key="false" :value="false" :label="$t('tags.close')"></el-option>
            </el-select>
          </el-form-item>
          <div v-if="fieldForm.passRecordClearStrategy">
            <h2 style="margin-bottom: 40px">{{$t('system.set-passlog-storage')}}</h2>
            <el-radio-group v-model="fieldForm.passRecordClearStrategy.type"  text-color="#000" style="display: block;color: #000">
              <el-radio label="1" style="display: block;margin-bottom: 40px">
                {{$t('system.passlog-max-storage-time')}} <el-input-number size="mini" v-model="fieldForm.passRecordClearStrategy.value" :precision="0" :min="3" controls-position="right"></el-input-number> {{$t('system.day')}}（{{$t('system.min-day')}}）
                <p style="margin: 4px 0 0 28px">{{$t('system.passlog-max-storage-time-tip')}}</p>
              </el-radio>
              <el-radio label="0" style="display: block;margin-bottom: 40px">
                {{$t('system.not-set-auto-delete')}}
                <p style="margin: 4px 0 0 28px">{{$t('system.not-set-auto-delete-tip')}}</p>
              </el-radio>
            </el-radio-group>
          </div>
          <!-- <div id="recordCapacity"></div> -->
          <el-button type="primary" @click="saveShowField()">{{ $t('button.save') }}</el-button>
        </el-form>
      </el-card>
      <br><br>

      <el-card class="config-item" shadow="never">
        <el-form :model="form" style="text-align: left" ref="form" label-width="120px">
          <strong class="strong-title">{{ $t('organization.tags') }}</strong>
          <el-input v-model="organizationLabel" style="width: 200px;margin-right:10px;"/>
          <el-button type="primary" @click="handleCreateTag()">{{ $t('button.add') }}</el-button>
          <div style="margin-top:10px" v-if="tagsArray.length">
            <el-tag
              v-for="tag in tagsArray"
              :key="tag.id"
              closable
              @close="handleDeleteTag(tag)">
              {{tag.name}}
            </el-tag>
          </div>
          <div  style="margin:10px"  v-else>{{ $t('organization.no-tag') }}</div>
        </el-form>
      </el-card>
      </div>
    </Card>
  </div>
</template>
<script>
import { systemConfigsApi, settingsApi, tagsApi } from '../../api'
import { dataHandleMixin } from '@/mixins/dataHandleMixin'
import * as echarts from 'echarts'
require('echarts/theme/macarons')

export default {
  mixins: [dataHandleMixin],
  data () {
    return {
      organizationLabel: '',
      fieldList: [
        { value: '<name>', name: this.$t('member.staff.name') },
        { value: '<role_name>', name: this.$t('member.identity') },
        { value: '<email>', name: this.$t('member.staff.mail') },
        { value: '<phone>', name: this.$t('member.staff.phone') },
        { value: '<ic_card>', name: this.$t('member.staff.IC') },
        { value: '<id_card>', name: this.$t('member.staff.identity') }
      ], // 人员字段列表
      form: {},
      rules: {},
      fieldForm: {
        isMobileImageEditable: false,
        passRecordClearStrategy: {
          value: 365
        }
      },
      tagsArray: [],
      option: {
        tooltip: {
          trigger: 'item',
          formatter: '{b} : {c} ({d}%)'
        },
        // legend: {
        //   orient: 'vertical',
        //   left: 'left'
        // },
        series: [
          {
            name: '',
            type: 'pie',
            radius: '50%',
            data: [
              { value: 700, name: '剩余容量（MB）' },
              { value: 300, name: '已用容量（MB）' }
            ],
            emphasis: {
              itemStyle: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
              }
            }
          }
        ]
      }
    }
  },
  mounted () {
    this.getData()
    this.getShowField()
    this.getTags()
    this.$nextTick(() => {
      // this.saveRecordSet()
    })
  },
  methods: {
    saveRecordSet () {
      var myChart = echarts.init(document.getElementById('recordCapacity'))
      myChart.setOption(this.option)
    },
    // 获取开放云配置
    async getData () {
      const res = await systemConfigsApi.systemConfigGet()
      if (res.data) {
        this.form = res.data
      }
    },
    // 修改开放云配置
    async saveCloudConfig () {
      this.form.minFace = Number(this.form.minFace)
      this.form.minClarity = Number(this.form.minClarity)
      this.form.maxAngle = Number(this.form.maxAngle)
      const res = await systemConfigsApi.systemConfigPatch({ ...this.form })
      if (res) {
        this.$handleSuccessMessage()
        this.getData()
      }
    },
    // 获取展示字段
    async getShowField () {
      const res = await settingsApi.settingGet()
      if (res.data) {
        this.fieldForm = res.data
        if (this.fieldForm.passRecordClearStrategy.type === 0) {
          this.fieldForm.passRecordClearStrategy.value = 365
        }
        this.fieldForm.passRecordClearStrategy.type = String(this.fieldForm.passRecordClearStrategy.type)
      }
    },
    // 修改展示字段
    async saveShowField () {
      this.fieldForm.passRecordClearStrategy.type = Number(this.fieldForm.passRecordClearStrategy.type)
      if (this.fieldForm.passRecordClearStrategy.type === 0) {
        delete this.fieldForm.passRecordClearStrategy.value
      }
      const res = await settingsApi.settingPut({ ...this.fieldForm })
      if (res) {
        this.$handleSuccessMessage()
        this.getShowField()
      }
    },
    // 获取标签
    async getTags () {
      const res = await tagsApi.tagsGet(0, 100000)
      if (res.data) {
        this.tagsArray = res.data.data
      }
    },
    // 添加标签
    async handleCreateTag () {
      if (!this.organizationLabel) {
        this.$message({
          type: 'warning',
          message: this.$t('system.placeholder-tag')
        })
        return
      }
      const res = await tagsApi.tagsPost({ name: this.organizationLabel })
      if (res.data) {
        this.organizationLabel = ''
        this.$handleSuccessMessage()
        this.getTags()
      }
    },
    // 删除标签
    async handleDeleteTag (tag) {
      const res = await tagsApi.tagsIdDelete(tag.id)
      if (res) {
        this.$handleSuccessMessage()
        this.getTags()
      }
    }
  }
}
</script>
<style lang="stylus" scoped>
.pie-wrap
  >>> .el-card__body
        display flex
        justify-content space-between
        .el-radio__input.is-checked + .el-radio__label
          color: #606266 !important
#recordCapacity
  width 410px
  height 410px
.config-item
  padding-bottom 10px
  .strong-title
    margin 0 10px 20px 0
    font-size 20px
</style>
