<template>
  <div>
    <el-row class="attendance-detail__row">
      <el-col :span="12">
        <h4>{{ $t('attendance.clock-in') }}</h4>
        <p>
          <template v-if="attendanceDetail.startTime">{{ attendanceDetail.startTime }}</template>
          <template v-else>{{ $t('attendance.not-yet') }}</template>
        </p>
      </el-col>
      <el-col :span="12">
        <h4>{{ $t('attendance.clock-out') }}</h4>
        <p>
          <template v-if="attendanceDetail.endTime">{{ attendanceDetail.endTime }}</template>
          <template v-else>{{ $t('attendance.not-yet') }}</template>
        </p>
      </el-col>
    </el-row>
    <el-divider></el-divider>
    <el-row class="attendance-detail__row">
      <el-col :span="12">
        <h4>{{ $t('attendance.working-hours') }}</h4>
        <p>{{ attendanceDetail.workingHours }} {{ $t('attendance.hour') }}</p>
      </el-col>
      <el-col :span="12">
        <h4>{{ $t('attendance.overtime-hours') }}</h4>
        <p>{{ attendanceDetail.overtimeHours }} {{ $t('attendance.hour') }}</p>
      </el-col>
    </el-row>
    <el-divider></el-divider>
    <el-row class="attendance-detail__row">
      <el-col :span="12">
        <h4>{{ $t('attendance.status') }}</h4>
        <p>
          <el-tag
            disable-transitions
            effect="dark"
            size="mini"
            v-if="attendanceDetail.status"
            :color="statusMixin[attendanceDetail.status].color"
          >{{ statusMixin[attendanceDetail.status].desc }}</el-tag>
          <template v-else>{{ $t('attendance.not-yet') }}</template>
        </p>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { attendanceMixin } from '@/mixins/attendanceMixin'
export default {
  mixins: [attendanceMixin],
  props: {
    attendanceDetail: {
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style lang="stylus" scoped>
.attendance-detail__row
  .el-col
    display flex
    flex-direction column
    align-items center
    justify-content center
    height 60px
  p
    margin-top 4px
    font-size 12px
</style>
