<template>
  <div>
    <Card>
      <CardMenuItem slot="cardTitle" :title="$t('operation-log.operation-log')" isActive/>
      <!-- <div slot="buttonGroup">
        <el-button @click="exportForm()" type="danger">导出</el-button>
      </div> -->
      <!-- 查询栏 -->
      <QueryBar slot="queryBar">
        <div slot="queryBarLeft" style="float: left;text-align: left">
          {{ `${ $t('operation-log.user.type') }：` }}
          <el-select v-model="queryForm.type" class="query-bar-item" clearable>
            <el-option :value="2" :label="$t('operation-log.admin')"></el-option>
            <el-option :value="1" :label="$t('operation-log.user')"></el-option>
          </el-select>
          {{ `${ $t('operation-log.username') }：` }}
          <el-input :disabled="!queryForm.type" v-model="queryForm.name" clearable class="query-bar-item"></el-input>
          {{ `${ $t('operation-log.date-range') }：` }}
          <el-date-picker
            style="margin-right: 10px"
            v-model="queryForm.dateRange"
            type="datetimerange"
            format="yyyy-MM-dd HH:mm"
            :default-time="['00:00:00', '23:59:59']"
            unlink-panels
            value-format="timestamp">
          </el-date-picker>
          <el-button @click="getData()">{{ $t('button.query') }}</el-button>
          <el-button @click="resetGetData()">{{ $t('button.reset') }}</el-button>
        </div>
      </QueryBar>
      <!-- 表格 -->
      <el-table slot="contain" header-cell-class-name="table__header" row-class-name="table__row"
        :data="tableData" stripe>
        <el-table-column :label="$t('operation-log.username')">
          <template slot-scope="scope">
            <span v-if="scope.row.admin">{{scope.row.admin.name}}</span>
            <span v-else>{{scope.row.user.name}}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('operation-log.content')" prop="content" show-overflow-tooltip></el-table-column>
        <el-table-column :label="$t('operation-log.request-methods')" prop="action"></el-table-column>
        <el-table-column :label="$t('operation-log.url')" prop="uri"></el-table-column>
        <el-table-column :label="$t('organization.affiliation')" prop="organization">
          <template slot-scope="scope">{{scope.row.organization && scope.row.organization.name}}</template>
        </el-table-column>
        <el-table-column :label="$t('operation-log.user.type')" prop="organization">
          <template slot-scope="scope">
            <span>{{ scope.row.admin ? $t('operation-log.admin') : $t('operation-log.user') }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('operation-log.action-time')">
          <template slot-scope="scope">
            <span v-if="scope.row.createdAt">
              <i class="el-icon-time"></i>
              {{ transformToDateTime(scope.row.createdAt) }}
            </span>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination class="pagination" slot="footer"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="currentPage"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="pageSize"
        layout="slot, sizes, prev, pager, next"
        :total="totalCount">
        <span class="el-pagination__total">
          {{ $t('app.data-count', { total: totalCount}) }}
        </span>
      </el-pagination>
    </Card>
  </div>
</template>
<script>
import { accessLogsApi } from '../../api'

export default {
  data () {
    return {
      tableData: [], // 表格数据
      queryForm: {
        type: ''
      }, // 查询表单
      // 分页
      currentPage: 1,
      pageSize: 10,
      totalCount: 1
    }
  },
  mounted () {
    this.getData()
  },
  methods: {
    // 获取表格数据
    async getData () {
      const res = await accessLogsApi.accessLogsGet(
        this.currentPage,
        this.pageSize,
        this.queryForm.dateRange ? Math.floor(this.queryForm.dateRange[0]) : '',
        this.queryForm.dateRange ? Math.floor(this.queryForm.dateRange[1]) : '',
        this.queryForm.type === 2 ? this.queryForm.name : '',
        this.queryForm.type === 1 ? this.queryForm.name : ''
      )
      if (res.data) {
        this.tableData = res.data.data
        this.totalCount = res.data.total
      }
    },
    // 重置搜索
    resetGetData () {
      this.queryForm = {}
      this.getData()
    },
    // 切换分页条件
    handleSizeChange (val) {
      this.pageSize = val
      this.getData()
    },
    handleCurrentChange (val) {
      const dom = document.getElementsByClassName('card__body')
      if (dom && dom[0]) dom[0].scrollTop = 0
      this.currentPage = val
      this.getData()
    }
  }
}
</script>
<style lang="stylus" scoped>
</style>
