<template>
  <div>
    <Card>
      <CardMenuItem slot="cardTitle" :title="$t('device-log.device.log')" isActive/>
      <!-- <div slot="buttonGroup">
        <el-button @click="exportForm()" type="danger">导出</el-button>
      </div> -->
      <!-- 查询栏 -->
      <QueryBar slot="queryBar">
        <div slot="queryBarLeft" style="float: left;text-align: left">
          <label for="" class="input-label" v-if="$store.state.isSuperAdmin">
          {{ `${ $t('organization.affiliation') }：` }}
          <el-select v-model="queryForm.organizationId" clearable class="query-bar-item">
            <el-option v-for="item in organizationList"
                       :key="item.id"
                       :value="item.id"
                       :label="item.name"></el-option>
          </el-select>
          </label>
          <label for="" class="input-label">
          {{ `${ $t('device-log.device.name') }：` }}
          <el-input v-model.trim="queryForm.deviceName" clearable class="query-bar-item"></el-input>
          </label>
          <label for="" class="input-label">
          {{ `${ $t('device-log.log-level') }：` }}
          <el-select v-model="queryForm.logLevel" style="width: 200px" clearable class="query-bar-item">
            <el-option
              v-for="item in logLevelOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
          </label>
          <label for="" class="input-label">
          {{ `${ $t('device-log.date-range') }：` }}
          <el-date-picker
            style="margin-right: 10px"
            v-model="queryForm.dateRange"
            type="datetimerange"
            format="yyyy-MM-dd HH:mm"
            :default-time="['00:00:00', '23:59:59']"
            unlink-panels
            value-format="timestamp">
          </el-date-picker>
          </label>
          <label for="" class="input-label">
          <el-button @click="getData()">{{ $t('button.query') }}</el-button>
          <el-button @click="resetGetData()">{{ $t('button.reset') }}</el-button>
          </label>
        </div>
      </QueryBar>
      <!-- 表格 -->
      <el-table slot="contain" header-cell-class-name="table__header" row-class-name="table__row"
        :data="tableData" stripe>
        <el-table-column :label="$t('device-log.device.name')" prop="device.name"></el-table-column>
        <el-table-column :label="$t('device-log.device-code')" prop="deviceCode"></el-table-column>
        <el-table-column :label="$t('device-log.content')" prop="data"></el-table-column>
        <el-table-column :label="$t('device-log.log-level')" prop="level">
          <template slot-scope="scope">
            <el-tag v-if="scope.row.level === 1">debug</el-tag>
            <el-tag v-if="scope.row.level === 2" type="info">info</el-tag>
            <el-tag v-if="scope.row.level === 3" type="warning">warn</el-tag>
            <el-tag v-if="scope.row.level === 4" type="danger">error</el-tag>
          </template>
        </el-table-column>
        <el-table-column :label="$t('device-log.action-time')">
          <template slot-scope="scope">
            <span v-if="scope.row.timestamp">
              <i class="el-icon-time"></i>
              {{ transformToDateTime(scope.row.timestamp) }}
            </span>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination class="pagination" slot="footer"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="currentPage"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="pageSize"
        layout="slot, sizes, prev, pager, next"
        :total="totalCount">
        <span class="el-pagination__total">
          {{ $t('app.data-count', { total: totalCount}) }}
        </span>
      </el-pagination>
    </Card>
  </div>
</template>
<script>
import { deviceLogsApi, organizationsApi } from '../../api'

export default {
  data () {
    return {
      tableData: [], // 表格数据
      queryForm: {}, // 查询表单
      // 分页
      currentPage: 1,
      pageSize: 10,
      totalCount: 1,
      organizationList: [],
      logLevelOptions: [ // 设备日志上报等级
        { value: '1', label: 'debug' },
        { value: '2', label: 'info' },
        { value: '3', label: 'warning' },
        { value: '4', label: 'error' }
      ]
    }
  },
  mounted () {
    this.getData()
    this.getOrganizations()
  },
  methods: {
    // 获取表格数据
    async getData () {
      const res = await deviceLogsApi.deviceLogsGet(
        this.currentPage,
        this.pageSize,
        this.queryForm.dateRange ? Math.floor(this.queryForm.dateRange[0]) : '',
        this.queryForm.dateRange ? Math.floor(this.queryForm.dateRange[1]) : '',
        this.queryForm.deviceName,
        '',
        this.queryForm.logLevel,
        this.queryForm.organizationId || ''
      )
      if (res.data) {
        this.tableData = res.data.data
        this.totalCount = res.data.total
      }
    },
    // 获取机构
    async getOrganizations () {
      const res = await organizationsApi.organizationsGet(0, 100000)
      if (res.data) {
        this.organizationList = res.data.data
      }
    },
    // 重置搜索
    resetGetData () {
      this.queryForm = {}
      this.getData()
    },
    // 切换分页条件
    handleSizeChange (val) {
      this.pageSize = val
      this.getData()
    },
    handleCurrentChange (val) {
      const dom = document.getElementsByClassName('card__body')
      if (dom && dom[0]) dom[0].scrollTop = 0
      this.currentPage = val
      this.getData()
    }
  }
}
</script>
<style lang="stylus" scoped>

</style>
