<template>
  <div>
    <Card>
      <CardMenuItem slot="cardTitle" :title="$t('traffic-record.traffic-record')" isActive/>
      <div slot="buttonGroup">
        <el-button v-if="$store.state.isSuperAdmin" @click="getUnboundMember" type="primary">
          {{ `${ $t('traffic-record.record-all') }` }}
        </el-button>
        <el-button @click="exportForm()" type="danger">
          {{ $t('button.export') }}
        </el-button>
      </div>
      <!-- 查询栏 -->
      <QueryBar slot="queryBar">
        <div slot="queryBarLeft" style="float: left;text-align: left">
          <label for="" class="input-label">
          {{ `${ $t('traffic-record.query.field') }：` }}
          <el-select v-model="queryForm.fieldId" @clear="queryForm.searchValue = ''" clearable class="query-bar-item">
            <el-option
              v-for="item in fieldList"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
          </label>
          <label for="" class="input-label">
          {{ `${ $t('traffic-record.query.content') }：` }}
          <el-input v-model.trim="queryForm.searchValue" :disabled="!queryForm.fieldId" clearable class="query-bar-item"></el-input>
          </label>
          <!-- <label for="" class="input-label">
          {{ `${ $t('passRecordPage.设备名称') }：` }}
          <el-input v-model.trim="queryForm.deviceName" clearable class="query-bar-item"></el-input>
          </label> -->
          <label for="" class="input-label">
          {{ `${ $t('traffic-record.equipment.name') }：` }}
          <el-select v-model="queryForm.deviceName" clearable class="query-bar-item">
            <el-option
              v-for="item in deviceList"
              :key="item.name"
              :label="item.name"
              :value="item.name"
            ></el-option>
          </el-select>
          </label>
          <label for="" class="input-label">
          {{ `${ $t('traffic-record.identification-type') }：` }}
          <el-select v-model="queryForm.recognizeType" clearable class="query-bar-item">
            <el-option
              v-for="item in recognizeTypeOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
          </label>
          <label for="" class="input-label">
          {{ `${ $t('traffic-record.personn.identity') }：` }}
          <el-select v-model="queryForm.personType" clearable class="query-bar-item">
            <el-option
              v-for="item in memberTypeOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
          </label>
          <label for="" class="input-label">
          {{ `${ $t('traffic-record.if-pass') }：` }}
          <el-select v-model="queryForm.isPass" clearable class="query-bar-item">
            <el-option
              v-for="item in isPassOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
          </label>
          <label for="" class="input-label">
          {{ `${ $t('traffic-record.date-range') }：` }}
          <el-date-picker
            style="margin-right: 10px"
            v-model="queryForm.dateRange"
            type="datetimerange"
            format="yyyy-MM-dd HH:mm"
            :default-time="['00:00:00', '23:59:59']"
            unlink-panels
            value-format="timestamp">
          </el-date-picker>
          </label>
          <label for="" class="input-label">
          <el-button @click="clearPage()">
            {{ $t('button.query') }}
          </el-button>
          <el-button @click="resetGetData()">
            {{ $t('button.reset') }}
          </el-button>
          </label>
        </div>
      </QueryBar>
      <!-- 表格 -->
      <el-table slot="contain" header-cell-class-name="table__header" row-class-name="table__row"
        :data="tableData" stripe>
        <el-table-column type="expand">
          <template slot-scope="scope">
            <el-form inline class="table-expand">
              <div v-if="scope.row.memberId !== 0">
                <el-form-item :label="$t('traffic-record.username') + ':'">
                  {{ scope.row.member && scope.row.member.user.username }}
                </el-form-item>
                <el-form-item :label="$t('traffic-record.mail') + ':'">
                  {{ scope.row.member && scope.row.member.user.email }}
                </el-form-item>
                <el-form-item :label="$t('traffic-record.phone') + ':'">
                  {{ scope.row.member && scope.row.member.user.phone }}
                </el-form-item>
                <el-form-item :label="$t('traffic-record.IC') + ':'">
                  {{ scope.row.member && scope.row.member.icCard }}
                </el-form-item>
                <el-form-item :label="$t('traffic-record.identity') + ':'">
                  {{ scope.row.member && scope.row.member.user.idCard }}
                </el-form-item>
              </div>
              <div v-else-if="scope.row.visitorApplyId !== 0">
                <el-form-item :label="$t('traffic-record.mail') + ':'">
                  {{ scope.row.visitorApply && scope.row.visitorApply.email }}
                </el-form-item>
                <el-form-item :label="$t('traffic-record.phone') + ':'">
                  {{ scope.row.visitorApply && scope.row.visitorApply.phone }}
                </el-form-item>
                <el-form-item :label="$t('traffic-record.IC') + ':'">
                  {{ scope.row.visitorApply && scope.row.visitorApply.icCard }}
                </el-form-item>
                <el-form-item :label="$t('traffic-record.identity') + ':'">
                  {{ scope.row.visitorApply && scope.row.visitorApply.idCard }}
                </el-form-item>
                <el-form-item :label="$t('traffic-record.reason') + ':'">
                  {{ scope.row.visitorApply && scope.row.visitorApply.reason }}
                </el-form-item>
              </div>
              <div>
                <el-form-item :label="$t('traffic-record.pass-place') + ':'">
                  {{ scope.row.device && handleGetTargetByQueryMixin(scope.row.device.addressId, addressList, 'id', 'name') }}
                </el-form-item>
                <el-form-item :label="$t('traffic-record.equipment.code') + ':'">
                  {{ scope.row.device && scope.row.device.code }}
                </el-form-item>
              </div>
            </el-form>
          </template>
        </el-table-column>
        <el-table-column :label="$t('traffic-record.equipment.name')" prop="device.name"></el-table-column>
        <el-table-column :label="$t('traffic-record.person.name')" prop="member">
          <template slot-scope="scope">
              {{ scope.row.visitorApplyId === 0 && scope.row.memberId === 0 ? '' : (scope.row.visitorApplyId !== 0 ? scope.row.visitorApply && scope.row.visitorApply.name : scope.row.member && scope.row.member.user.name) }}
          </template>
        </el-table-column>
        <el-table-column :label="$t('traffic-record.personn.identity')" prop="memberType">
          <template slot-scope="scope">
              {{ scope.row.visitorApplyId === 0 && scope.row.memberId === 0 ? $t('tags.stranger') : (scope.row.visitorApplyId !== 0 ? $t('tags.visitor') : $t('tags.member')) }}
          </template>
        </el-table-column>
        <el-table-column :label="$t('traffic-record.bottom-photo')" width="120">
          <template slot-scope="scope">
            <el-image class="member-image" v-if="scope.row.matchUrl" :src="scope.row.matchUrl"
              @click="showBigImg(scope.row.matchUrl)" :preview-src-list="srcList">
              <div slot="placeholder" class="loading-img">
                <i class="fa fa-spinner fa-3x fa-pulse" aria-hidden="true"></i>
              </div>
            </el-image>
          </template>
        </el-table-column>
        <el-table-column :label="$t('traffic-record.scene-photo')" width="120">
          <template slot-scope="scope">
            <el-image class="member-image" v-if="scope.row.captureUrl" :src="scope.row.captureUrl"
              @click="showBigImg(scope.row.captureUrl)" :preview-src-list="srcList">
              <div slot="placeholder" class="loading-img">
                <i class="fa fa-spinner fa-3x fa-pulse" aria-hidden="true"></i>
              </div>
            </el-image>
          </template>
        </el-table-column>
        <el-table-column :label="$t('traffic-record.similarity')" prop="score">
          <template slot-scope="scope">
            {{ scope.row.score === 0 ? '-' : scope.row.score.toFixed(2) }}
          </template>
        </el-table-column>
        <el-table-column :label="$t('traffic-record.temperature')" prop="temperature">
          <template slot-scope="scope">
              {{ scope.row.temperature === 0 ? '-' : scope.row.temperature }}
          </template>
        </el-table-column>
        <el-table-column :label="$t('traffic-record.identification-type')" prop="recognizeType">
          <template slot-scope="scope">
            <!-- {{ handleGetTargetByQueryMixin(scope.row.recognizeType, recognizeTypeOptions, 'value', 'label') }} -->
            {{ scope.row.icCard ? $t('traffic-record.pass-by-card') :  $t('traffic-record.pass-by-face') }}
          </template>
        </el-table-column>
        <el-table-column :label="$t('traffic-record.if-pass')" prop="isPass">
          <template slot-scope="scope">
              {{ scope.row.isPass ? $t('tags.pass') :  $t('tags.not-pass') }}
          </template>
        </el-table-column>
        <el-table-column :label="$t('traffic-record.record-time')">
          <template slot-scope="scope">
            <span v-if="scope.row.time">
              <i class="el-icon-time"></i>
              {{ transformToDateTime(scope.row.time) }}
            </span>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination class="pagination" slot="footer"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="currentPage"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="pageSize"
        layout="slot, sizes, prev, pager, next"
        :total="totalCount">
        <span class="el-pagination__total">
          {{ $t('app.data-count', { total: totalCount}) }}
        </span>
      </el-pagination>
    </Card>

    <!-- 对话框 -->
    <el-dialog
      :title="titleText"
      :visible.sync="dialogVisible"
      width="600px"
      class="input_box"
      @close="dialogClose()"
    >
      <el-form :model="form" :rules="rules" style="text-align: left" ref="form" label-width="160px">
        <el-form-item :label="`${ $t('traffic-record.select-device') }：`" prop="deviceCodes">
          <el-select v-model="form.deviceCodes" style="width: 200px" multiple clearable>
            <el-option
              v-for="item in deviceList"
              :key="item.code"
              :label="item.name"
              :value="item.code"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item :label="`${ $t('traffic-record.select-personn-attributes') }：`" prop="fieldIds">
          <el-select v-model="form.fieldIds" style="width: 200px" multiple clearable>
            <el-option
              v-for="item in fieldList"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item :label="`${ $t('traffic-record.select-if-pass') }：`" prop="isPass">
          <el-select v-model="form.isPass" style="width: 200px" clearable class="query-bar-item">
            <el-option
              v-for="item in isPassOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item :label="`${ $t('traffic-record.select-date-range') }：`">
          <el-date-picker
            v-model="form.dateRange"
            type="datetimerange"
            format="yyyy-MM-dd HH:mm"
            :default-time="['00:00:00', '23:59:59']"
            value-format="timestamp"
            unlink-panels>
          </el-date-picker>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogClose()">
          {{ $t('button.cancel') }}
        </el-button>
        <el-button @click="formSubmit('form')" :loading="$store.state.isSubmitting">
          {{ $t('button.confirm') }}
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
// import { download } from '@utils/fileHandle/download.js'
import { passRecordsApi, devicesApi, addressesApi } from '../../api'
import { dataHandleMixin } from '@/mixins/dataHandleMixin'
import { exportCSV } from '@utils/fileHandle/exportFile.js'
// import { mapMutations } from 'vuex'

export default {
  mixins: [dataHandleMixin],
  data () {
    return {
      tableData: [], // 表格数据
      queryForm: {}, // 查询表单
      addressList: [],
      fieldList: [
        { value: 'username', label: this.$t('member.staff.username') },
        { value: 'name', label: this.$t('member.staff.name') },
        { value: 'email', label: this.$t('member.staff.mail') },
        { value: 'phone', label: this.$t('member.staff.phone') },
        { value: 'idCard', label: this.$t('member.staff.identity') }
      ], // 人员字段列表
      deviceList: [], // 所有设备列表
      srcList: [], // 大图预览的图片地址
      // 分页
      currentPage: 1,
      pageSize: 10,
      totalCount: 1,
      temp: 'getData',
      // 对话框
      dialogVisible: false,
      titleText: this.$t('traffic-record.export-record'),
      submitType: 'add',
      form: {}, // 表单
      rules: {}, // 表单校验
      isPassOptions: [ // 是否通关
        { value: true, label: this.$t('tags.pass') },
        { value: false, label: this.$t('tags.not-pass') }
      ],
      memberTypeOptions: [ // 人员类型
        { value: 1, label: this.$t('tags.member') },
        { value: 2, label: this.$t('tags.visitor') },
        { value: 3, label: this.$t('tags.stranger') }
      ],
      recognizeTypeOptions: [ // 识别类型
        { value: 1, label: '1:N' },
        { value: 2, label: '1:1' },
        { value: 3, label: '1:X' }
      ]
    }
  },
  watch: {
    getLevel (newVal, oldVal) {
      if (newVal !== null) {
        this.getData()
      }
    }
  },
  computed: {
    getLevel () {
      return this.$store.state.level
    }
  },
  mounted () {
    this.getData()
    this.findDeviceList()
    this.findAddressList()
  },
  methods: {
    // 切换分页条件
    handleSizeChange (val) {
      this.pageSize = val
      this.selectFunction()
    },
    handleCurrentChange (val) {
      this.currentPage = val
      this.selectFunction()
    },
    async selectFunction () {
      const dom = document.getElementsByClassName('card__body')
      if (dom && dom[0]) dom[0].scrollTop = 0
      if (this.queryForm.isPass === 'undefined') {
        this.queryForm.isPass = ''
      }
      let res = []
      switch (this.temp) {
        case 'getData': res = await passRecordsApi.passRecordsGet(
          this.currentPage,
          this.pageSize,
          this.getLevel,
          this.queryForm.fieldId === 'username' ? this.queryForm.searchValue : '',
          this.queryForm.fieldId === 'name' ? this.queryForm.searchValue : '',
          this.queryForm.fieldId === 'email' ? this.queryForm.searchValue : '',
          this.queryForm.fieldId === 'phone' ? this.queryForm.searchValue : '',
          this.queryForm.fieldId === 'idCard' ? this.queryForm.searchValue : '',
          this.queryForm.deviceName,
          this.queryForm.recognizeType,
          this.queryForm.personType,
          this.queryForm.isPass,
          this.queryForm.dateRange ? Math.floor(this.queryForm.dateRange[0]) : '',
          this.queryForm.dateRange ? Math.floor(this.queryForm.dateRange[1]) : ''
        )
          break
        case 'getUnboundMember': res = await passRecordsApi.passRecordsGet(
          this.currentPage,
          this.pageSize,
          undefined,
          this.queryForm.fieldId === 'username' ? this.queryForm.searchValue : '',
          this.queryForm.fieldId === 'name' ? this.queryForm.searchValue : '',
          this.queryForm.fieldId === 'email' ? this.queryForm.searchValue : '',
          this.queryForm.fieldId === 'phone' ? this.queryForm.searchValue : '',
          this.queryForm.fieldId === 'idCard' ? this.queryForm.searchValue : '',
          this.queryForm.deviceName,
          this.queryForm.recognizeType,
          this.queryForm.personType,
          this.queryForm.isPass,
          this.queryForm.dateRange ? Math.floor(this.queryForm.dateRange[0]) : '',
          this.queryForm.dateRange ? Math.floor(this.queryForm.dateRange[1]) : ''
        )
          this.$store.commit('setLevel', null)
      }
      if (res.data) {
        this.tableData = res.data.data
        this.totalCount = res.data.total
      }
    },
    clearPage () {
      this.currentPage = 1
      this.pageSize = 10
      this.selectFunction()
    },
    // 获取表格数据
    getData () {
      this.temp = 'getData'
      this.queryForm = {}
      this.clearPage()
    },
    // 查看未绑定人员
    async getUnboundMember () {
      this.temp = 'getUnboundMember'
      this.queryForm = {}
      this.clearPage()
    },
    // 重置搜索
    resetGetData () {
      this.queryForm = {}
      this.selectFunction()
    },
    // 提交表单
    formSubmit (formName) {
      // 表单校验
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          // 深拷贝，消除数据处理对当前显示表单的影响
          const submitForm = JSON.parse(JSON.stringify(this.form))
          if (submitForm.isPass === 'undefined') {
            submitForm.isPass = ''
          }
          // this.$store.commit('changeRequestHeaderAccept')
          const res = await passRecordsApi.passRecordsGet(
            0,
            100000,
            undefined,
            submitForm.fieldIds === 'username' ? this.queryForm.searchValue : '',
            submitForm.fieldIds === 'name' ? this.queryForm.searchValue : '',
            submitForm.fieldIds === 'email' ? this.queryForm.searchValue : '',
            submitForm.fieldIds === 'phone' ? this.queryForm.searchValue : '',
            submitForm.fieldIds === 'idCard' ? this.queryForm.searchValue : '',
            '',
            '',
            '',
            submitForm.isPass,
            submitForm.dateRange ? Math.floor(submitForm.dateRange[0]) : '',
            submitForm.dateRange ? Math.floor(submitForm.dateRange[1]) : '',
            submitForm.deviceCodes,
            submitForm.fieldIds
            // { responseType: 'blob' }
          )
          // this.$store.commit('changeRequestHeaderAccept')
          // if (res) {
          //   let filename = res.headers['content-disposition'].split('filename=')[1]
          //   download(res.data, filename)
          // }
          if (res.data) {
            res.data.data.map(item => {
              item['member.user.name'] = item.visitorApplyId === 0 && item.memberId === 0 ? '' : (item.visitorApplyId !== 0 ? item.visitorApply && item.visitorApply.name : item.member && item.member.user.name)
              item.memberType = item.visitorApplyId === 0 && item.memberId === 0 ? this.$t('tags.stranger') : (item.visitorApplyId !== 0 ? this.$t('tags.visitor') : this.$t('tags.member'))
              item.score = item.score === 0 ? '-' : item.score.toFixed(2)
              item.temperature = item.temperature === 0 ? '-' : item.temperature
              item.recognizeType = this.handleGetTargetByQueryMixin(item.recognizeType, this.recognizeTypeOptions, 'value', 'label')
              item.isPass = item.isPass ? this.$t('tags.pass') : this.$t('tags.not-pass')
              item.time = item.time === 0 ? '' : this.transformToDateTime(item.time)
            })
            if (!submitForm.fieldIds) {
              submitForm.fieldIds = []
            }
            let enDefaultField = ['device.name', 'member.user.name', 'memberType', 'score', 'temperature', 'recognizeType', 'isPass', 'time']
            let enExpendField = submitForm.fieldIds.map(item => 'member.user.' + item)
            let zhDefaultField = [this.$t('traffic-record.equipment.name'), this.$t('traffic-record.person.name'), this.$t('traffic-record.personn.identity'), this.$t('traffic-record.similarity'), this.$t('traffic-record.temperature'), this.$t('traffic-record.identification-type'), this.$t('traffic-record.if-pass'), this.$t('traffic-record.record-time')]
            let zhExpendField = submitForm.fieldIds.map(item => {
              switch (item) {
                case 'username': return this.$t('traffic-record.username')
                case 'name': return this.$t('traffic-record.name')
                case 'email': return this.$t('traffic-record.mail')
                case 'phone': return this.$t('traffic-record.phone')
                case 'idCard': return this.$t('traffic-record.identity')
                default: return ''
              }
            })
            exportCSV(res.data.data, enExpendField.concat(enDefaultField), zhExpendField.concat(zhDefaultField), this.$t('traffic-record.traffic-record'))
          }
          this.dialogClose()
        }
      })
    },
    // 显示导出表单
    exportForm () {
      this.titleText = this.$t('traffic-record.export-record')
      this.submitType = 'add'
      this.dialogVisible = true
    },
    // 关闭对话框
    dialogClose () {
      this.dialogVisible = false
      this.form = {}
      this.$refs.form.clearValidate()
    },
    // 获取所有设备信息
    async findDeviceList () {
      const res = await devicesApi.devicesGet(0, 100000)
      if (res.data) {
        this.deviceList = res.data.data
      }
    },
    // 查找所有地点
    async findAddressList () {
      const res = await addressesApi.addressesGet(0, 100000, '', '', '', '', this.$store.state.currentOrganization.id)
      if (res) {
        this.addressList = res.data.data
      }
    },
    // 查看大图
    showBigImg (url) {
      this.srcList = []
      this.$nextTick(() => {
        this.srcList.push(url)
      })
    }
  }
}
</script>
<style lang="stylus" scoped>
.table-expand
  >>> label
    font-weight 600
  .el-form-item
    width calc(33% - 10px)
</style>
