<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- 中科视拓 -->
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>智慧园区企业版</title>
    <!-- 中科院计算所 -->
    <!-- <link rel="icon" href="<%= BASE_URL %>favicon1.ico"> -->
    <!-- <title>中科院计算所智慧园区</title> -->
  </head>
  <body>
    <noscript>
      <strong>We're sorry but seeta-enterprise doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- js引入使用绝对url 解决刷新后js丢失问题 -->
    <script type="text/javascript" src="./config.js"></script>
  </body>
</html>
