<template>
  <div>
    <Card>
      <CardMenuItem slot="cardTitle" :title="$t('level.management')" isActive/>
      <!-- 表格 -->
      <div slot="contain">
        <el-tree
          :props="defaultProps"
          :data="treeData"
          node-key="id"
          highlight-current
          default-expand-all
        >
          <span class="custom-tree-node" slot-scope="{ node, data }">
            <span>{{ node.label }}</span>
            <span>
              <el-button
                type="text"
                size="mini"
                @click.stop="() => append(data)">
                {{ $t('button.add') }}
              </el-button>
              <el-button
                type="text"
                size="mini"
                v-if="node.level !== 1"
                @click.stop="() => update(data)">
                {{ $t('button.edit') }}
              </el-button>
              <el-button
                type="text"
                size="mini"
                v-if="node.level !== 1 && !data.descendants"
                @click.stop="() => remove(node, data)">
                {{ $t('button.delete') }}
              </el-button>
            </span>
          </span>
        </el-tree>
      </div>
    </Card>
    <!-- 对话框 -->
    <el-dialog
      :title="dialogTitle"
      :visible.sync="dialogVisible"
      width="550px"
      class="input_box"
      @close="dialogVisible = false"
    >
      <el-form :model="form" style="text-align: left" ref="form" label-width="120px">
        <el-form-item :label="$t('level.name')" prop="organizationId">
          <el-input type="text" v-model.trim="form.name" style="width: 240px"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="submit()">
          {{ $t('button.confirm') }}
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { levelsApi } from '../../api'
export default {
  data () {
    return {
      form: {},
      treeData: [],
      submitType: 'append',
      dialogVisible: false,
      defaultProps: {
        label: 'name',
        children: 'descendants'
        // isLeaf: 'isLeaf'
      },
      dialogTitle: this.$t('level.add')
    }
  },
  created () {
    this.getData()
  },
  methods: {
    // 获取数据
    async getData () {
      const res = await levelsApi.levelsIdTreeGet(this.$store.state.isSuperAdmin ? 0 : this.$store.state.currentOrganization.levelId)
      if (res) {
        this.treeData = res.data
      }
    },
    append (data) {
      this.dialogVisible = true
      this.form = {}
      this.form.parent = JSON.parse(JSON.stringify(data))
      this.submitType = 'append'
      this.dialogTitle = this.$t('level.add')
    },
    update (data) {
      this.dialogVisible = true
      this.form = JSON.parse(JSON.stringify(data))
      this.submitType = 'edit'
      this.dialogTitle = this.$t('level.edit')
    },
    async submit () {
      if (!this.form.name) {
        this.$handleErrorMessage(this.$t('level.name-required'))
        return false
      }
      const res = this.submitType === 'append' ? await levelsApi.levelsPost({ ...this.form }) : await levelsApi.levelsIdPatch(this.form.id, this.form)
      if (res) {
        this.getData()
      }
      this.dialogVisible = false
    },
    async remove (node, data) {
      this.$confirm(this.$t('level.delete-reminder'), this.$t('button.tip'), {
        confirmButtonText: this.$t('button.confirm'),
        cancelButtonText: this.$t('button.cancel'),
        type: 'warning',
        beforeClose: async (action, instance, done) => {
          if (action === 'confirm') {
            instance.confirmButtonLoading = true
            instance.confirmButtonText = 'delete...'
            // 删除操作
            const res = await levelsApi.levelsIdDelete(data.id)
            if (res) {
              this.getData()
            }
            done()
          } else {
            done()
          }
        },
        callback: (action, instance) => {
          instance.confirmButtonLoading = false // 消息框消失后 取消loading状态
        }
      }).then(() => {
      }).catch(() => {
      })
    }
  }
}
</script>

<style lang="stylus" scoped>
.custom-tree-node
  flex 1
  display flex
  align-items center
  justify-content space-between
  font-size 14px
  padding-right 8px
</style>
