<template>
  <div>
    <Card>
      <CardMenuItem slot="cardTitle" :title="$t('organization.title')" isActive/>
      <div slot="buttonGroup">
        <!-- 仅超级管理员操作 -->
        <el-button @click="addForm()" v-if="$store.state.isSuperAdmin" type="primary">
          {{ $t('button.add') }}
        </el-button>
      </div>
      <!-- 查询栏 -->
      <QueryBar slot="queryBar">
        <div slot="queryBarLeft">
          {{ `${ $t('organization.name') }：` }}
          <el-input v-model.trim="queryForm.name" clearable class="query-bar-item"></el-input>
          {{ $store.state.isSuperAdmin ? `${ $t('organization.tags') }：` : '' }}
          <el-select v-if="$store.state.isSuperAdmin" v-model="queryForm.tag" style="width: 200px" class="query-bar-item" clearable>
            <el-option
              v-for="item in tagsArray"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            ></el-option>
          </el-select>
          <el-button @click="getData()">{{ $t('button.query') }}</el-button>
          <el-button @click="resetGetData()">{{ $t('button.reset') }}</el-button>
        </div>
      </QueryBar>
      <!-- 表格 -->
      <el-table slot="contain" header-cell-class-name="table__header" row-class-name="table__row"
        :data="tableData" stripe>
        <el-table-column prop="id" :label="$t('organization.id')"></el-table-column>
        <el-table-column prop="name" :label="$t('organization')"></el-table-column>
        <el-table-column prop="tags" :label="$t('organization.tags')" v-if="$store.state.isSuperAdmin">
          <template slot-scope="scope">
            <div v-for="item in scope.row.tags" :key="item.id">
              <el-tooltip class="item tag-ellipsis" effect="dark" :content="item.name" placement="top">
              <el-tag type="success" :disable-transitions="true">
                {{ item.name }}
              </el-tag>
              </el-tooltip>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="description" :label="$t('organization.describe')"></el-table-column>
        <!-- 新增企业微信对接 -->
        <el-table-column prop="wechatSwitch" :label="$t('organization.WeChat')">
          <template slot-scope="scope">
            <el-tag v-if="scope.row.organizationWework.corpId" type="success">
              {{ $t('tags.open') }}
            </el-tag>
            <el-tag v-else type="info">
              {{ $t('tags.close') }}
            </el-tag>
          </template>
        </el-table-column>
        <el-table-column prop="totalOfMember" :label="$t('organization.register-count')"></el-table-column>
        <el-table-column :label="$t('button.action')" width="240">
          <template slot-scope="scope">
            <span v-privilege="'updateOrganization'" class="span__bt" @click="editForm(scope.row)">
              {{ $t('button.edit') }}
            </span>
            <!-- 仅普通管理员操作 -->
            <span v-if="!$store.state.isSuperAdmin">
              <div v-privilege="'syncWeChatOrganization'" class="divider-vertical"></div>
              <span v-privilege="'syncWeChatOrganization'" class="span__bt" @click="syncForm(scope.row)">
                {{ $t('organization.sync-WeChat') }}
              </span>
            </span>
            <!-- 仅超级管理员操作 -->
            <span v-if="$store.state.isSuperAdmin">
              <div v-privilege="'deleteOrganization'" class="divider-vertical"></div>
              <span v-privilege="'deleteOrganization'" class="span__bt" @click="delForm(scope.row)">
                {{ $t('button.delete') }}
              </span>
            </span>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination class="pagination" slot="footer"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="currentPage"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="pageSize"
        layout="slot, sizes, prev, pager, next"
        :total="totalCount">
        <span class="el-pagination__total">
          {{ $t('app.data-count', { total: totalCount}) }}
        </span>
      </el-pagination>
    </Card>

    <!-- 对话框 -->
    <el-dialog
      :title="titleText"
      :visible.sync="dialogVisible"
      width="520px"
      class="input_box"
      @close="dialogClose()"
    >
      <el-form :model="form" :rules="rules" style="text-align: left" ref="form" label-width="140px">
        <el-form-item :label="`${ $t('organization.name') }：`" prop="name">
          <el-input v-model.trim="form.name" style="width: 200px"></el-input>
        </el-form-item>
        <el-form-item :label="`${ $t('organization.tags') }：`" prop="tags" v-if="$store.state.isSuperAdmin">
          <el-select v-model="form.tags" :multiple-limit="3" :multiple="true" style="width: 200px">
            <el-option
              v-for="item in tagsArray"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item :label="`${ $t('organization.describe') }：`" prop="description">
          <el-input type="textarea" v-model="form.description" :rows=2 style="width: 200px"></el-input>
        </el-form-item>
        <!-- 新增企业微信对接 -->
        <el-form-item :label="`${ $t('organization.WeChat') }：`" prop="wechatSwitch">
          <el-select v-model="form.wechatSwitch" style="width: 200px" @change="wechatSwitchChange">
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item v-if="form.organizationWework.corpId || form.wechatSwitch" :label="`${ $t('organization.WeChatID') }：`" prop="organizationWework.corpId">
          <el-input v-model.trim="form.organizationWework.corpId" style="width: 200px"></el-input>
        </el-form-item>
        <el-form-item v-if="form.organizationWework.corpId || form.wechatSwitch" :label="`${ $t('organization.secretNo') }：`" prop="organizationWework.secretNo">
          <el-input v-model.trim="form.organizationWework.secretNo" style="width: 200px"></el-input>
        </el-form-item>
        <el-form-item v-if="form.organizationWework.corpId || form.wechatSwitch" :label="`${ $t('organization.sync-callback') }：`" prop="organizationWework.syncCallback">
          <el-select v-model="form.organizationWework.syncCallback" style="width: 200px" @change="syncCallbackChange">
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item v-if="form.organizationWework && form.organizationWework.syncCallback" :label="`${ $t('organization.token') }：`" prop="organizationWework.token">
          <el-input v-model.trim="form.organizationWework.token" style="width: 200px"></el-input>
        </el-form-item>
        <el-form-item v-if="form.organizationWework && form.organizationWework.syncCallback" :label="`${ $t('organization.aesKey') }：`" prop="organizationWework.encodingAesKey">
          <el-input v-model.trim="form.organizationWework.encodingAesKey" style="width: 200px"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogClose()">{{ $t('button.cancel') }}</el-button>
        <el-button @click="formSubmit('form')" :loading="$store.state.isSubmitting">
          {{ $t('button.confirm') }}
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import { organizationsApi, tagsApi } from '../../api'

export default {
  data () {
    return {
      tableData: [], // 表格数据
      queryForm: {}, // 查询表单
      // 分页
      currentPage: 1,
      pageSize: 10,
      totalCount: 1,
      // 对话框
      dialogVisible: false,
      titleText: this.$t('organization.add'),
      submitType: 'add',
      form: {
        organizationWework: {}
      }, // 表单
      rules: { // 表单校验
        name: [{ required: true, message: this.$t('organization.name-required'), trigger: 'blur' }],
        wechatSwitch: [{ required: true, message: this.$t('organization.WeChat-required'), trigger: 'blur' }],
        'organizationWework.corpId': [{ required: true, message: this.$t('organization.WeChatID-required'), trigger: 'blur' }],
        'organizationWework.secretNo': [{ required: true, message: this.$t('organization.SecretNo-required'), trigger: 'blur' }],
        'organizationWework.syncCallback': [{ required: true, message: this.$t('organization.sync-callback-required'), trigger: 'blur' }],
        'organizationWework.token': [{ required: true, message: this.$t('organization.token-required'), trigger: 'blur' }],
        'organizationWework.encodingAesKey': [{ required: true, message: this.$t('organization.aesKey-required'), trigger: 'blur' }]
      },
      options: [ // 开启控制
        { value: true, label: this.$t('tags.open') },
        { value: false, label: this.$t('tags.close') }
      ],
      personStatusOptions: [ // 人员状态类型
        { value: 1, label: this.$t('tags.normal') },
        { value: 3, label: this.$t('tags.check-pending') }
      ],
      tagsArray: []
    }
  },
  mounted () {
    this.getData()
    if (this.$store.state.isSuperAdmin) {
      this.getTags()
    }
  },
  methods: {
    // 获取表格数据
    async getData () {
      const res = await organizationsApi.organizationsGet(
        this.currentPage,
        this.pageSize,
        this.queryForm.name || '',
        '',
        this.queryForm.tag || ''
      )
      if (res.data) {
        this.tableData = res.data.data
        this.totalCount = res.data.total
      }
    },
    // 获取标签
    async getTags () {
      const res = await tagsApi.tagsGet(0, 100000)
      if (res.data) {
        this.tagsArray = res.data.data
      }
    },
    // 重置搜索
    resetGetData () {
      this.queryForm = {}
      this.getData()
    },
    // 企业微信 开启/关闭
    wechatSwitchChange () {
      if (!this.form.wechatSwitch) {
        this.form.organizationWework.corpId = ''
        this.form.organizationWework.secretNo = ''
        this.form.organizationWework.syncCallback = false
        this.form.organizationWework.token = ''
        this.form.organizationWework.encodingAesKey = ''
      }
    },
    syncCallbackChange () {
      if (!this.form.organizationWework.syncCallback) {
        this.form.organizationWework.token = ''
        this.form.organizationWework.encodingAesKey = ''
      }
    },
    // 提交表单
    formSubmit (formName) {
      // 表单校验
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          // 深拷贝，消除数据处理对当前显示表单的影响
          const submitForm = JSON.parse(JSON.stringify(this.form))
          submitForm.tags = this.tagsArray.filter(item => {
            return this.form.tags.includes(item.id)
          })
          // 判断表单提交类型
          const res = this.submitType === 'add'
            ? await organizationsApi.organizationsPost({ ...submitForm })
            : await organizationsApi.organizationsIdPatch(submitForm.id, { ...submitForm })
          if (res) {
            this.$handleSuccessMessage()
            this.dialogClose()
            this.getData()
          }
        }
      })
    },
    // 显示新增表单
    addForm () {
      this.titleText = this.$t('organization.add')
      this.submitType = 'add'
      this.$set(this.form, 'isAttendance', false) // 考勤默认关闭
      this.$set(this.form, 'wechatSwitch', false) // 企业微信默认关闭
      this.$set(this.form.organizationWework, 'syncCallback', false) // 同步回调默认关闭
      this.$set(this.form, 'memberStatus', 1) // 注册人员状态默认正常
      this.dialogVisible = true
    },
    // 显示编辑表单
    editForm (row) {
      this.titleText = this.$t('organization.edit')
      this.submitType = 'edit'
      this.form = JSON.parse(JSON.stringify(row))
      this.form.tags = this.form.tags.map(item => item.id)
      if (!this.form.organizationWework.corpId) {
        this.$set(this.form, 'wechatSwitch', false)
      } else {
        this.$set(this.form, 'wechatSwitch', true)
      }
      this.dialogVisible = true
    },
    // 关闭对话框
    dialogClose () {
      this.dialogVisible = false
      this.form = {
        organizationWework: {}
      }
      this.$refs.form.clearValidate()
    },
    // 删除表单
    delForm (row) {
      this.$confirm(this.$t('organization.delete-tip'), this.$t('button.tip'), {
        confirmButtonText: this.$t('button.confirm'),
        cancelButtonText: this.$t('button.cancel'),
        type: 'warning'
      }).then(async () => {
        const res = await organizationsApi.organizationsIdDelete(row.id)
        if (res) {
          // 判断是否为该页最后一条数据且当前页数不为首页，则获取上一页数据
          if (this.tableData.length === 1 && this.currentPage !== 1) {
            this.currentPage = --this.currentPage
          }
          this.$handleSuccessMessage()
          this.getData()
        }
      }).catch((e) => { })
    },
    // 同步企业微信数据
    syncForm (row) {
      this.$confirm(this.$t('organization.sync-data-tip'), this.$t('button.tip'), {
        confirmButtonText: this.$t('button.confirm'),
        cancelButtonText: this.$t('button.cancel'),
        type: 'warning'
      }).then(async () => {
        const res = await organizationsApi.organizationsIdSyncUsersPost(row.id, row.id)
        if (res) {
          this.$handleSuccessMessage()
        }
      }).catch((e) => { })
    },
    // 切换分页条件
    handleSizeChange (val) {
      this.pageSize = val
      this.getData()
    },
    handleCurrentChange (val) {
      const dom = document.getElementsByClassName('card__body')
      if (dom && dom[0]) dom[0].scrollTop = 0
      this.currentPage = val
      this.getData()
    }
  }
}
</script>
<style lang="stylus" scoped>
.tag-ellipsis
  max-width 100%
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
</style>
