<template>
  <div>
    <Card>
      <CardMenuItem slot="cardTitle" :title="$t('address.title')" isActive/>
      <div slot="buttonGroup">
        <el-tooltip :content="$t('address.open-door-tip')" placement="top">
          <el-button @click="showSelectAddress('open')" type="danger">
            {{ $t('button.open-all-door') }}
          </el-button>
        </el-tooltip>
        <el-tooltip :content="$t('address.close-door-tip')" placement="top">
          <el-button @click="showSelectAddress('close')" type="warning">
            {{ $t('button.close-all-door') }}
          </el-button>
        </el-tooltip>
        <!-- 仅普通管理员操作 -->
        <el-button v-privilege="'createAddress'" v-if="!$store.state.isSuperAdmin" @click="addForm()" type="primary">
          {{ $t('button.add') }}
        </el-button>
      </div>
      <!-- 查询栏 -->
      <QueryBar slot="queryBar">
        <div slot="queryBarLeft">
          <div v-if="$store.state.isSuperAdmin" style="display:inline">
          {{ `${ $t('organization.affiliation') }：` }}
          <el-select v-model="queryForm.organizationId" clearable class="query-bar-item">
            <el-option v-for="item in organizationList"
                       :key="item.id"
                       :value="item.id"
                       :label="item.name"></el-option>
          </el-select></div>
          {{ `${ $t('address.name') }：` }}
          <el-input v-model.trim="queryForm.name" clearable class="query-bar-item"></el-input>
          <el-button @click="getData()">
            {{ $t('button.query') }}
          </el-button>
          <el-button @click="resetGetData()">
            {{ $t('button.reset') }}
          </el-button>
        </div>
      </QueryBar>
      <!-- 表格 -->
      <el-table slot="contain" header-cell-class-name="table__header" row-class-name="table__row"
        :data="tableData" stripe>
        <el-table-column prop="id" :label="$t('address.id')"></el-table-column>
        <el-table-column prop="name" :label="$t('address.name')"></el-table-column>
        <el-table-column prop="isVisited" :label="$t('address.visitor-privilege')">
          <template slot-scope="scope">
            <el-tag v-if="scope.row.isVisited" type="success">
              {{ $t('tags.open') }}
            </el-tag>
            <el-tag v-else type="danger">
              {{ $t('tags.close') }}
            </el-tag>
          </template>
        </el-table-column>
        <el-table-column prop="isMeeting" :label="$t('address.meeting-privilege')">
          <template slot-scope="scope">
            <el-tag v-if="scope.row.isMeeting" type="success">
              {{ $t('tags.open') }}
            </el-tag>
            <el-tag v-else type="danger">
              {{ $t('tags.close') }}
            </el-tag>
          </template>
        </el-table-column>
        <el-table-column prop="devices" :label="$t('address.include-device')">
          <template slot-scope="scope">
            <el-tag v-for="(item, index) in scope.row.devices" :key="index">
              {{ item.name }}
            </el-tag>
          </template>
        </el-table-column>
        <el-table-column :label="$t('organization.affiliation')">
          <template slot-scope="scope">
            <div v-if="scope.row.organizationId && handleGetTargetByQueryMixin(scope.row.organizationId, organizationList, 'id', 'name')">
              {{ handleGetTargetByQueryMixin(scope.row.organizationId, organizationList, 'id', 'name') }}
            </div>
            <el-tag type="danger" :disable-transitions="true" v-else>
              {{ $t('tags.deleted') }}
            </el-tag>
          </template>
        </el-table-column>
        <el-table-column :label="$t('button.action')" width="300px">
          <template slot-scope="scope">
            <!-- 地点下不存在设备时 隐藏开、关门选项 -->
            <span v-if="scope.row.devices && scope.row.devices.length">
              <span class="span__bt" @click="addressOpen(scope.row)">
                {{ $t('button.open-door') }}
              </span>
              <div class="divider-vertical"></div>
              <span class="span__bt" @click="addressClose(scope.row)">
                {{ $t('button.close-door') }}
              </span>
              <div class="divider-vertical" v-if="!$store.state.isSuperAdmin"></div>
            </span>
            <!-- 仅普通管理员操作 -->
            <span v-if="!$store.state.isSuperAdmin">
              <span v-privilege="'updateAddress'" class="span__bt" @click="editForm(scope.row)">
                {{ $t('button.edit') }}
              </span>
              <div class="divider-vertical" v-privilege="'updateAddress'"></div>
              <span v-privilege="'deleteAddress'" class="span__bt" @click="delForm(scope.row)">
                {{ $t('button.delete') }}
              </span>
            </span>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination class="pagination" slot="footer"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="currentPage"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="pageSize"
        layout="total, sizes, prev, pager, next"
        :total="totalCount">
      </el-pagination>
    </Card>

    <!-- 对话框 -->
    <el-dialog
      :title="titleText"
      :visible.sync="dialogVisible"
      width="500px"
      class="input_box"
      @close="dialogClose()"
    >
      <el-form :model="form" :rules="rules" style="text-align: left" ref="form" label-width="120px">
        <el-form-item :label="`${ $t('address.name') }：`" prop="name">
          <el-input v-model.trim="form.name" :disabled="submitType === 'edit'" style="width: 200px"></el-input>
        </el-form-item>
        <el-form-item :label="`${ $t('address.visitor-privilege') }：`" prop="isVisited">
          <el-select v-model="form.isVisited" style="width: 200px">
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item :label="`${ $t('address.meeting-privilege') }：`" prop="isMeeting">
          <el-select v-model="form.isMeeting" style="width: 200px">
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </el-form-item>
        <!-- 网络继电器 -->
        <div v-if="submitType === 'edit'">
          <el-divider>{{ $t('address.net-relay') }}</el-divider>
          <div v-for="(item, index) in form.relays" :key="index">
            <el-form-item :label="`${ $t('address.ip') }：`" prop="ip">
              <el-input v-model.trim="item.ip" style="width: 200px"/>
              <el-button class="tail-bt" type="danger" icon="el-icon-minus" circle
                @click.prevent="removeSwitchItem(item)">
              </el-button>
            </el-form-item>
            <el-form-item :label="`${ $t('address.port') }：`" prop="port">
              <el-input-number v-model="item.port" :min="0" controls-position="right" style="width: 200px"/>
            </el-form-item>
            <el-form-item :label="`${ $t('address.relay-channel') }：`" prop="channels">
              <el-select v-model="item.channels" multiple style="width: 200px">
                <el-option
                  v-for="item in 16"
                  :key="item"
                  :label="item"
                  :value="item"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-divider></el-divider>
          </div>
          <div style="text-align: center">
            <el-button class="tail-bt" type="primary" icon="el-icon-plus" circle
              @click="addSwitchItem()">
            </el-button>
          </div>
        </div>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogClose()">
          {{ $t('button.cancel') }}
        </el-button>
        <el-button @click="formSubmit('form')" :loading="$store.state.isSubmitting">
          {{ $t('button.confirm') }}
        </el-button>
      </div>
    </el-dialog>
    <el-dialog
      :title="addressTitleText"
      :visible.sync="addressDialogVisible"
      width="650px"
      class="input_box"
      @close="addressDialogClose()">
      <el-form :model="addressForm" :rules="addressFormRules" ref="addressForm" style="text-align: left;margin-top:20px" label-width="120px">
        <el-form-item :label="`${ $t('member.staff.place') }：`">
          <el-select v-model="addressForm.addressIds" style="width: 200px" multiple clearable filterable>
            <el-option
              v-for="item in allAddressList"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            ></el-option>
          </el-select>
          <!-- 增加全选选项 -->
          <el-button
            size="mini" round style="margin-left: 4px" @click="selectAddress"
            :type="addressForm.addressIds.length === allAddressList.length ? 'warning' : 'primary'">
            {{ addressForm.addressIds.length === allAddressList.length ? 'Reverse' : 'All' }}
          </el-button>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="addressDialogClose()">
          {{ $t('button.cancel') }}
        </el-button>
        <el-button @click="handleAddress" :loading="$store.state.isSubmitting">
          {{ $t('button.confirm') }}
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import { addressesApi, organizationsApi } from '../../api'
import { dataHandleMixin } from '@/mixins/dataHandleMixin'

export default {
  mixins: [dataHandleMixin],
  data () {
    return {
      tableData: [], // 表格数据
      allAddressList: [],
      queryForm: {}, // 查询表单
      organizationList: [], // 机构列表
      // 分页
      currentPage: 1,
      pageSize: 10,
      totalCount: 1,
      // 对话框
      dialogVisible: false,
      titleText: this.$t('address.add'),
      type: 'open',

      // 多地点开门
      addressDialogVisible: false,
      addressTitleText: this.$t('address.stay-open'),

      submitType: 'add',
      form: {}, // 表单
      addressForm: {
        addressIds: []
      },
      rules: { // 表单校验
        name: [{ required: true, message: this.$t('address.name-required'), trigger: 'blur' }],
        isVisited: [{ required: true, message: this.$t('address.visitor-privilege-required'), trigger: 'blur' }],
        isMeeting: [{ required: true, message: this.$t('address.meeting-privilege-required'), trigger: 'blur' }]
      },
      addressFormRules: {
        addressIds: [{ required: true, message: this.$t('address.select-required'), trigger: 'blur' }]
      },
      options: [
        { value: true, label: this.$t('tags.open') },
        { value: false, label: this.$t('tags.close') }
      ]
    }
  },
  mounted () {
    this.getOrganizations()
    this.getData()
  },
  methods: {
    // 获取表格数据
    async getData () {
      const res = await addressesApi.addressesGet(
        this.currentPage,
        this.pageSize,
        null, null, null,
        this.queryForm.name || '',
        this.queryForm.organizationId || ''
      )
      if (res.data) {
        this.tableData = res.data.data
        this.totalCount = res.data.total
      }
    },
    async getAllAddress () {
      const res = await addressesApi.addressesGet(0, 100000)
      if (res.data) {
        this.allAddressList = res.data.data
        this.totalCount = res.data.total
      }
    },
    // 重置搜索
    resetGetData () {
      this.queryForm = {}
      this.getData()
    },
    // 获取机构
    async getOrganizations () {
      const res = await organizationsApi.organizationsGet(0, 100000)
      if (res.data) {
        this.organizationList = res.data.data
      }
    },
    // 提交表单
    formSubmit (formName) {
      // 表单校验
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          // 深拷贝，消除数据处理对当前显示表单的影响
          const submitForm = JSON.parse(JSON.stringify(this.form))
          // 判断表单提交类型
          const res = this.submitType === 'add' ? await addressesApi.addressesPost({ ...submitForm }) : await addressesApi.addressesIdPatch(submitForm.id, { ...submitForm })
          if (res) {
            this.$handleSuccessMessage()
            this.dialogClose()
            this.getData()
          }
        }
      })
    },
    // 显示新增表单
    addForm () {
      this.titleText = this.$t('address.add')
      this.submitType = 'add'
      this.dialogVisible = true
    },
    // 显示编辑表单
    editForm (row) {
      this.titleText = this.$t('address.edit')
      this.submitType = 'edit'
      this.form = JSON.parse(JSON.stringify(row))
      this.dialogVisible = true
    },
    // 关闭对话框
    dialogClose () {
      this.dialogVisible = false
      this.form = {}
      this.$refs.form.clearValidate()
    },
    addressDialogClose () {
      this.addressDialogVisible = false
      this.addressForm.addressIds = []
      this.$refs.addressForm.clearValidate()
    },
    // 删除表单
    delForm (row) {
      this.$confirm(this.$t('address.delete-tip'), this.$t('button.tip'), {
        confirmButtonText: this.$t('button.confirm'),
        cancelButtonText: this.$t('button.cancel'),
        type: 'warning'
      }).then(async () => {
        const res = await addressesApi.addressesIdDelete(row.id)
        if (res) {
          // 判断是否为该页最后一条数据且当前页数不为首页，则获取上一页数据
          if (this.tableData.length === 1 && this.currentPage !== 1) {
            this.currentPage = --this.currentPage
          }
          this.$handleSuccessMessage()
          this.getData()
        }
      }).catch((e) => { })
    },
    // 消防开门
    addressOpen (row) {
      const message = row ? `${row.name} ${this.$t('address.appoint-open')}` : this.$t('address.all-open')
      this.$confirm(message, this.$t('button.tip'), {
        confirmButtonText: this.$t('button.confirm'),
        cancelButtonText: this.$t('button.cancel'),
        type: 'warning'
      }).then(async () => {
        const res = await addressesApi.addressesIdOpenAllDevicesPost(row ? row.id : '')
        if (res) {
          this.$handleSuccessMessage()
        }
      }).catch((e) => { })
    },
    showSelectAddress (type) {
      this.type = type
      this.addressDialogVisible = true
      this.getAllAddress()
    },
    handleAddress () {
      this.$refs.addressForm.validate((valid) => {
        if (valid) {
          this.addressForm.addressIds.map(async (item) => {
            const res = this.type === 'open' ? await addressesApi.addressesIdOpenAllDevicesPost(item) : await addressesApi.addressesIdCloseAllDevicesPost(item)
            if (res) {
              this.$handleSuccessMessage()
            }
          })
          this.addressDialogClose()
        }
      })
    },
    selectAddress () {
      if (this.addressForm.addressIds.length === this.allAddressList.length) {
        this.addressForm.addressIds = []
      } else {
        this.addressForm.addressIds = this.allAddressList.map(item => item.id)
      }
    },
    // 消防关门
    addressClose (row) {
      const message = row ? `${row.name} ${this.$t('address.appoint-close')}` : this.$t('address.all-close')
      this.$confirm(message, this.$t('button.tip'), {
        confirmButtonText: this.$t('button.confirm'),
        cancelButtonText: this.$t('button.cancel'),
        type: 'warning'
      }).then(async () => {
        const res = await addressesApi.addressesIdCloseAllDevicesPost(row ? row.id : '')
        if (res) {
          this.$handleSuccessMessage()
        }
      }).catch((e) => { })
    },
    // 添加网络继电器
    addSwitchItem () {
      if (!this.form.relays) {
        this.$set(this.form, 'relays', [])
      }
      this.form.relays.push({})
    },
    // 删除网络继电器
    removeSwitchItem (item) {
      let index = this.form.relays.indexOf(item)
      if (index !== -1) {
        this.form.relays.splice(index, 1)
      }
    },
    // 切换分页条件
    handleSizeChange (val) {
      this.pageSize = val
      this.getData()
    },
    handleCurrentChange (val) {
      const dom = document.getElementsByClassName('card__body')
      if (dom && dom[0]) dom[0].scrollTop = 0
      this.currentPage = val
      this.getData()
    }
  }
}
</script>
<style lang="stylus" scoped>
.tail-bt
  margin-left 10px
</style>
