<template>
  <div class='area_manage'>
    <Card>
      <CardMenuItem slot="cardTitle" :title="$t('address.area-management')" isActive/>
      <div slot="buttonGroup">
        <el-tooltip :content="$t('address.open-door-tip')" placement="top" v-if="!ifEdit">
          <el-button type="success" @click="openDoor">
            {{ $t('button.open-all-door') }}
          </el-button>
        </el-tooltip>
        <el-tooltip :content="$t('address.close-door-tip')" placement="top" v-if="!ifEdit">
          <el-button @click="closeDoor">
            {{ $t('button.close-all-door') }}
          </el-button>
        </el-tooltip>
        <el-button type="primary" @click="editSwitch">
          {{ !editIf ? $t('button.edit') : $t('address.area-edit-end') }}
        </el-button>
      </div>
      <!-- 表格 -->
      <el-table
        slot="contain"
        :data="tableNewArray"
        style="width: 100%"
        row-key="id"
        class="wrap-table"
        >
        <el-table-column type="expand">
          <template slot-scope="scope">
            <el-table :data="scope.row.areas" border>
              <el-table-column :label="$t('address.area-floor')" width="350px">
                <!-- eslint-disable-next-line -->
                <template slot="header" slot-scope="scope2">
                  <span style="font-size: 14px">{{$t('address.area-floor')}}</span>
                  <div class="plus-wrapper">
                    <i class="el-icon-plus el-icon-plus-primary" v-show="ifEdit" @click="addFloorDialog(scope.row)"></i>
                  </div>
                </template>
                <template slot-scope="scope2">
                  <div class="floor_column">
                    <el-checkbox :indeterminate="scope2.row.isIndeterminate" v-model="scope2.row.checkAll" @change="handleFloor(scope2.row, scope.row)" :label="scope2.row.name" v-if="!ifEdit">
                    </el-checkbox>
                    <span v-if="ifEdit" style="font-size:14px">{{scope2.row.name}}</span>
                    <i class="el-icon-edit-outline" v-if="ifEdit" @click.prevent="startFloorEdit(scope2.row)"></i>
                    <i class="el-icon-delete" v-if="ifEdit" @click.prevent="startFloorDel(scope2.row)"></i>
                  </div>
                </template>
              </el-table-column>
              <el-table-column :label="$t('address.area-access-point')">
                <template slot="header">
                  <span style="font-size: 14px">{{$t('address.area-access-point')}}</span>
                </template>
                <template slot-scope="scope2">
                  <el-checkbox-group v-model="scope2.row.checkedMachines" @change="handleMachines(scope2.row, scope.row)" style="position: relative">
                    <div v-for="(machine, index)  in scope2.row.machines" :key="index" class="check_box_wrapper">
                      <!-- label只能绑定id, 否则重名会全选 -->
                      <el-checkbox :label="machine.id" v-if="!ifEdit">{{machine.name}}</el-checkbox>
                      <span v-if="ifEdit" style="font-size:14px">{{machine.name}}</span>
                      <i class="el-icon-edit-outline" v-if="ifEdit" @click.prevent="startMachinesEdit(machine)"></i>
                      <i class="el-icon-delete" v-if="ifEdit" @click.prevent="startMachinesDel(machine)"></i>
                    </div>
                  </el-checkbox-group>
                  <div class="plus-wrapper">
                    <i class="el-icon-plus el-icon-plus-align" v-if="ifEdit" @click="addMachineDialog(scope2.row)"></i>
                  </div>
                </template>
              </el-table-column>
            </el-table>
          </template>
        </el-table-column>
        <el-table-column
          class="area"
          :label="$t('address.area')">
          <template slot-scope="scope">
            <el-checkbox v-model="scope.row.building_checked" @change="handleBuilding(scope.row)" :indeterminate="scope.row.isIndeterminateAll" :label="scope.row.name" v-if="!ifEdit">
            </el-checkbox>
            <span v-if="ifEdit" style="font-size:14px">{{scope.row.name}}</span>
            <i class="el-icon-edit-outline" v-if="ifEdit" @click.prevent="startBuildingEdit(scope.row)"></i>
            <i class="el-icon-delete" v-if="ifEdit" @click.prevent="startBuildingDel(scope.row)"></i>
         </template>
        </el-table-column>
        <el-table-column
          align="left"
          width="220">
          <!-- eslint-disable-next-line -->
          <template slot="header" slot-scope="scope">
            <div class="plus-wrapper-primary" @click="addBuildingDialog" v-if="ifEdit">
              <i class="el-icon-plus el-icon-plus-primary"></i>
              <span class="area_text">{{$t('address.area-new')}}</span>
            </div>
          </template>
        </el-table-column>
      </el-table>
      <!-- <el-pagination class="pagination" slot="footer"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="currentPage"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="pageSize"
        layout="total, sizes, prev, pager, next"
        :total="totalCount">
      </el-pagination> -->
    </Card>
    <el-dialog
      :title="titleText"
      :visible.sync="dialogBuildingVisible"
      width="520px"
      :before-close='closeBuildingDialog'
      >
      <el-form :model="form" ref='form' :rules="rules" label-width="140px" style="text-align: left">
        <el-form-item :label="$t('address.area-name')" prop="name">
          <el-input v-model="form.name" style="width: 200px"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="closeBuildingDialog">{{$t('button.cancel')}}</el-button>
        <el-button type="primary" @click="editBuildingConfirm">{{$t('button.confirm')}}</el-button>
      </span>
    </el-dialog>
    <el-dialog
      :title="titleText"
      :visible.sync="dialogVisible"
      width="520px"
      :before-close='closeDialog'
      >
      <el-form :model="floorForm" ref='floorForm' :rules="floorRules" label-width="140px" style="text-align: left">
        <el-form-item :label="$t('address.area-name')" prop="name">
          <el-input v-model="floorForm.name" style="width: 200px"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="closeDialog">{{$t('button.cancel')}}</el-button>
        <el-button type="primary" @click="editFloorConfirm">{{$t('button.confirm')}}</el-button>
      </span>
    </el-dialog>
    <el-dialog
      :title="titleText"
      :visible.sync="dialogPointVisible"
      width="520px"
      :before-close='closePointDialog'
      >
      <el-form :model="pointForm" ref="pointForm" style="text-align: left" :rules="pointRules" label-width="140px">
        <el-form-item :label="$t('address.area-name')" prop="name">
          <el-input v-model="pointForm.name" style="width: 200px"></el-input>
        </el-form-item>
        <el-form-item :label="$t('address.area-binding-device')" prop="device">
          <el-select v-model="pointForm.device" filterable :placeholder="$t('tips.select-pleaseholder')" style="width: 200px" clearable>
            <el-option
              v-for="item in deviceArray"
              :key="item.id"
              :label="item.name"
              :value="item.id"
              :disabled="item.isDisable">
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="closePointDialog">{{$t('button.cancel')}}</el-button>
        <el-button type="primary" @click="editPointConfirm">{{$t('button.confirm')}}</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import { areaGroupsApi, areasApi, positionApi, devicesApi } from '../../api'
export default {
  data () {
    return {
      // 已绑定点位的设备
      deviceSelected: [],
      // 点位的id：name map对象
      machineMap: {},
      // 用于开关门的选中数组
      checkedDeviceArray: [],
      // 分页
      currentPage: 1,
      pageSize: 100000,
      totalCount: 1,
      // 机构ID
      organizationId: '',
      // 设备列表
      deviceArray: [],
      // 是否打开编辑模式
      editIf: false,
      // 编辑大楼对话框
      dialogBuildingVisible: false,
      // 编辑区域对话框
      dialogVisible: false,
      // 编辑点位绑定对象
      pointForm: {
        name: '',
        id: ''
      },
      floorForm: {
        name: '',
        id: ''
      },
      // 编辑点位对话框
      dialogPointVisible: false,
      rules: {
        name: [
          { required: true, message: this.$t('address.area-name-require'), trigger: 'blur' }
        ]
      },
      pointRules: {
        name: [
          { required: true, message: this.$t('address.area-name-require'), trigger: 'blur' }
        ]
      },
      floorRules: {
        name: [
          { required: true, message: this.$t('address.area-name-require'), trigger: 'blur' }
        ]
      },
      // 编辑区域绑定对象
      form: {
        name: '',
        id: ''
      },
      // 表格信息
      tableNewArray: [],
      type: '',
      titleText: ''
    }
  },
  mounted () {
    let session = JSON.parse(sessionStorage.getItem('currentOrganization'))
    this.organizationId = session.id
    this.getData()
  },
  computed: {
    ifEdit () {
      return this.editIf
    }
  },
  methods: {
    openDoor () {
      this.currentDeviceChecked()
      let flag = true
      let notifyString = ''
      if (this.checkedDeviceArray.length) {
        const requireList = this.checkedDeviceArray.map(i => {
          return positionApi.positionsIdRelayOpenPost(i)
        })
        Promise.all(requireList).then(array => {
          array.map((item, index) => {
            if (item instanceof Error) {
              notifyString += (this.machineMap[this.checkedDeviceArray[index]] + '、')
              flag = false
            }
          })
          if (flag) {
            this.alertOpenSuccess()
          } else {
            notifyString = notifyString.substring(0, notifyString.length - 1)
            this.$handleErrorNotify(this.$t('address.area-open-error', { msg: notifyString }), this.$t('alert.error'))
          }
        }).catch(res => console.log('catch error', res))
      } else {
        this.$message({
          type: 'error',
          message: this.$t('address.area-point-require')
        })
      }
    },
    alertOpenSuccess () {
      this.$message({
        type: 'success',
        message: this.$t('address.area-open-success')
      })
    },
    alertCloseSuccess () {
      this.$message({
        type: 'success',
        message: this.$t('address.area-close-success')
      })
    },
    closeDoor () {
      this.currentDeviceChecked()
      let flag = true
      let notifyString = ''
      if (this.checkedDeviceArray.length) {
        const requireList = this.checkedDeviceArray.map(i => {
          return positionApi.positionsIdRelayClosePost(i)
        })
        Promise.all(requireList).then(array => {
          array.map((item, index) => {
            if (item instanceof Error) {
              notifyString += (this.machineMap[this.checkedDeviceArray[index]] + '、')
              flag = false
            }
          })
          if (flag) {
            this.alertCloseSuccess()
          } else {
            notifyString = notifyString.substring(0, notifyString.length - 1)
            this.$handleErrorNotify(this.$t('address.area-close-error', { msg: notifyString }), this.$t('alert.error'))
          }
        }).catch(res => console.log('catch error', res))
      } else {
        this.$message({
          type: 'error',
          message: this.$t('address.area-point-require')
        })
      }
    },
    // 获取所有当前选中的点位
    currentDeviceChecked () {
      this.checkedDeviceArray = []
      for (let i in this.tableNewArray) {
        if (this.tableNewArray[i].areas.length) {
          for (let j in this.tableNewArray[i].areas) {
            if (this.tableNewArray[i].areas[j].positions.length) {
              this.checkedDeviceArray = JSON.parse(JSON.stringify(this.checkedDeviceArray.concat(this.tableNewArray[i].areas[j].checkedMachines)))
            }
          }
        }
      }
    },
    // 更改楼层的选中状态时，同时更改点位和大楼的选中状态
    handleFloor (data, dataWrapper) {
      // 深拷贝点位数组，避免和被选数组互相影响
      const machinesItem = JSON.parse(JSON.stringify(data.machines))
      machinesItem.forEach(this.filterChecked)
      data.checkedMachines = data.checkAll ? machinesItem : []
      data.isIndeterminate = false
      this.checkIfAllSelected(dataWrapper)
    },
    // checkbox-group须保持和checkbox中的label一致
    filterChecked (item, index, arr) {
      arr[index] = item.id
    },
    // 更改点位的选中状态时，同时更改楼层和大楼的选中状态
    handleMachines (data, dataWrapper) {
      let checkedCount = data.checkedMachines.length
      data.checkAll = checkedCount === data.machines.length
      data.isIndeterminate = checkedCount > 0 && checkedCount < data.machines.length
      this.checkIfAllSelected(dataWrapper)
    },
    // 更改大楼的选中状态时，同时更改楼层和点位的选中状态
    handleBuilding (data) {
      // 更改大楼选中状态后，取消不确定状态
      data.isIndeterminateAll = false
      for (let sub in data.areas) {
        const machinesItem = JSON.parse(JSON.stringify(data.areas[sub].machines))
        machinesItem.forEach(this.filterChecked)
        if (data.building_checked) {
          data.areas[sub].checkedMachines = machinesItem
          data.areas[sub].checkAll = true
        } else {
          data.areas[sub].checkedMachines = []
          data.areas[sub].checkAll = false
        }
        data.areas[sub].isIndeterminate = false
      }
    },
    // 根据楼层和点位的选中状态变更，来改变大楼的选中状态
    checkIfAllSelected (dataWrapper) {
      dataWrapper.building_checked = false
      dataWrapper.isIndeterminateAll = true
      let count = 0
      let checkAllCount = 0
      for (let sub in dataWrapper.areas) {
        if (dataWrapper.areas[sub].isIndeterminate) {
          count++
        }
        if (dataWrapper.areas[sub].checkAll) {
          checkAllCount++
        }
      }
      if (checkAllCount === dataWrapper.areas.length) {
        dataWrapper.building_checked = true
        dataWrapper.isIndeterminateAll = false
      }
      if (count === 0 && checkAllCount === 0) {
        dataWrapper.building_checked = false
        dataWrapper.isIndeterminateAll = false
      }
    },
    editSwitch () {
      this.editIf = !this.editIf
    },
    closeDialog () {
      this.$refs.floorForm.clearValidate()
      this.dialogVisible = false
      this.floorForm = {
        name: '',
        id: ''
      }
    },
    closeBuildingDialog () {
      this.$refs.form.clearValidate()
      this.dialogBuildingVisible = false
      this.form = {
        name: '',
        id: ''
      }
    },
    // 编辑大楼
    startBuildingEdit (data) {
      this.form.name = data.name
      this.form.id = data.id
      this.type = 'edit'
      this.titleText = this.$t('address.area-edit')
      this.dialogBuildingVisible = true
    },
    // 删除大楼
    startBuildingDel (data) {
      this.$confirm(this.$t('address.area-if-delete-area'), this.$t('button.tip'), {
        confirmButtonText: this.$t('button.confirm'),
        cancelButtonText: this.$t('button.cancel'),
        type: 'warning'
      }).then(async () => {
        if (!data.areas.length) {
          await areaGroupsApi.areaGroupsIdDelete(
            data.id,
            null
          )
          this.getData()
        } else {
          this.$message({
            type: 'error',
            message: this.$t('address.area-deny-delete')
          })
        }
      }).catch((e) => { })
    },
    // 编辑楼层
    startFloorEdit (data) {
      this.floorForm.name = data.name
      this.floorForm.id = data.id
      this.type = 'edit'
      this.dialogVisible = true
      this.titleText = this.$t('address.area-edit')
    },
    // 删除楼层
    startFloorDel (data) {
      this.$confirm(this.$t('address.area-if-delete-area'), this.$t('button.tip'), {
        confirmButtonText: this.$t('button.confirm'),
        cancelButtonText: this.$t('button.cancel'),
        type: 'warning'
      }).then(async () => {
        if (!data.positions.length) {
          await areasApi.areasIdDelete(
            data.id,
            null
          )
          this.getData()
        } else {
          this.$message({
            type: 'error',
            message: this.$t('address.area-deny-delete')
          })
        }
      }).catch((e) => { })
    },
    // 编辑点位
    startMachinesEdit (data) {
      this.pointForm.name = data.name
      this.pointForm.id = data.id
      // 当去除绑定设备时，应当给后端传0
      if (data.deviceId === 0) {
        this.$set(this.pointForm, 'device', '')
      } else {
        this.$set(this.pointForm, 'device', data.deviceId)
      }
      this.titleText = this.$t('address.area-edit-point')
      this.type = 'edit'
      this.dialogPointVisible = true
    },
    // 编辑点位对话框确定
    editPointConfirm () {
      this.$refs.pointForm.validate((valid) => {
        if (valid) {
          if (this.type === 'edit') {
            this.updatePoint()
          } else {
            this.addMachines()
          }
          this.dialogPointVisible = false
        } else {
          return false
        }
      })
    },
    // 编辑楼层对话框确定
    editFloorConfirm () {
      this.$refs.floorForm.validate((valid) => {
        if (valid) {
          if (this.type === 'edit') {
            this.editFloor()
          } else {
            this.addFloor()
          }
          this.dialogVisible = false
        } else {
          return false
        }
      })
    },
    // 编辑大楼对话框确定
    editBuildingConfirm () {
      this.$refs.form.validate((valid) => {
        if (valid) {
          if (this.type === 'edit') {
            this.editBuilding()
          } else {
            this.addBuilding()
          }
          this.dialogBuildingVisible = false
        } else {
          return false
        }
      })
    },
    // 删除点位
    startMachinesDel (data) {
      this.$confirm(this.$t('address.area-if-delete-point'), this.$t('button.tip'), {
        confirmButtonText: this.$t('button.confirm'),
        cancelButtonText: this.$t('button.cancel'),
        type: 'warning'
      }).then(async () => {
        await positionApi.positionsIdDelete(
          data.id,
          null
        )
        this.getData()
      }).catch((e) => { })
    },
    closePointDialog () {
      this.dialogPointVisible = false
      this.pointForm = {
        name: '',
        id: ''
      }
      this.$refs['pointForm'].clearValidate()
    },
    addBuildingDialog () {
      this.type = 'add'
      this.titleText = this.$t('address.area-add')
      this.dialogBuildingVisible = true
    },
    // 新增一级区域
    async addBuilding () {
      await this.addAreaGroup()
      this.form = {
        name: '',
        id: ''
      }
      this.getData()
    },
    addFloorDialog (data) {
      this.type = 'add'
      this.titleText = this.$t('address.area-add')
      this.dialogVisible = true
      this.floorForm.id = data.id
    },
    addMachineDialog (data) {
      this.type = 'add'
      this.titleText = this.$t('address.area-add-point')
      this.dialogPointVisible = true
      this.pointForm.id = data.id
    },
    // 新增二级区域
    async addFloor () {
      await this.addArea()
      this.floorForm = {
        name: '',
        id: ''
      }
      this.getData()
    },
    // 编辑二级区域
    async editFloor () {
      await this.editArea(this.floorForm.id)
      this.floorForm = {
        name: '',
        id: ''
      }
      this.getData()
    },
    // 编辑一级区域
    async editBuilding () {
      await this.editAreaGroup(this.form.id)
      this.form = {
        name: '',
        id: ''
      }
      this.getData()
    },
    // 新增门禁机点位
    async addMachines () {
      await this.addPoint()
      this.pointForm = {
        name: '',
        id: ''
      }
      this.getData()
    },
    // 获取区域信息
    async getData () {
      const res = await areaGroupsApi.areaGroupsGet(
        null,
        this.currentPage,
        this.pageSize,
        '',
        this.organizationId
      )
      if (res && res.data) {
        this.deviceSelected = []
        let newArray = this.constructTableArray(res.data.data)
        this.tableNewArray = newArray
        this.totalCount = res.data.total
        this.getDeviceData()
      }
    },
    // 获取设备信息
    async getDeviceData () {
      const res = await devicesApi.devicesGet(
        this.currentPage,
        this.pageSize,
        '',
        ''
      )
      if (res.data) {
        this.deviceArray = res.data.data
        for (let i in this.deviceArray) {
          if (this.deviceSelected.indexOf(this.deviceArray[i].id) !== -1) {
            this.deviceArray[i].isDisable = true
          } else {
            this.deviceArray[i].isDisable = false
          }
        }
      }
    },
    // 新增一级区域
    async addAreaGroup () {
      const newAreaGroup = { name: this.form.name }
      await areaGroupsApi.areaGroupsPost(
        newAreaGroup,
        null
      )
    },
    // 新增二级区域
    async addArea () {
      const newArea = {
        areaGroupId: this.floorForm.id,
        name: this.floorForm.name
      }
      await areasApi.areasPost(
        newArea,
        null
      )
    },
    // 编辑二级区域
    async editArea (id) {
      const newArea = {
        name: this.floorForm.name
      }
      await areasApi.areasIdPatch(
        id,
        newArea,
        null
      )
    },
    // 编辑一级区域
    async editAreaGroup (id) {
      const newAreaGroup = {
        name: this.form.name
      }
      await areaGroupsApi.areaGroupsIdPatch(
        id,
        newAreaGroup,
        null
      )
    },
    // 新增点位
    async addPoint () {
      const newPoint = {
        areaId: this.pointForm.id,
        name: this.pointForm.name,
        deviceId: this.pointForm.device
      }
      await positionApi.positionsPost(
        newPoint,
        null
      )
    },
    // 更新点位
    async updatePoint () {
      const newPoint = this.pointForm.device ? {
        name: this.pointForm.name,
        deviceId: this.pointForm.device
      } : {
        name: this.pointForm.name,
        deviceId: 0
      }
      await positionApi.positionsIdPatch(
        this.pointForm.id,
        newPoint
      )
      this.pointForm = {
        name: '',
        id: ''
      }
      this.getData()
    },
    // 补充选中状态等信息
    constructTableArray (data) {
      let constructTable = JSON.parse(JSON.stringify(data))
      for (let i in constructTable) {
        constructTable[i].building_checked = false
        constructTable[i].isIndeterminateAll = false
        if (constructTable[i].areas !== []) {
          for (let j in constructTable[i].areas) {
            constructTable[i].areas[j].checkAll = false
            constructTable[i].areas[j].checkedMachines = []
            constructTable[i].areas[j].isIndeterminate = false
            if (constructTable[i].areas[j].positions !== []) {
              constructTable[i].areas[j].machines = []
              for (let k in constructTable[i].areas[j].positions) {
                const newMachineItem = {
                  name: constructTable[i].areas[j].positions[k].name,
                  id: constructTable[i].areas[j].positions[k].id,
                  deviceId: constructTable[i].areas[j].positions[k].deviceId
                }
                this.machineMap[constructTable[i].areas[j].positions[k].id] = constructTable[i].areas[j].positions[k].name
                constructTable[i].areas[j].machines.push(newMachineItem)
                if (constructTable[i].areas[j].positions[k].deviceId !== null) {
                  if (this.deviceSelected.indexOf(constructTable[i].areas[j].positions[k].deviceId) === -1) {
                    // 已绑定点位的设备禁选
                    this.deviceSelected.push(constructTable[i].areas[j].positions[k].deviceId)
                  }
                }
              }
            }
          }
        }
      }
      return constructTable
    },
    handleSizeChange (val) {
      const dom = document.getElementsByClassName('card__body')
      if (dom && dom[0]) dom[0].scrollTop = 0
      this.pageSize = val
      this.getData()
    },
    handleCurrentChange (val) {
      const dom = document.getElementsByClassName('card__body')
      if (dom && dom[0]) dom[0].scrollTop = 0
      this.currentPage = val
      this.getData()
    }
  }
}
</script>
<style lang="stylus" scoped>
.el-icon-edit-outline, .el-icon-delete
  margin-left 5px
  font-size 15px
  vertical-align middle
  cursor pointer
.el-icon-delete
  color #F56C6C
.el-icon-edit-outline
  color #409EFF
.plus-wrapper-primary
  position absolute
  display flex
  top 0
  height 100%
  cursor pointer
.area_text
  font-size 14px
  align-self center
.el-icon-plus-primary
  font-size 21px
  align-self center
  cursor pointer
  margin-right 5px
.el-icon-plus-align
  display inline-block
  align-self center
  font-size 21px
  cursor pointer
.plus-wrapper
  position absolute
  height 100%
  display inline-block
  right 15px
  top 0
  display flex
  padding 0 0
.check_box_wrapper
  display inline-block
  margin-right 15px
.area_manage /deep/ .el-checkbox__input.is-checked .el-checkbox__inner
  background-color rgb(103, 194, 58)
  border-color rgb(103, 194, 58)
.area_manage /deep/ .el-checkbox__input.is-focus .el-checkbox__inner
  border-color rgb(103, 194, 58)
.area_manage /deep/ .el-checkbox__input.is-checked+.el-checkbox__label
  color rgb(103, 194, 58)
.area_manage /deep/ .el-checkbox__input.is-indeterminate .el-checkbox__inner
  background-color rgb(103, 194, 58)
  border-color rgb(103, 194, 58)
.area_manage /deep/ .el-checkbox__inner:hover
  border-color rgb(103, 194, 58)
/* 取消el-checkbox-group默认font-size为0造成的高度变化 */
.el-checkbox-group
  font-size 14px
  padding-right 25px
.area_manage /deep/ .el-table .cell
  position relative
  min-height 24px
.area_manage /deep/ .has-gutter .cell
  text-align  center
.area_manage /deep/ .wrap-table .el-table__header-wrapper .has-gutter th:nth-child(2) .cell
  text-align left
  font-size 14px
</style>
