<template>
  <el-breadcrumb class="breadcrumb" separator-class="el-icon-arrow-right">
    <el-breadcrumb-item :to="{ name: 'welcome' }">
      {{ $t('app.智慧园区') }}
      <i style="color: #E59729" class="fa fa-vimeo-square" aria-hidden="true"></i>
    </el-breadcrumb-item>
    <template v-for="(item, index) in breadcrumb">
      <el-breadcrumb-item v-if="breadcrumbObj[item]" :key="index">
        {{ breadcrumbObj[item] }}
      </el-breadcrumb-item>
    </template>
  </el-breadcrumb>
</template>

<script>
import { breadcrumbGenerate } from './breadcrumbHandle.js' // 引入路由处理
import appMixin from '@/store/app-mixin'
export default {
  mixins: [appMixin],
  computed: {
    breadcrumbObj () {
      return breadcrumbGenerate(this.$store.state.routerList)
    }
  }
}
</script>

<style lang="stylus" scoped>
.breadcrumb
  font-size 14px
  margin 10px
</style>
