<template>
  <div>
    <Card>
      <CardMenuItem slot="cardTitle" :title="$t('attendance.management')" isActive/>
      <div slot="buttonGroup">
        <el-button @click="dialogVisible = true" type="danger">
          {{ $t('button.export-attendance') }}
        </el-button>
        <el-button @click="editForm()" type="primary">
          {{ $t('button.attendance-setting') }}
        </el-button>
      </div>
      <!-- 查询栏 -->
      <QueryBar slot="queryBar">
        <div slot="queryBarLeft" style="float: left;text-align: left">
          {{ `${ $t('attendance.staff.name') }：` }}
          <el-select v-model="selectMemberId" @change="getData()" @clear="clearData()"
            style="width: 200px; margin-right: 20px" filterable clearable>
            <el-option
              v-for="item in memberInfoList"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            ></el-option>
          </el-select>
        </div>
      </QueryBar>
      <!-- 考勤显示 -->
      <div v-if="selectMemberId" class="attendance-wrap" slot="contain">
        <el-card style="min-width: 400px; width: 50%" shadow="never">
          <Calendar @onDateSelect="showDetails" @onLastMonth="query" @onNextMonth="query">
            <template
              slot="state-slot"
              slot-scope="{ date }">
              <div v-if="selectMemberId" class="circle" :style="{ background: getColor(date) }"></div>
              <div v-else class="circle" :style="{ background: 'white' }"></div>
            </template>
          </Calendar>
          <el-divider></el-divider>
          <div class="icon-tip__wrap">
            <template v-for="(item, index) in statusMixin">
              <div :key="index" class="circle" :style="{ background: item.color }"></div>{{ item.desc }}
            </template>
          </div>
          <p style="text-align: left; margin: 8px 12px">
            {{ momentFormatMixin(selectDate, 'YYYY/MM/DD') }}
          </p>
          <el-divider></el-divider>
          <Detail :attendanceDetail="currentAttendance" />
        </el-card>
        <el-card style="min-width: 500px;margin-left: 10px; width: 50%" shadow="never">
          <p style="text-align: left; margin: 20px">
            {{ momentFormatMixin(selectDate, 'YYYY/MM') }} {{ $t('attendance.attendance-summary') }}
          </p>
          <el-row class="attendance-statics__row">
            <el-col v-for="(item, index) in statusMixin" :key="index" :span="8">
              <el-progress :width="100" type="circle" :color="item.color"
                :percentage="keepTwoDecimalMixin((item.num / daysInMonth) * 100)">
              </el-progress>
              <p>{{ item.desc }}</p>
              <p>{{ item.num }} {{ $t('attendance.day') }}</p>
            </el-col>
          </el-row>
          <el-divider></el-divider>
          <div class="time-statistics__wrap">
            <div class="time-statistics__item">
              <p class="time-statistics__item-title">{{ $t('attendance.working-hours') }}</p>
              <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
              {{ keepTwoDecimalMixin(computedStatics.workingHours) }} {{ $t('attendance.hour') }}
            </div>
            <div class="time-statistics__item">
              <p class="time-statistics__item-title">{{ $t('attendance.overtime-hours') }}</p>
              <i class="fa fa-moon-o" aria-hidden="true"></i>
              {{ keepTwoDecimalMixin(computedStatics.overtimeHours) }} {{ $t('attendance.hour') }}
            </div>
          </div>
        </el-card>
      </div>
      <div class="attendance_empty_wrap" v-else slot="contain">
        <img :src="emptySvg" style="max-width: 300px">
        <h3>{{ $t('attendance.tips.staff-required') }}</h3>
      </div>
    </Card>
    <!-- 对话框 -->
    <el-dialog
      :title="$t('attendance.export-attendance')"
      :visible.sync="dialogVisible"
      width="600px"
      class="input_box"
      @close="dialogClose()"
    >
      <el-form :model="exportForm" :rules="exportRules" style="text-align: left" ref="exportForm" label-width="160px">
        <el-form-item :label="`${ $t('attendance.person-select') }：`" prop="memberIds">
          <el-select v-model="exportForm.memberIds" style="width: 200px" multiple filterable clearable>
              <el-option
                v-for="item in memberInfoList"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              ></el-option>
            </el-select>
        </el-form-item>
        <el-form-item :label="`${ $t('attendance.date-range') }：`" prop="dateRange">
          <el-date-picker
            v-model="exportForm.dateRange"
            type="datetimerange"
            format="yyyy-MM-dd HH:mm"
            :default-time="['00:00:00', '23:59:59']"
            value-format="timestamp"
            :picker-options="pickerFutureTime"
            unlink-panels
            :default-value="defaultLastMonth">
          </el-date-picker>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogClose()">
          {{ $t('button.cancel') }}
        </el-button>
        <el-button @click="exportAttendanceRecord('exportForm')" :loading="$store.state.isSubmitting">
          {{ $t('button.confirm') }}
        </el-button>
      </div>
    </el-dialog>

    <!-- 抽屉 -->
    <el-drawer
      :visible.sync="drawerVisible"
      direction="rtl"
      size="450px"
      :before-close="drawerClose">
      <h1 slot="title">{{ $t('attendance.config') }}</h1>
      <el-form :model="form" :rules="rules" style="text-align: left" ref="form" label-width="180px">
        <el-form-item :label="`${ $t('attendance.flexible-work') }：`" prop="isFlexible">
          <el-select v-model="form.isFlexible" style="width: 200px">
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item v-if="form.isFlexible" :label="`${ $t('attendance.be-late-time') }：`" prop="flexibleTime">
          <el-input-number v-model="form.flexibleTime" :min="0" :step="30"></el-input-number>
        </el-form-item>
        <el-form-item :label="`${ $t('attendance.work-time') }：`" prop="startTime">
          <el-time-select
            style="width: 200px"
            v-model="form.startTime"
            :picker-options="{
              start: '06:00',
              step: '00:05',
              end: '12:00'
            }">
          </el-time-select>
        </el-form-item>
        <el-form-item :label="`${ $t('attendance.go-off-work-time') }：`" prop="endTime">
          <el-time-select
            style="width: 200px"
            v-model="form.endTime"
            :picker-options="{
              start: '12:00',
              step: '00:05',
              end: '22:00'
            }">
          </el-time-select>
        </el-form-item>
        <p style="margin-left:30px;color:#666">{{ $t('attendance.attendance-tips') }}</p>
      </el-form>
      <div class="drawer-footer">
        <el-button @click="formSubmit('form')" :loading="$store.state.isSubmitting">
          {{ $t('button.save') }}
        </el-button>
      </div>
    </el-drawer>
  </div>
</template>
<script>
import moment from 'moment'
import Calendar from '@comp/Calendar/index'
import Detail from './components/Detail'
import { exportCSV } from '@utils/fileHandle/exportFile.js'
import { attendancesApi, organizationsApi, usersApi } from '../../api'
import { attendanceMixin } from '@/mixins/attendanceMixin'
import { momentMixin } from '@/mixins/momentMixin'
export default {
  mixins: [attendanceMixin, momentMixin],
  data () {
    return {
      emptySvg: require('@/assets/images/no-data.svg'),
      tableData: [], // 表格数据
      selectMemberId: null,
      selectDate: moment(), // 选中的当前日期（查看每天考勤使用）
      memberInfoList: [], // 所有人员
      // 对话框
      dialogVisible: false,
      drawerVisible: false, // 抽屉
      form: {}, // 表单
      exportForm: {}, // 导出表单
      exportRules: {
        dateRange: [{ required: true, message: this.$t('attendance.date-range.required'), trigger: 'blur' }]
      },
      rules: { // 表单校验
        isFlexible: [{ required: true, message: this.$t('attendance.flexible-work.required'), trigger: 'blur' }],
        flexibleTime: [{ required: true, message: this.$t('attendance.be-late-time.required'), trigger: 'blur' }],
        startTime: [{ required: true, message: this.$t('attendance.work-time.required'), trigger: 'blur' }],
        endTime: [{ required: true, message: this.$t('attendance.go-off-work-time.required'), trigger: 'blur' }]
      },
      options: [ // 开启控制
        { value: true, label: this.$t('tags.open') },
        { value: false, label: this.$t('tags.close') }
      ],
      defaultLastMonth: moment().month(moment().month() - 1).startOf('month').valueOf(),
      currentAttendance: {
        startTime: '',
        endTime: '',
        workingHours: 0,
        overtimeHours: 0,
        status: ''
      },
      pickerFutureTime: { // 禁用未来的时间
        disabledDate (time) {
          return time.getTime() > moment().subtract(0, 'days').valueOf()
        }
      }
    }
  },
  computed: {
    queryForm () {
      return {
        startTime: moment(this.selectDate).startOf('month').valueOf(),
        endTime: moment(this.selectDate).endOf('month').valueOf()
      }
    },
    daysInMonth () {
      return moment(this.selectDate).daysInMonth()
    },
    // 计算统计时长
    computedStatics () {
      const temp = {
        workingHours: 0,
        overtimeHours: 0
      }
      const obj = {}
      for (let i = 0; i < this.daysInMonth; i++) {
        const attr = moment(this.selectDate).startOf('month').add(i, 'day').format('YYYY-MM-DD')
        obj[attr] = true
      }
      for (const i in this.tableData) {
        if (obj[this.tableData[i].date]) {
          const { startTime, endTime, normalStartTime, normalEndTime } = this.tableData[i]
          // 计算工作、加班时长
          temp.workingHours += this.calcWorkingHoursMixin(startTime, endTime)
          temp.overtimeHours +=
            this.calcOvertimeHoursMixin(startTime, endTime, normalStartTime, normalEndTime)
        }
      }
      return temp
    }
  },
  mounted () {
    this.findMemberInfoList() // 查找所有人员信息
  },
  methods: {
    // 获取表格数据
    async getData () {
      if (!this.selectMemberId) return
      const res = await attendancesApi.attendancesGet(
        0,
        100000,
        this.queryForm.startTime,
        this.queryForm.endTime,
        undefined,
        [this.selectMemberId]
      )
      if (res) {
        this.tableData = res.data.data
        this.showStatistics() // 统计
      }
    },
    clearData () {
      this.tableData = []
      this.currentAttendance = {
        startTime: '',
        endTime: '',
        workingHours: 0,
        overtimeHours: 0,
        status: ''
      }
      this.initStatusOptionsMixin()
    },
    query (date) {
      this.selectDate = moment(date)
      this.getData()
      this.showDetails(this.selectDate)
    },
    // 查看考勤详情
    showDetails (date) {
      this.selectDate = moment(date)
      for (let i in this.tableData) {
        if (this.tableData[i].date === moment(date).format('YYYY-MM-DD')) {
          const { startTime, endTime, normalStartTime, normalEndTime } = this.tableData[i]
          this.currentAttendance.startTime = startTime ? moment(startTime).format('HH:mm') : ''
          this.currentAttendance.endTime = endTime ? moment(endTime).format('HH:mm') : ''
          // 计算工作、加班时长
          this.currentAttendance.workingHours = this.calcWorkingHoursMixin(startTime, endTime)
          this.currentAttendance.overtimeHours =
            this.calcOvertimeHoursMixin(startTime, endTime, normalStartTime, normalEndTime)
          this.currentAttendance.status = this.getStatusMixin(this.tableData[i])
          return
        }
      }
      // 今天之前 灰色 状态：未打卡
      // 今天之后 白色 状态：暂无
      this.currentAttendance = {
        startTime: '',
        endTime: '',
        workingHours: '' || 0,
        overtimeHours: '' || 0,
        status: moment(date).isBefore(moment()) ? 'absenteeism' : ''
      }
    },
    // 获取每天考勤状态对应颜色
    getColor (date) {
      for (let i in this.tableData) {
        if (this.tableData[i].date === moment(date).format('YYYY-MM-DD')) {
          const status = this.getStatusMixin(this.tableData[i])
          return this.statusMixin[status].color
        }
      }
      // 今天之前 灰色 状态：未打卡
      // 今天之后 白色 状态：暂无
      return moment(date).isBefore(moment()) ? this.statusMixin['absenteeism'].color : 'white'
    },
    // 展示统计信息
    showStatistics () {
      this.initStatusOptionsMixin()
      for (let item of this.tableData) {
        const status = this.getStatusMixin(item)
        if (this.statusMixin[status]) {
          this.statusMixin[status].num++
        }
      }
      // 计算总天数 这个月内早于今天的天数
      let temp = 0
      for (let i = 0; i < this.daysInMonth; i++) {
        if (moment(this.selectDate).startOf('month').add(i, 'day').isBefore(moment())) {
          temp++
        }
      }
      this.statusMixin['absenteeism'].num = temp - this.tableData.length
    },
    // 提交表单
    formSubmit (formName) {
      // 表单校验
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          // 深拷贝，消除数据处理对当前显示表单的影响
          const submitForm = JSON.parse(JSON.stringify(this.form))
          if (submitForm.isFlexible && !this.form.flexibleTime) {
            this.$message({
              message: this.$t('attendance.time-limit'),
              type: 'warning'
            })
            return
          }
          if (!submitForm.isFlexible) {
            submitForm.flexibleTime = ''
          } else {
            let h = parseInt(submitForm.flexibleTime / 60)
            let m = submitForm.flexibleTime % 60
            let hh = h < 10 ? '0' + h : h
            let mm = m < 10 ? '0' + m : m
            submitForm.flexibleTime = hh + ':' + mm
          }
          const res = await organizationsApi.organizationsIdAttendanceConfigPatch(this.$store.state.currentOrganization.id, { ...submitForm })
          if (res) {
            this.$handleSuccessMessage()
            this.drawerClose()
          }
        }
      })
    },
    // 导出考勤统计
    exportAttendanceRecord (formName) {
      // 表单校验
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          // 深拷贝，消除数据处理对当前显示表单的影响
          const submitForm = JSON.parse(JSON.stringify(this.exportForm))
          const res = await attendancesApi.attendancesGet(
            0,
            100000,
            submitForm.dateRange ? Math.floor(submitForm.dateRange[0]) : '',
            submitForm.dateRange ? Math.floor(submitForm.dateRange[1]) : '',
            '',
            submitForm.memberIds
          )
          // 选择需要导出的人员
          let exportMemberList = submitForm.memberIds && submitForm.memberIds.length ? this.memberInfoList.filter(item => submitForm.memberIds.includes(item.id)) : this.memberInfoList
          // 补充考勤 未打卡 记录
          if (res.data) {
            let exportData = []
            for (let i = Math.floor(submitForm.dateRange[1]); i >= Math.floor(submitForm.dateRange[0]); i -= 86400000) {
              exportMemberList.map(user => {
                if (res.data.data.some(item => (item.member.user.id === user.uid && item.date === moment(i).format('YYYY-MM-DD')))) {
                  exportData.push(res.data.data.filter(item => item.member.user.id === user.uid && item.date === moment(i).format('YYYY-MM-DD'))[0])
                } else {
                  exportData.push({ date: moment(i).format('YYYY-MM-DD'), member: { user: { name: user.name } }, startTime: 0, endTime: 0 })
                }
              })
            }
            // 状态 和 在司时长 处理
            exportData.map(item => {
              item.status = this.statusMixin[this.getStatusMixin(item)].desc
              item.duration = item.startTime && item.endTime ? this.handleTimeDuration(item.startTime, item.endTime) : ''
              item.startTime = item.startTime === 0 ? '' : moment(item.startTime).format('HH:mm:ss')
              item.endTime = item.endTime === 0 ? '' : moment(item.endTime).format('HH:mm:ss')
            })
            exportCSV(exportData,
              ['date', 'member.user.name', 'startTime', 'endTime', 'duration', 'status'],
              [this.$t('attendance.date'), this.$t('attendance.name'), this.$t('attendance.work-time'), this.$t('attendance.go-off-work-time'), this.$t('attendance.length-of-service'), this.$t('attendance.status')],
              this.$t('attendance.attendance'))
          }
          this.dialogClose()
        }
      })
    },
    // 显示编辑表单
    editForm (row) {
      this.findAttendanceConfig()
      this.drawerVisible = true
    },
    // 隐藏对话框
    dialogClose () {
      this.dialogVisible = false
      this.exportForm = {}
      this.$refs.exportForm.clearValidate()
    },
    // 关闭抽屉
    drawerClose () {
      this.drawerVisible = false
      this.form = {}
      this.$refs.form.clearValidate()
    },
    // 查找考勤配置
    async findAttendanceConfig () {
      const res = await organizationsApi.organizationsIdAttendanceConfigGet(this.$store.state.currentOrganization.id)
      if (res.data) {
        this.form = res.data
        this.form.flexibleTime = Number(res.data.flexibleTime.split(':')[0] * 60) + Number(res.data.flexibleTime.split(':')[1])
      }
    },
    // 查找所有人员
    async findMemberInfoList () {
      const res = await usersApi.usersGet(0, 100000, this.$store.state.currentOrganization.id)
      if (res.data) {
        res.data.data.map(item => {
          if (item.members[0]) {
            this.memberInfoList.push({ uid: item.id, id: item.members[0].id, name: item.name })
          }
        })
      }
    },
    // 时间戳转换为标准时间
    transformToTime (val) {
      return moment(val).format('HH:mm:ss')
    },
    // 统计时间差
    handleTimeDuration (oldVal, newVal) {
      let m1 = moment(oldVal)
      let m2 = moment(newVal)
      // 下班时间早于上班时间 提示时间异常
      if (m2 < m1) {
        return 'Time Error'
      }
      let duration = moment.duration(m2 - m1, 'ms')
      return duration.get('hours') + 'H' + duration.get('minutes') + 'min' + duration.get('seconds') + 's'
    }
  },
  components: {
    Calendar,
    Detail
  }
}
</script>
<style lang="stylus" scoped>
.attendance-wrap
  display flex
  .icon-tip__wrap
    padding 6px
    text-align left
    background white
    .circle
      display inline-block
      margin 0 4px
      height 0.6rem
      width 0.6rem
      border-radius 50%
      background red
  .time-statistics__wrap
    display flex
    background white
    padding 10px 40px
    text-align left
    .time-statistics__item
      flex 1
      font-size 18px
      color #58b4ae
      .time-statistics__item-title
        font-size 12px
        color #909399
        margin-bottom 10px
.attendance_empty_wrap
  padding-top 100px
  display flex
  justify-content center
  align-items center
  flex-direction column

.attendance-statics__row
  .el-col
    margin 10px 0

>>> .el-divider--horizontal
  margin 2px 0

>>> .el-tag--dark
  border none

.drawer-footer
  padding 40px 20%
</style>
