<template>
  <!-- 卡片组件，用于数据展示 -->
  <transition name="card-fade-show">
    <el-card class="main-card" shadow="hover">
      <div slot="header" class="card-header">
        <!-- Card左侧 菜单选项 -->
        <div class="card-header-left-menu">
          <slot name="cardTitle"></slot>
        </div>
        <!-- Card右侧 按钮组 -->
        <div class="card-header-right-button-group">
          <slot name="buttonGroup"></slot>
        </div>
      </div>
      <div class="card__body">
        <slot name="queryBar"></slot>
        <slot name="contain"></slot>
      </div>
      <div class="card__footer">
        <slot name="footer"></slot>
      </div>
    </el-card>
  </transition>
</template>
<script>
export default {
}
</script>
<style lang="stylus" scoped>
@import "../../styles/stylus/params.stylus"
.main-card
  .card-header
    overflow hidden
    .card-header-left-menu
      float left
    .card-header-right-button-group
      float right
      line-height $card-button-group-height
  .card__body
    padding-bottom 32px
    height calc(100vh - 164px - 32px)
    overflow-y auto
  .card__footer
    height 32px
    text-align right
</style>
