<template>
  <div class="calendar">
    <!-- 日历标题 -->
    <div class="calendar__title">
      <i class="calendar__bt el-icon-arrow-left" @click="handleLastMonth"></i>
      <span class="calendar__title-center">{{ currentDate.format(dateShowFormat[lang]) }}</span>
      <i class="calendar__bt el-icon-arrow-right" @click="handleNextMonth"></i>
    </div>
    <!-- 日历星期 -->
    <div class="calendar__weekdays">
      <span v-for="(item, index) in weekdays[lang]" :key="index" class="calendar__weekday">
        {{ item }}
      </span>
    </div>
    <!-- 日历日期 -->
    <div class="calendar__month">
      <div @click="onDateSelect(day)"
        class="calendar__day" v-for="(day, index) in dateArrayInMonth" :key="index"
        :style="{ marginLeft: index === 0 ? `${(startDay % 7) * 14.285}%` : '' }"
      >
        <div :class="['calendar__day-wrap', selectDate === day ? 'calendar__selected-day' :
          (fixedCurrentDate === day ? 'calendar__current-day' : 'calendar__normal-day')]"
        >
          {{ index + 1 }}
        </div>
        <slot name="state-slot" :date="day">
        </slot>
      </div>
    </div>
  </div>
</template>
<script>
import moment from 'moment'
export default {
  data () {
    return {
      lang: localStorage.getItem('locale'),
      dateShowFormat: {
        zh: 'YYYY 年 MM 月',
        jpn: 'YYYY / MM '
        // en: 'YYYY / MM '
      },
      weekdays: {
        zh: ['日', '一', '二', '三', '四', '五', '六'],
        jpn: ['日', '月', '火', '水', '木', '金', '土']
        // en: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
      },
      fixedCurrentDate: moment().format('YYYY-MM-DD'), // 固定的当前日期
      currentDate: moment(), // 日历中当前日期
      selectDate: '' // 选中日期
    }
  },
  computed: {
    startDay () {
      return parseInt(moment(this.currentDate).startOf('month').format('E'))
    },
    daysInMonth () {
      return moment(this.currentDate).daysInMonth()
    },
    dateArrayInMonth () {
      const array = []
      for (let i = 0; i < this.daysInMonth; i++) {
        array.push(moment(this.currentDate).startOf('month').add(i, 'day').format('YYYY-MM-DD'))
      }
      return array
    }
  },
  methods: {
    onDateSelect (day) {
      this.selectDate = day
      this.$emit('onDateSelect', day)
    },
    handleLastMonth () {
      this.currentDate = moment(this.currentDate).subtract(1, 'month').startOf('month')
      this.selectDate = this.currentDate.format('YYYY-MM-DD')
      this.$emit('onLastMonth', this.selectDate)
    },
    handleNextMonth () {
      this.currentDate = moment(this.currentDate).add(1, 'month').startOf('month')
      this.selectDate = this.currentDate.format('YYYY-MM-DD')
      this.$emit('onNextMonth', this.selectDate)
    }
  }
}
</script>

<style lang="stylus" scoped>
.calendar
  background white
  padding 1rem 0
  .calendar__title
    display flex
    align-items center
    font-size 18px
    .calendar__bt
      width: 14.285%
      cursor pointer
    .calendar__title-center
      flex 1
  .calendar__weekdays
    display flex
    .calendar__weekday
      flex 1
      padding 10px 0
      color gray
  .calendar__month
    text-align left
    width  100%
    .calendar__day
      display inline-block
      // padding 10px 0
      width 14.285%
      font-size 16px
      cursor pointer
      text-align center
      .calendar__day-wrap
        display flex
        align-items center
        justify-content center
        height 30px
        width 30px
        margin 0 auto
        border-radius 50%
      .calendar__selected-day
        color white
        background #409EFF
      .calendar__normal-day
        color black
      .calendar__current-day
        color white
        background #67C23A
      .circle
        display inline-block
        margin 0 4px
        height 0.6rem
        width 0.6rem
        border-radius 50%
        background white
</style>
