<template>
  <div class="home">
    <keep-alive>
      <Header />
    </keep-alive>
    <div class="left" :class="{ collapse: isCollapse }">
      <keep-alive>
        <SideMenu />
      </keep-alive>
    </div>
    <div class="right">
      <Contain />
    </div>
  </div>
</template>

<script>
import { wsUrl } from '../config/baseUrl.js'
import Header from '@comp/Header/Header'
import SideMenu from '@comp/Menu/SideMenu'
import Contain from '@/layouts/ContainLayout'
import appMixin from '@/store/app-mixin'
export default {
  mixins: [appMixin],
  data () {
    return {}
  },
  components: {
    Header,
    SideMenu,
    Contain
  },
  mounted () {
    this.$store.commit('changeIsSuperAdmin') // 判断是否为超级管理员
    this.connectWebSocket()
  },
  methods: {
    dataType (data) {
      return typeof data === 'object' ? JSON.stringify(data) : data
    },
    // ws connect
    connectWebSocket () {
      let accessToken = sessionStorage.getItem('id')
      if ('WebSocket' in window) {
        this.$store.state.wss = new WebSocket(`${wsUrl}?accessToken=${accessToken}`)
      } else {
        alert(this.$t('tips.websocket'))
      }
      this.$store.state.wss.onopen = () => {
        if (this.$store.state.wss.readyState === WebSocket.OPEN) {
          console.log('open')
        }
        this.$store.state.wss.send(JSON.stringify({ type: 'subscriptions', channel: 'organization', content: { id: this.$store.state.currentOrganization.id } }))
      }
      this.$store.state.wss.onmessage = (event) => {
        if (JSON.parse(event.data).channel === 'device' && JSON.parse(event.data).type === 'update') {
          this.$store.state.WebSocketMessage = JSON.parse(event.data).content
          let obj = JSON.parse(event.data).content
          this.$handleWarningNotify(this.$t('websocket.device-status', { deviceName: obj.name, time: this.transformToDateTime(obj.updatedAt), alive: obj.alive ? this.$t('tips.back-online') : this.$t('tips.off-line') }), this.$t('tips.device-update-status'), 0)
          console.log(this.$store.state.WebSocketMessage)
        }
      }
      this.$store.state.wss.onerror = () => {
        console.log('error')
      }
      this.$store.state.wss.onclose = (evt) => {
        console.log('close')
      }
    }
  }
}
</script>
<style lang="stylus" scoped>
@import "../styles/stylus/init.stylus"
.home
  width 100%
  height 100%
  display flex
  padding-top 60px
  .left
    width $sideMenuWidth !important
    height 100%
    position relative
    overflow hidden
    transition all 0.4s ease
  .right
    flex 1
    position relative
    top 0
    left 0
  .collapse
    width 64px !important
</style>
