<template>
  <transition name="header-fade-show">
    <nav v-show="isShow" class="header">
      <!-- 顶部导航 -->
      <div class="container">
        <ul class="container-left-ul">
          <li style="width: 150px">
            <!-- 中科视拓 -->
            <img id="icon" src="@assets/images/logo.png"/>
            <!-- 中科院计算所 -->
            <!-- <img id="icon" src="@assets/images/logo1.png"/> -->
          </li>
          <li :class="activeName === item.titleName ? 'menu-item-active' : 'container-left-li'" @click="toActiveMenuItem(item)"
            v-for="(item, index) in leftMenuList" :key="index">
            {{ item.titleName }}
          </li>
        </ul>
        <ul class="container-right-ul">
          <li style="width: 100px" :class="activeName === item.titleName ? 'menu-item-active' : 'container-right-li'" @click="toActiveMenuItem(item)"
            v-for="(item, index) in rightMenuList" :key="index">
            {{ item.titleName }}
          </li>
          <li v-if="isI18n" @click="changeLanguage" style="margin-left: 20px">
              <el-select v-model="locale" @change="changeLanguage"
                placeholder="language" id="language-select" style="width: 120px">
                <div slot="prefix" style="line-height: 50px">
                  <i class="fa fa-globe fa-lg" aria-hidden="true"></i>
                </div>
                <el-option
                  v-for="item in languageOptions"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                >
                </el-option>
            </el-select>
          </li>
          <li style="margin-left: 20px">
            <i style="font-size: 20px" class="el-icon-s-custom"></i>
            <el-dropdown @command="clickDropdownItem">
              <span class="el-dropdown-link">
               {{`${($store.state.isSuperAdmin || !currentOrganization) ? '' : `(${currentOrganization.name})`} ` }} {{username}}
                <i style="color: #E59729" class="fa fa-vimeo-square fa-lg" aria-hidden="true"></i>
                <i class="el-icon-arrow-down el-icon--right"></i>
              </span>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item :command="item"
                                  v-for="item in organizationsList"
                                  :key="item.id">
                  <i class="fa el-icon-share" aria-hidden="true"></i>
                  {{ item.name }}
                </el-dropdown-item>
                <el-dropdown-item command="changePassword">
                  <i class="fa fa-key" aria-hidden="true"></i>
                  {{ $t('password.change-password') }}
                </el-dropdown-item>
                <el-dropdown-item command="exit">
                  <i class="fa fa-sign-out" aria-hidden="true"></i>
                  {{ $t('logout') }}
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </li>
          <!-- <li id="bars" @click="dropDownShow = !dropDownShow">
            <i class="fa fa-bars fa-lg"/>
          </li> -->
        </ul>
      </div>
      <!-- 对话框 -->
      <el-dialog
        :title="titleText"
        :modal-append-to-body='false'
        :visible.sync="dialogVisible"
        width="520px"
        class="input_box"
        @close="dialogClose()">
        <el-form :model="form" class="error-tip" :rules="rules" style="text-align: left" ref="form" label-width="180px">
          <el-form-item :label="`${ $t('password.old-password') }：`" prop="password">
            <el-input v-model.trim="form.password" type="password" style="width: 200px" show-password>
              <i slot="prefix" style="padding-left: 6px" class="fa fa-lock" aria-hidden="true"></i>
            </el-input>
          </el-form-item>
          <el-form-item :label="`${ $t('password.new-password') }：`" prop="password_new">
            <el-input v-model.trim="form.password_new" type="password" style="width: 200px" show-password>
              <i slot="prefix" style="padding-left: 6px" class="fa fa-unlock-alt" aria-hidden="true"></i>
            </el-input>
          </el-form-item>
          <el-form-item :label="`${ $t('password.confirm-password') }：`" prop="password_new_sure">
            <el-input v-model.trim="form.password_new_sure" type="password" style="width: 200px" show-password>
              <i slot="prefix" style="padding-left: 6px" class="fa fa-unlock-alt" aria-hidden="true"></i>
            </el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogClose()">{{ $t('button.cancel') }}</el-button>
          <el-button @click="formSubmit('form')">{{ $t('button.confirm') }}</el-button>
        </div>
      </el-dialog>
    </nav>
  </transition>
</template>
<script>
import { validatePasswordMoreEightAndLessSixtyFour } from '@utils/formHandle/validateForm.js'
import { adminsApi, usersApi } from '../../api'
import { mapState } from 'vuex'

export default {
  name: 'Header',
  data () {
    // 校验确认密码是否一致
    let validatePasswordSure = (rule, value, callback) => {
      if (value !== this.form.password_new) {
        callback(new Error(this.$t('password.twice-password-same-validate')))
      } else {
        callback()
      }
    }
    return {
      isI18n: window.g.i18n,
      locale: localStorage.locale || 'zh', // 当前地区
      isShow: false,
      username: sessionStorage.username,
      dropDownShow: false, // 控制下拉菜单显示
      leftMenuList: [ // 左侧菜单内容
      ],
      rightMenuList: [ // 右侧菜单内容
        // { activeName: 'Dashboard', titleName: 'Dashboard', routerName: 'dashboard' }
      ],
      activeName: '', // 导航栏激活名称
      color: '',
      menuColor: {
        activeColor: localStorage.color || '#f4433c'
      },
      titleText: this.$t('password.change-password'), // 对话框标题
      dialogVisible: false,
      form: {},
      rules: { // 表单校验
        password: [
          { required: true, message: this.$t('password.old-password-required'), trigger: 'blur' },
          { validator: validatePasswordMoreEightAndLessSixtyFour, trigger: 'blur' }
        ],
        password_new: [
          { required: true, message: this.$t('password.new-password-required'), trigger: 'blur' },
          { validator: validatePasswordMoreEightAndLessSixtyFour, trigger: 'blur' }
        ],
        password_new_sure: [
          { required: true, message: this.$t('password.confirm-password-required'), trigger: 'blur' },
          { validator: validatePasswordSure, trigger: 'blur' }
        ]
      },
      languageOptions: [
        { value: 'zh', label: '中文' },
        { value: 'jpn', label: '日本語' }
      ]
    }
  },
  computed: {
    ...mapState({
      organizationsList (state) {
        return state.organizations && state.organizations.filter((val, key) => {
          if (val.id !== state.currentOrganization.id && val.name) {
            return val
          }
        })
      },
      currentOrganization: 'currentOrganization'
    })
  },
  created () {
    this.$store.commit('changeIsSuperAdmin')
    if (!this.$store.state.isSuperAdmin) {
      this.$store.commit('setCurrentOrganizations')
      this.$store.commit('setOrganizations')
    }
    this.isShow = true
  },
  methods: {
    toActiveMenuItem (item) { // 激活导航菜单
      switch (item.activeName) {
        case 'Theme':
          this.$store.commit(item.stateMutation)
          break
        case 'Dashboard':
          this.$router.push({ name: item.routerName })
          break
        default:
          console.warn(this.$t('app.menu-error'))
          break
      }
      // this.activeName = item.titleName
    },
    async clickDropdownItem (command) {
      switch (command) {
        case 'changePassword':
          this.dialogVisible = true
          break
        case 'exit':
          this.$confirm(this.$t('app.logout-tip'), this.$t('button.tip'), {
            confirmButtonText: this.$t('button.confirm'),
            cancelButtonText: this.$t('button.cancel'),
            type: 'warning'
          }).then(async () => {
            let namespace = sessionStorage.namespace
            if (namespace === 'admin') {
              this.$router.replace({ name: 'admin-login' })
            } else {
              this.$router.replace({ name: 'login' })
            }
            this.$handleSuccessMessage(this.$t('app.logout-success'))
          }).catch((e) => { })
          break
        default:
          // await this.$router.push('/welcome')
          this.$store.commit('setCurrentOrganizations', command)
          this.$store.state.wss.send({ type: 'subscriptions', channel: 'organization', content: { id: this.$store.state.currentOrganization.id } })
          this.$store.dispatch('changePermission')
          window.location.reload()
      }
    },
    formSubmit (formName) {
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          let id = sessionStorage.userId
          let namespace = sessionStorage.namespace
          let submitForm = {}
          submitForm.old = this.form.password
          submitForm.new = this.form.password_new
          const res = namespace === 'admin'
            ? await adminsApi.adminsIdPasswordPut(id, { ...submitForm })
            : await usersApi.usersIdPasswordPut(id, { ...submitForm })
          if (res) {
            this.$handleSuccessMessage(this.$t('password.change-password-success'))
            this.$router.push({ name: 'login' }) // 回到登录页面
            this.dialogVisible = false
          }
        }
      })
    },
    dialogClose () {
      this.dialogVisible = false
      // 清除校验信息
      this.$refs.form.clearValidate()
      this.form = {}
    },
    changeLanguage (lang) {
      localStorage.setItem('locale', lang)
      this.$i18n.locale = localStorage.locale // 切换显示语言
      this.$router.go(0)
    }
  }
}
</script>

<style lang="stylus" scoped>
@import "../../styles/stylus/init.stylus"
.header
  color $headerTextColor
  background $headerBg
  height $header-height
  width 100%
  position fixed
  top 0
  padding 0 40px 0 20px
  z-index 100
  box-shadow darkgrey 0 0 20px 0
  .container
    width 100%
    height 100%
    overflow hidden
    .container-left-ul
      float left
      li
        height 100%
        user-select none
        line-height $header-height
        width $header-li-width
        display inline-block
      #icon
        height 30px
        vertical-align middle
        user-select none
      .container-left-li:hover
        color $activeColor
        box-shadow 0px -4px 0px $activeColor inset
    .container-right-ul
      float right
      li
        height 100%
        user-select none
        line-height $header-height
        // width $header-li-width
        // width 100px
        display inline-block
      .container-right-li:hover
        color $activeColor
        box-shadow:0px -4px 0px $activeColor inset
      #bars > i
        margin-left 20px
        padding 8px 14px
        border 1px $headerTextColor solid
        border-radius 5px
  .dropdown
    width 100%
    background $headerBg
    li
      height 40px
      line-height 40px
      font-weight 900
    li:hover
      color $activeColor

.menu-item-active
  color $activeColor
  box-shadow 0px -4px 0px $activeColor inset

li
  >>> #language-select
    background $headerBg
// @media screen and (max-width: 1200px) {
//   .header {
//     padding 0
//   }
// }
// @media screen and (max-width: 768px) {
//   .container-left-li {
//     display none !important
//   }
//   .container-right-li {
//     display none !important
//   }
// }
// @media screen and (min-width: 768px) {
//   #bars {
//     display none
//   }
//   .dropdown {
//     display none
//   }
// }
.error-tip >>> .el-form-item__error
  display block
  position relative
</style>
