<template>
  <div class="group-tree" v-show="LastLevel && isShow">
    <h4 style="margin: 0.5rem 0">{{ $t('organization.level-tree') }}</h4>
      <div class="group-mange" >
          <!-- 插槽 如：增加查看未绑定人员按钮 -->
          <slot v-if="$store.state.isSuperAdmin && $route.name === 'member-manage'" name="tree-top"></slot>
          <el-tree
            ref="tree"
            :props="defaultProps"
            :data="treeData"
            node-key="id"
            highlight-current
            default-expand-all
            :expand-on-click-node="false"
            @node-click="handleNodeClick"
          >
          <span class="custom-tree-node" slot-scope="{ node }" :title="node.label">
            <div class="ellipsis">{{ node.label }}</div>
          </span>
        </el-tree>
      </div>
  </div>
</template>

<script>
import { levelsApi } from '../../api'
import appMixin from '@/store/app-mixin'
export default {
  mixins: [appMixin],
  data () {
    return {
      treeData: [],
      isShow: true,
      LastLevel: true,
      defaultProps: {
        label: 'name',
        children: 'descendants'
      }
    }
  },
  watch: {
    $route: {
      handler: function (route) {
        if (route.meta.showGroupManage) {
          this.isShow = true
          this.getData()
          this.setCurrentKey()
        } else {
          this.isShow = false
        }
      },
      immediate: true
    }
  },
  methods: {
    setCurrentKey () {
      setTimeout(() => {
        this.$refs.tree.setCurrentKey(this.$store.state.level)
      }, 100)
    },
    handleNodeClick (data) {
      this.$store.commit('setLevel', data.id)
    },
    async getData () {
      const res = await levelsApi.levelsIdTreeGet(this.$store.state.isSuperAdmin ? 0 : this.$store.state.currentOrganization.levelId)
      if (res) {
        if (this.$store.state.isSuperAdmin) {
          let top = { id: 0, name: this.$t('organization.all') }
          this.treeData = [{ ...top, descendants: res.data }]
        } else {
          if (res.data[0].descendants && res.data[0].descendants.length) {
            this.LastLevel = true
            this.treeData = res.data
          } else {
            this.LastLevel = false
          }
        }
      }
    }
  }
}
</script>

<style lang="stylus" scoped>
.group-tree
  float left
  height 100%
  margin-right 6px
  border-radius 4px
  background-color #fff
  .group-mange
    height calc(100% - 40px)
    width 200px
    overflow-y auto
    &::-webkit-scrollbar
      width 4px
      border-radius 10px
    &::-webkit-scrollbar-thumb
      border-radius 10px
      background-color #AEAEAE
    .ellipsis
      width 100px
      text-align left
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
</style>
