<template>
  <div>
    <Card>
      <CardMenuItem slot="cardTitle" :title="$t('app.welcome-page')" isActive/>
      <div id="welcome-box" slot="contain">
        <h1>{{ $t('app.welcome-use') }}</h1>
        <img src="../../assets/images/park.svg">
      </div>
    </Card>
  </div>
</template>
<script>
export default {

}
</script>
<style lang="stylus" scoped>
#welcome-box
  padding-top 100px
</style>
