<template>
  <div>
    <Card>
      <CardMenuItem slot="cardTitle" :title="$t('device.title')" isActive/>
      <div slot="buttonGroup">
        <el-button @click="updateForm()" type="danger">
          {{ $t('button.batch-upgrade') }}
        </el-button>
      </div>
      <!-- 查询栏 -->
      <QueryBar slot="queryBar">
        <div slot="queryBarLeft">
          <div v-if="$store.state.isSuperAdmin" style="display:inline">
          {{ `${ $t('organization.affiliation') }：` }}
          <el-select v-model="queryForm.organizationId" clearable class="query-bar-item">
            <el-option v-for="item in organizationList"
                       :key="item.id"
                       :value="item.id"
                       :label="item.name"></el-option>
          </el-select></div>
          {{ `${ $t('device.name') }：` }}
          <el-input v-model.trim="queryForm.name" clearable class="query-bar-item"></el-input>
          <el-button @click="getData()">
            {{ $t('button.query') }}
          </el-button>
          <el-button @click="resetGetData()">
            {{ $t('button.reset') }}
          </el-button>
        </div>
      </QueryBar>
      <!-- 表格 -->
      <el-table ref="multipleTable" slot="contain" header-cell-class-name="table__header" row-class-name="table__row"
        :data="tableData" stripe @selection-change="handleSelectionChange">
        <el-table-column type="selection" width="55"></el-table-column>
        <el-table-column prop="name" :label="$t('device.name')"></el-table-column>
        <el-table-column prop="code" :label="$t('device.code')"></el-table-column>
        <el-table-column prop="apkVersion" :label="$t('device.soft-version')"></el-table-column>
        <el-table-column prop="deviceVersion" :label="$t('device.version')"></el-table-column>
        <el-table-column prop="deviceType.name" :label="$t('device.type')"></el-table-column>
        <el-table-column prop="addressId" :label="$t('device.address-affiliation')">
          <template slot-scope="scope">
            <div v-if="scope.row.address">
              <el-tooltip class="item tag-ellipsis" effect="dark" :content="scope.row.address.name" placement="top">
                <el-tag :disable-transitions="true">{{ scope.row.address.name }}</el-tag>
              </el-tooltip>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="organizationId" :label="$t('organization.affiliation')">
          <template slot-scope="scope">
            <div v-if="scope.row.organizationId && handleGetTargetByQueryMixin(scope.row.organizationId, organizationList, 'id', 'name')">
              {{ handleGetTargetByQueryMixin(scope.row.organizationId, organizationList, 'id', 'name') }}
            </div>
            <el-tag type="danger" :disable-transitions="true" v-else>
              {{ $t('tags.deleted') }}
            </el-tag>
          </template>
        </el-table-column>
        <el-table-column prop="type" :label="$t('device.status')">
          <template slot-scope="scope">
            <el-tooltip v-if="scope.row.alive" :content="$t('tags.online')" placement="right" :open-delay=200>
              <img src="@assets/images/normal_light.png">
            </el-tooltip>
            <el-tooltip v-else :content="$t('tags.offline')" placement="right" :open-delay=200>
              <img src="@assets/images/abnormal_light.png">
            </el-tooltip>
          </template>
        </el-table-column>
        <el-table-column prop="deviceType.mode" :label="$t('device.stream.open-door')" width="160px">
          <template slot-scope="scope" v-if="scope.row.deviceType.mode === 1 || scope.row.deviceType.mode === 2 || scope.row.deviceType.mode === 3 || scope.row.deviceType.mode === 4">
            <div v-for="(item, index) in scope.row.cameras" :key="index">
              <el-tag
                :closable="!$store.state.isSuperAdmin && (scope.row.deviceType.mode === 3 || scope.row.deviceType.mode === 4)"
                @close="delStreamForm(scope.row.code, item.id)">
                {{ item.name }}
                <i class="el-icon-edit" v-if="!$store.state.isSuperAdmin" @click="editStreamForm(scope.row.code, scope.row.deviceType.mode, item)" style="cursor: pointer;"></i>
              </el-tag>
              <i type="success" class="fa fa-angle-double-right" aria-hidden="true"></i>
              <span class="span__bt" @click="deviceOpenByStreamId(scope.row.code, item)">
                {{ $t('button.open-door') }}
              </span>
            </div>
          </template>
        </el-table-column>
        <el-table-column :label="$t('button.action')" width="300">
          <template slot-scope="scope">
            <!-- 超级管理员仅有应答 -->
            <span v-if="$store.state.isSuperAdmin">
              <el-tooltip v-if="scope.row.deviceType.mode === 1 || scope.row.deviceType.mode === 2" :content="$t('tips.fastest-2s-response')" placement="top">
                <span class="span__bt" @click="testDevice(scope.row)">
                  {{ $t('button.reply') }}
                </span>
              </el-tooltip>
            </span>
            <!-- 仅普通管理员操作 -->
            <span v-else>
              <span>
                <span v-if="scope.row.deviceType.mode === 3 || scope.row.deviceType.mode === 4" class="span__bt" @click="addStreamForm(scope.row.code, scope.row.deviceType.mode)">
                  {{ $t('button.add-stream') }}
                </span>
                <div v-if="scope.row.deviceType.mode === 3 || scope.row.deviceType.mode === 4" class="divider-vertical"></div>
              </span>
              <span v-if="scope.row.deviceType.mode === 1 || scope.row.deviceType.mode === 2 || scope.row.deviceType.mode === 3 || scope.row.deviceType.mode === 4">
                <span class="span__bt" @click="editStyleForm(scope.row)">
                  {{ $t('button.style') }}
                </span>
                <div class="divider-vertical"></div>
              </span>
              <span v-if="scope.row.deviceType.mode === 1 || scope.row.deviceType.mode === 2">
                <el-tooltip :content="$t('tips.fastest-2s-response')" placement="top">
                  <span class="span__bt" @click="testDevice(scope.row)">
                    {{ $t('button.reply') }}
                  </span>
                </el-tooltip>
                <div class="divider-vertical"></div>
              </span>
              <span class="span__bt" @click="editForm(scope.row)">
                {{ $t('button.edit') }}
              </span>
              <div class="divider-vertical"></div>
              <span class="span__bt" @click="delForm(scope.row)">
                {{ $t('button.delete') }}
              </span>
            </span>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination class="pagination" slot="footer"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="currentPage"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="pageSize"
        layout="slot, sizes, prev, pager, next"
        :total="totalCount">
        <span class="el-pagination__total">
          {{ $t('app.data-count', { total: totalCount}) }}
        </span>
      </el-pagination>
    </Card>

    <!-- 对话框 -->
    <el-dialog
      :title="titleText"
      :visible.sync="dialogVisible"
      width="650px"
      class="input_box"
      @close="dialogClose()"
    >
      <el-form :model="submitType === 'editStream' || submitType === 'addStream' ? streamForm : form" :rules="rules" style="text-align: left" ref="form" label-width="240px">
        <div v-if="submitType === 'add' || submitType === 'edit'">
          <el-form-item :label="`${ $t('device.name') }：`" prop="name">
            <el-input v-model.trim="form.name" style="width: 200px"></el-input>
          </el-form-item>
          <el-form-item :label="`${ $t('device.code') }：`" prop="code">
            <el-select @change="showDeviceType" v-model="form.code" v-if="form.code" :disabled="submitType === 'edit'" style="width: 200px">
              <el-option
                v-for="item in deviceList"
                :key="item.deviceCode"
                :label="item.deviceCode"
                :value="item.deviceCode"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item v-if="form.deviceType" :label="`${ $t('device.type') }：`" prop="deviceType.mode">
            <el-select v-model="form.deviceType.mode" disabled style="width: 200px">
              <el-option
                v-for="item in deviceTypeOptions"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item :label="`${ $t('organization.affiliation') }：`" prop="organizationId">
            <el-select v-model="form.organizationId" :disabled="submitType === 'edit'" style="width: 200px" clearable>
              <el-option
                v-for="item in organizationList"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item :label="`${ $t('device.address-affiliation') }：`" prop="addressId" v-if="form.deviceType && form.deviceType.mode != 5">
            <el-select v-model="form.addressId" style="width: 200px" clearable filterable>
              <el-option
                v-for="item in addressList"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              ></el-option>
            </el-select>
          </el-form-item>
        </div>
        <!-- 编辑设备 -->
        <div v-if="submitType === 'edit'">
          <!-- 设备参数 -->
          <el-divider v-if="form.deviceType && form.deviceType.mode != 5">{{ $t('device.param') }}</el-divider>
          <!-- 门禁机、人证一体机、小盒子 -->
          <div v-if="form.deviceType && (form.deviceType.mode === 1 || form.deviceType.mode === 2 || form.deviceType.mode === 3)">
            <el-form-item :label="`${ $t('device.log-level') }：`" prop="params.log_level">
              <el-select v-model="form.params.log_level" style="width: 200px">
                <el-option
                  v-for="item in logLevelOptions"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item :label="`${ $t('device.继电器对调') }：`" prop="params.relay_signal_alignment">
              <el-select v-model="form.params.relay_signal_alignment" style="width: 200px">
                <el-option
                  v-for="item in options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                ></el-option>
              </el-select>
            </el-form-item>
            <!-- 门禁机、人证一体机 -->
            <div v-if="form.deviceType && (form.deviceType.mode === 1 || form.deviceType.mode === 2)">
              <el-form-item :label="`${ $t('device.screensavers') }：`" prop="params.screensaver_switch">
                <el-select v-model="form.params.screensaver_switch" style="width: 200px">
                  <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                  ></el-option>
                </el-select>
              </el-form-item>
              <el-form-item :label="`${ $t('device.voice') }：`" prop="params.voice_switch">
                <el-select v-model="form.params.voice_switch" style="width: 200px">
                  <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                  ></el-option>
                </el-select>
              </el-form-item>
              <el-form-item v-if="form.params.voice_switch === 1" :label="`${ $t('device.volume') }：`" prop="params.volume">
                <el-input-number v-model="form.params.volume " :min="0" :max="100" :step="10"/>
              </el-form-item>
              <el-form-item :label="`${ $t('device.flashing-light') }：`" prop="params.is_light">
                <el-select v-model="form.params.is_light" style="width: 200px">
                  <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                  ></el-option>
                </el-select>
              </el-form-item>
            </div>
            <!-- 小盒子 -->
            <div v-if="form.deviceType && form.deviceType.mode === 3">
              <el-form-item :label="`${ $t('device.1:n验证阈值') }：`" prop="params.confidence">
                <el-input-number v-model="form.params.confidence" :min="0.01" :max="0.99" :step="0.01"/>
              </el-form-item>
              <el-form-item :label="`${ $t('device.min-face-width') }：`" prop="params.min_face">
                <el-input-number v-model="form.params.min_face" :min="10" :max="100000" :step="100"/>
              </el-form-item>
              <el-form-item :label="`${ $t('device.max-face-angle') }：`" prop="params.max_angle">
                <el-input-number v-model="form.params.max_angle" :min="10" :max="90" :step="10"/>
              </el-form-item>
            </div>
          </div>
          <!-- PC智能网关 -->
          <div v-if="form.deviceType && form.deviceType.mode === 4">
            <el-form-item :label="`${ $t('device.relay-address') }：`" prop="params.relay_host">
              <el-input v-model.trim="form.params.relay_host" style="width: 350px"/>
            </el-form-item>
          </div>
          <!-- 通用设备参数 -->
          <el-form-item :label="`${ $t('device.继电器保持时长') }：`" prop="params.relay_hold_time" v-if="form.deviceType && form.deviceType.mode != 5">
            <el-input-number v-model="form.params.relay_hold_time" :min="1" :step="1"/>
          </el-form-item>
          <el-form-item :label="`${ $t('device.sync-WeChat') }：`" prop="params.wechat_switch" v-if="form.deviceType && form.deviceType.mode != 5">
            <el-select v-model="form.params.wechat_switch" style="width: 200px">
              <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item v-if="form.params.wechat_switch === 1" :label="`${ $t('device.WeChat-SecretNo') }：`" prop="params.seed_secret_no">
            <el-input v-model.trim="form.params.seed_secret_no" style="width: 200px"/>
          </el-form-item>
          <!-- 识别类型 -->
          <el-divider v-if="form.deviceType && form.deviceType.mode != 5">{{ $t('device.recognition-type') }}</el-divider>
          <el-form-item :label="`${ $t('device.recognition-type') }：`" prop="params.recognize_type" v-if="form.deviceType && form.deviceType.mode != 5">
            <el-select v-model="form.params.recognize_type" @change="handleRecognizeTypeSelect"
              :disabled="form.deviceType.mode === 3 || form.deviceType.mode === 4" style="width: 200px">
              <el-option
                v-for="item in recognizeTypeOptions"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item v-if="form.deviceType && (form.deviceType.mode === 1 || form.deviceType.mode === 2) && form.params.recognize_type === 1"
            :label="`${ $t('device.alter-recognition-type') }：`" prop="params.recognize_type_backup">
            <el-select v-model="form.params.recognize_type_backup" style="width: 200px">
              <el-option
                v-for="item in recognizeTypeBackUpOptions"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item v-if="form.params.recognize_type === 3 || form.params.recognize_type_backup === 3"
            :label="`${ $t('device.底库比对') }：`" prop="params.feature_comparison">
            <el-select v-model="form.params.feature_comparison" style="width: 200px">
              <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item v-if="(form.params.recognize_type === 2 || form.params.recognize_type_backup === 2) && form.deviceType && form.deviceType.mode != 5"
            :label="`${ $t('device.存在性验证') }：`" prop="params.is_exist">
            <el-select v-model="form.params.is_exist" style="width: 200px">
              <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              ></el-option>
            </el-select>
          </el-form-item>
          <div v-if="form.params.recognize_type === 3 || form.params.recognize_type_backup === 3">
            <el-form-item :label="`${ $t('device.external-device') }：`" prop="params.external_devices">
              <el-select v-model="form.params.external_devices" multiple clearable style="width: 200px">
                <el-option
                  v-for="item in externalDevicesOptions"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                ></el-option>
              </el-select>
            </el-form-item>
          </div>
        </div>
        <!-- 添加、编辑 流参数 -->
        <div v-if="submitType === 'editStream' || submitType === 'addStream'">
          <el-form-item :label="`${ $t('device.stream.name') }：`" prop="name">
            <el-input v-model.trim="streamForm.name" style="width: 200px"/>
          </el-form-item>
          <el-form-item :label="`${ $t('device.camera-type') }：`" prop="streamParam.type">
          <el-select v-model="streamForm.streamParam.type" :disabled="streamForm.type === 1 || streamForm.type === 2 || streamForm.type === 3 ? true : false" style="width: 200px">
            <el-option
              v-for="item in streamTypeOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
          </el-form-item>
          <el-form-item :label="`${ $t('device.stream.address') }：`" v-if="streamForm.type === 3 || streamForm.type === 4" prop="streamParam.url">
            <el-input v-model.trim="streamForm.streamParam.url" style="width: 200px"></el-input>
          </el-form-item>
          <el-form-item :label="`${ $t('device.time-template') }：`" prop="streamParam.time_template_id">
            <el-select v-model="streamForm.streamParam.time_template_id" style="width: 200px" clearable>
              <el-option
                v-for="item in timeTemplateList"
                :key="item.id"
                :label="item.name"
                :value="item.uuid"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item :label="`${ $t('device.1:1验证阈值') }：`" prop="streamParam.threshold_11">
            <el-input-number v-model="streamForm.streamParam.threshold_11" :min="0.01" :max="0.99" :step="0.01"/>
          </el-form-item>
          <el-form-item :label="`${ $t('device.最大尝试人脸抓拍时长') }：`" prop="streamParam.capture_max_interval">
            <el-input-number v-model="streamForm.streamParam.capture_max_interval" :min="1" :max="1000" :step="1"/>
          </el-form-item>
          <el-form-item :label="`${ $t('device.recognition-mode') }：`" prop="streamParam.recognition_mode">
            <el-select v-model="streamForm.streamParam.recognition_mode" style="width: 200px" clearable>
              <el-option
                v-for="item in recognitionModeOptions"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              ></el-option>
            </el-select>
          </el-form-item>
          <!--
            为方便后续扩展 将设备拆分两类，分别管理自身流参数
            1、门禁机、人证一体机、小盒子(小盒子不支持的部分参数 区分)
            2、PC智能网关
          -->
          <!-- 门禁机、人证一体机、小盒子 -->
          <div v-if="streamForm.type === 1 || streamForm.type === 2 || streamForm.type === 3">
            <!-- 通用参数 -->
            <el-form-item :label="`${ $t('device.截取比例') }：`" prop="streamParam.crop_ratio">
              <el-input-number v-model="streamForm.streamParam.crop_ratio" :min="0.1" :max="100" :step="1"/>
            </el-form-item>
            <el-form-item :label="`${ $t('device.show-unknow-member') }：`" prop="streamParam.not_pass_report">
              <el-select v-model="streamForm.streamParam.not_pass_report" style="width: 200px">
                <el-option
                  v-for="item in options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item :label="`${ $t('device.switch') }：`" prop="streamParam.is_working">
              <el-select v-model="streamForm.streamParam.is_working" style="width: 200px">
                <el-option
                  v-for="item in options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                ></el-option>
              </el-select>
            </el-form-item>
            <!-- 门禁机、人证一体机 专属参数 -->
            <div v-if="streamForm.type === 1 || streamForm.type === 2">
              <el-form-item :label="`${ $t('device.1:n验证阈值') }：`" prop="streamParam.confidence">
                <el-input-number v-model="streamForm.streamParam.confidence" :min="0.01" :max="0.99" :step="0.01"/>
              </el-form-item>
              <el-form-item :label="`${ $t('device.definition') }：`" prop="streamParam.clarity_switch">
                <el-select v-model="streamForm.streamParam.clarity_switch" style="width: 200px">
                  <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                  ></el-option>
                </el-select>
              </el-form-item>
              <el-form-item v-if="streamForm.streamParam.clarity_switch === 1"
                :label="`${ $t('device.min-definition') }：`" prop="streamParam.min_clarity">
                <el-input-number v-model="streamForm.streamParam.min_clarity" :min="0.01" :max="0.99" :step="0.01"/>
              </el-form-item>
              <el-form-item :label="`${ $t('device.min-face-width') }：`" prop="streamParam.min_face">
                <el-input-number v-model="streamForm.streamParam.min_face" :min="10" :max="100000" :step="100"/>
              </el-form-item>
              <el-form-item :label="`${ $t('device.max-face-angle') }：`" prop="streamParam.max_angle">
                <el-input-number v-model="streamForm.streamParam.max_angle" :min="10" :max="90" :step="10"/>
              </el-form-item>
              <el-form-item :label="`${ $t('device.resolution') }：`" prop="streamParam.frame_size">
                <el-select v-model="streamForm.streamParam.frame_size" style="width: 200px">
                  <el-option
                    v-for="item in frameSizeOptions"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                  ></el-option>
                </el-select>
              </el-form-item>
              <el-form-item :label="`${ $t('device.living-detect') }：`" prop="streamParam.bio_detection_open">
                <el-select v-model="streamForm.streamParam.bio_detection_open" style="width: 200px">
                  <el-option
                    v-for="item in bioDetectionOpenOptions"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item v-if="streamForm.streamParam.bio_detection_open === 1"
                :label="`${ $t('device.模型活体阈值') }：`" prop="streamParam.threshold_living">
                <el-input-number :min="0.85" :max="0.9999" :step="0.01" v-model="streamForm.streamParam.threshold_living" size="mini"></el-input-number>
              </el-form-item>
              <el-form-item v-if="streamForm.type === 1" :label="`${ $t('device.人脸检测框') }：`" prop="streamParam.detect_box">
                <el-select v-model="streamForm.streamParam.detect_box" style="width: 200px">
                  <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                  ></el-option>
                </el-select>
              </el-form-item>
              <!-- 抽帧策略参数 -->
              <el-form-item :label="`${ $t('device.抽帧频率') }：`" prop="streamParam.frame_rate">
                <el-input-number :min="100" :max="1000" :step="100" v-model="streamForm.streamParam.frame_rate" size="mini"></el-input-number>
              </el-form-item>
              <el-form-item :label="`${ $t('device.识别时限') }：`" prop="streamParam.recognize_expire">
                <el-input-number :min="2" :max="6" :step="1" v-model="streamForm.streamParam.recognize_expire" size="mini"></el-input-number>
              </el-form-item>
              <el-form-item :label="`${ $t('device.屏保间隔') }：`" prop="streamParam.unrecognized_rate">
                <el-input-number :min="5" :max="20" :step="1" v-model="streamForm.streamParam.unrecognized_rate" size="mini"></el-input-number>
              </el-form-item>
              <el-form-item :label="`${ $t('device.重复识别间隔') }：`" prop="streamParam.interval_frame_count">
                <el-input-number :min="1" :max="20" :step="1" v-model="streamForm.streamParam.interval_frame_count" size="mini"></el-input-number>
              </el-form-item>
              <el-form-item :label="`${ $t('device.屏幕唤醒灵敏度') }：`" prop="streamParam.sampling_frame">
                <el-input-number :min="300" :max="2000" :step="100" v-model="streamForm.streamParam.sampling_frame" size="mini"></el-input-number>
              </el-form-item>
            </div>
          </div>
          <!-- PC智能网关 专属参数 -->
          <div v-if="streamForm.type === 4">
            <el-form-item :label="`${ $t('device.1:n验证阈值') }：`" prop="streamParam.confidence">
              <el-input-number v-model="streamForm.streamParam.confidence" :min="0.01" :max="0.99" :step="0.01"/>
            </el-form-item>
            <el-form-item :label="`${ $t('device.1:n不可信阈值') }：`" prop="streamParam.unsure">
              <el-input-number v-model="streamForm.streamParam.unsure" :min="0.01" :max="0.99" :step="0.01"/>
            </el-form-item>
            <el-form-item :label="`${ $t('device.show-unknow-member') }：`" prop="streamParam.not_pass_report">
              <el-select v-model="streamForm.streamParam.not_pass_report" style="width: 200px">
                <el-option
                  v-for="item in options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item :label="`${ $t('device.filter-type') }：`" prop="streamParam.filter_type">
              <el-select v-model="streamForm.streamParam.filter_type_web" style="width: 200px" multiple clearable>
                <el-option
                  v-for="item in filterTypeOptions"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item v-if="streamForm.streamParam.filter_type_web.indexOf(1) > -1" :label="`${ $t('device.filter-rate') }：`" prop="streamParam.capture_frequency">
              <el-input-number v-model="streamForm.streamParam.capture_frequency" :min="1" :step="20"/>
            </el-form-item>
            <el-form-item v-if="streamForm.streamParam.filter_type_web.indexOf(2) > -1" :label="`${ $t('device.max-face-angle') }：`" prop="streamParam.max_angle">
              <el-input-number v-model="streamForm.streamParam.max_angle" :min="10" :max="90" :step="10"/>
            </el-form-item>
            <el-form-item v-if="streamForm.streamParam.filter_type_web.indexOf(4) > -1" :label="`${ $t('device.min-definition') }：`" prop="streamParam.min_clarity">
              <el-input-number v-model="streamForm.streamParam.min_clarity" :min="0.01" :max="0.99" :step="0.01"/>
            </el-form-item>
            <el-form-item v-if="streamForm.streamParam.filter_type_web.indexOf(8) > -1" :label="`${ $t('device.画面边缘像素') }：`" prop="streamParam.filter_boundary">
              <el-input-number v-model="streamForm.streamParam.filter_boundary" :min="1" :max="100" :step="10"/>
            </el-form-item>
            <el-form-item v-if="streamForm.streamParam.filter_type_web.indexOf(16) > -1" :label="`${ $t('device.max-face') }：`" prop="streamParam.filter_max_face">
              <el-input-number v-model="streamForm.streamParam.filter_max_face" :min="streamForm.streamParam.min_face" :step="50"/>
            </el-form-item>
            <el-form-item v-if="streamForm.streamParam.filter_type_web.indexOf(32) > -1" :label="`${ $t('device.活体检测过滤程度') }：`" prop="streamParam.filter_live">
              <el-select v-model="streamForm.streamParam.filter_live" style="width: 200px">
                <el-option
                  v-for="item in filterLiveOptions"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item :label="`${ $t('device.视拓算法人脸重检') }：`" prop="streamParam.smartipc_redetect">
              <el-select v-model="streamForm.streamParam.smartipc_redetect" style="width: 200px">
                <el-option
                  v-for="item in options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item :label="`${ $t('device.relay-channel') }：`" prop="streamParam.relay_channels">
              <el-select v-model="streamForm.streamParam.relay_channels" multiple style="width: 200px">
                <el-option
                  v-for="item in 16"
                  :key="item"
                  :label="item"
                  :value="item"
                ></el-option>
              </el-select>
            </el-form-item>
          </div>
        </div>
        <!-- 设备升级相关 -->
        <div v-if="submitType === 'updateDevice'">
          <el-form-item :label="`${ $t('device.selected-device') }：`">
            <el-tag
              size="medium"
              type="success"
              :key="tag.id"
              v-for="tag in selectDeviceList">
              {{tag.name}}
            </el-tag>
          </el-form-item>
          <el-form-item :label="`${ $t('device.upload-apk') }：`">
            <el-upload
              ref="upload-apk"
              action=""
              drag
              accept=".apk"
              :limit=1
              :file-list="uploadFile"
              :auto-upload="false"
              :on-change="handleChangeApk"
              :on-remove="handleRemoveApk">
              <i class="el-icon-upload"></i>
              <div class="el-upload__text">{{ $t('tips.drag-file') }}<em>{{ $t('tips.click-upload') }}</em></div>
              <div class="el-upload__tip" slot="tip">{{ $t('device.apk-update-tip') }}</div>
            </el-upload>
          </el-form-item>
        </div>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogClose()">
          {{ $t('button.cancel') }}
        </el-button>
        <el-button @click="formSubmit('form')" :loading="$store.state.isSubmitting">
          {{ $t('button.confirm') }}
        </el-button>
      </div>
    </el-dialog>

    <!-- 抽屉 -->
    <el-drawer
      :visible.sync="drawerVisible"
      direction="rtl"
      size="430px"
      :before-close="drawerClose">
      <h1 slot="title">{{ $t('device-style.edit') }}</h1>
      <el-form :model="styleForm" :rules="styleFormRules" style="text-align: left" ref="styleForm" label-width="130px">
        <el-form-item :label="`${ $t('tags.screensaver') }：`" prop="styles.screenSaverIds">
          <el-select v-model="styleForm.styles.screenSaverIds" style="width: 200px" multiple clearable>
            <el-option
              v-for="item in filteredStyleList.screenSaverList"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item :label="`${ $t('tags.background') }：`" prop="styles.bgId">
          <el-select v-model="styleForm.styles.bgId" style="width: 200px" clearable>
            <el-option
              v-for="item in filteredStyleList.bgList"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item :label="`${ $t('tags.logo') }：`" prop="styles.logoId">
          <el-select v-model="styleForm.styles.logoId" style="width: 200px" clearable>
            <el-option
              v-for="item in filteredStyleList.logoList"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item :label="`${ $t('tags.information') }：`" prop="styles.marqueId">
          <el-select v-model="styleForm.styles.marqueId" style="width: 200px" clearable>
            <el-option
              v-for="item in filteredStyleList.marqueList"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item :label="`${ $t('tags.avatar') }：`" prop="styles.avatarId">
          <el-select v-model="styleForm.styles.avatarId" style="width: 200px" clearable>
            <el-option
              v-for="item in filteredStyleList.avatarList"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            ></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <div class="drawer-footer">
        <el-button @click="resetStyleForm()">
          {{ $t('button.reset') }}
        </el-button>
        <el-button @click="styleFormSubmit('styleForm')" :loading="$store.state.isSubmitting">
          {{ $t('button.save') }}
        </el-button>
      </div>
    </el-drawer>
  </div>
</template>
<script>
import { validateDeviceNameLessThirty } from '@utils/formHandle/validateForm.js'
import { devicesApi, addressesApi, stylesApi, deviceTypesApi, organizationsApi, timeTemplatesApi, fileApi } from '../../api'
import { dataHandleMixin } from '@/mixins/dataHandleMixin'
import { mapState } from 'vuex'

export default {
  mixins: [dataHandleMixin],
  data () {
    return {
      tableData: [], // 表格数据
      queryForm: {}, // 查询表单
      isAllowClick: true, // 防止连续点击
      // 分页
      currentPage: 1,
      pageSize: 10,
      totalCount: 1,
      // 对话框
      dialogVisible: false,
      drawerVisible: false, // 抽屉
      titleText: this.$t('device.add'),
      submitType: 'add',
      apkUrl: '',
      form: { // 表单
        params: {} // 设备参数
      },
      streamForm: { // 流媒体参数表单
        name: '',
        streamParam: {} // 流参数
      },
      styleForm: { // 样式表单
        styles: {} // 样式参数
      },
      rules: { // 表单检验
        name: [
          { required: true, message: this.$t('device.name-required'), trigger: 'blur' },
          { validator: validateDeviceNameLessThirty, trigger: 'blur' }
        ],
        'params.seed_secret_no': [{ required: true, message: this.$t('device.SecretNo-required'), trigger: 'blur' }],
        'params.external_devices': [{ required: true, message: this.$t('device.external-device-required'), trigger: 'blur' }],
        'streamParam.name': [{ required: true, message: this.$t('device.stream.name-required'), trigger: 'blur' }],
        'streamParam.url': [{ required: true, message: this.$t('device.stream.address-required'), trigger: 'blur' }],
        code: [{ required: true, message: this.$t('device.code-required'), trigger: 'blur' }],
        organizationId: [{ required: true, message: this.$t('organization.affiliation-required'), trigger: 'blur' }],
        addressId: [{ required: true, message: this.$t('device.address-affiliation-required'), trigger: 'blur' }],
        'deviceType.mode': [{ required: true, message: this.$t('device.type-required'), trigger: 'blur' }]
      },
      styleFormRules: {}, // 样式表单检验
      timeTemplateList: [], // 所有时间模板
      deviceTypeOptions: [], // 设备类型（设备发现决定，无法修改）
      options: [ // 开启控制
        { value: 1, label: this.$t('tags.open') },
        { value: 2, label: this.$t('tags.close') }
      ],
      logLevelOptions: [ // 设备日志上报等级
        { value: 1, label: 'debug' },
        { value: 2, label: 'info' },
        { value: 3, label: 'warning' },
        { value: 4, label: 'error' }
      ],
      recognizeTypeOptions: [ // 识别类型
        { value: 1, label: '1:N' },
        { value: 2, label: '1:1' },
        { value: 3, label: '1:X' }
      ],
      recognizeTypeBackUpOptions: [ // 备选识别类型
        { value: -1, label: this.$t('tags.empty') },
        { value: 2, label: '1:1' },
        { value: 3, label: '1:X' }
      ],
      externalDevicesOptions: [ // 识别介质类型
        { value: 1, label: this.$t('tags.qrCode') },
        { value: 2, label: this.$t('tags.idCard') },
        { value: 3, label: this.$t('tags.icCard') }
      ],
      recognitionModeOptions: [ // 识别模式
        { value: 1, label: this.$t('tags.max-face-detect') },
        { value: 2, label: this.$t('tags.multi-face-detect') }
      ],
      // 活体检测类型
      bioDetectionOpenOptions: [
        { label: this.$t('tags.mode-living'), value: 1 },
        { label: this.$t('tags.close'), value: 2 },
        { label: this.$t('tags.easy-living'), value: 3 }
      ],
      deviceList: [], // 所有未知设备
      addressList: [], // 所有地点
      organizationList: [], // 所有机构
      streamList: [], // 所有流媒体
      styleList: [], // 所有样式
      selectDeviceList: [], // 勾选设备组（批量更新时使用）
      uploadFile: [], // apk上传文件
      streamTypeOptions: [
        // { value: 'webcam', label: '本身摄像头' },
        { value: 'ipc-h264', label: this.$t('tags.net-camera') },
        { value: 'seeta-hz001', label: this.$t('tags.zkst-camera-hz') },
        { value: 'seeta-hi001', label: this.$t('tags.zkst-camera-hi') }
      ],
      filterLiveOptions: [ // 活体检测过滤严格程度
        { label: this.$t('tags.strict'), value: 1 },
        { label: this.$t('tags.loosen'), value: 2 }
      ],
      frameSizeOptions: [ // 活体检测过滤严格程度
        { label: '640x480', value: 1 },
        { label: '1280x720', value: 2 }
      ],
      filterTypeOptions: [ // 过滤类型
        { label: this.$t('tags.fixed-rate'), value: 1 },
        { label: this.$t('tags.pose-assess'), value: 2 },
        { label: this.$t('tags.definition-assess'), value: 4 },
        { label: this.$t('tags.edge-face-filter'), value: 8 },
        { label: this.$t('tags.max-face-filter'), value: 16 },
        { label: this.$t('tags.living-detect-filter'), value: 32 }
      ],
      defaultStreamParam: {
        'name': '',
        'type': 'ipc-h264',
        'clarity_switch': 1,
        'min_clarity': 0.35,
        'check_idcard': 2,
        'detect_box': 1,
        'recognition_mode': 1,
        'min_face': 120,
        'max_angle': 20,
        'crop_ratio': 0.4,
        'report_11_url': '',
        'report_1n_url': '',
        'auth_url': '',
        'capture_max_interval': 10,
        'is_working': 1,
        // 新增
        'frameSize': 1, // 分辨率
        'frame_rate': 200,
        'sampling_frame': 600,
        'threshold_living': 0.85,
        'bio_detection_open': 1,
        'recognize_expire': 3,
        'unrecognized_rate': 6,
        'interval_frame_count': 2,
        // PC智能网关 特有参数
        'filter_type_web': [1, 2],
        'capture_frequency': 200,
        'filter_boundary': 50,
        'filter_max_face': 500,
        'filter_live': 2,
        'smartipc_redetect': 1, // 视拓人脸重检
        // End
        'not_pass_report': 2,
        'top_n': 1,
        'threshold_11': 0.8,
        'confidence': 0.7,
        'unsure': 0.6,
        'url': '',
        'control_signal_out': 0,
        'time_template_id': '',
        'time_slots': null
      }
    }
  },
  computed: {
    // 过滤 分类 所有样式
    filteredStyleList () {
      let finalStyleListObj = {
        screenSaverList: [],
        bgList: [],
        logoList: [],
        marqueList: [],
        avatarList: []
      }
      for (let item of this.styleList) {
        switch (item.type) {
          case 1:
            finalStyleListObj.screenSaverList.push(item)
            break
          case 2:
            finalStyleListObj.bgList.push(item)
            break
          case 3:
            finalStyleListObj.logoList.push(item)
            break
          case 4:
            finalStyleListObj.marqueList.push(item)
            break
          case 5:
            finalStyleListObj.avatarList.push(item)
            break
          default:
            break
        }
      }
      return finalStyleListObj
    },
    ...mapState(['WebSocketMessage'])
  },
  watch: {
    WebSocketMessage (newVal, oldVal) {
      // 如果WebSocketMessage发生变化，则修改表格数据
      if (newVal !== oldVal) {
        this.tableData.map(item => {
          if (item.id === this.$store.state.WebSocketMessage.id) {
            item.alive = this.$store.state.WebSocketMessage.alive
          }
        })
      }
    }
  },
  mounted () {
    this.findDeviceTypeList() // 查找所有设备类型
    this.findAddressList()
    this.findOrganizationList()
    this.findTimeTemplateList()
    this.getData()
  },
  methods: {
    // 获取表格数据
    async getData () {
      const res = await devicesApi.devicesGet(
        this.currentPage,
        this.pageSize,
        this.queryForm.name || '',
        this.queryForm.organizationId || ''
      ).then((res) => res).catch(() => false)
      if (res.data) {
        this.tableData = res.data.data
        this.tableData.forEach(item => {
          item.cameras.forEach(camerasitem => {
            if (camerasitem.params) {
              camerasitem.params = JSON.parse(camerasitem.params)
            }
          })
        })
        this.totalCount = res.data.total
      }
    },
    // 重置搜索
    resetGetData () {
      this.queryForm = {}
      this.getData()
    },
    // 提交表单
    formSubmit (formName) {
      // 表单校验
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          let submitForm = {}
          // 根据表单提交类型进行相应处理
          switch (this.submitType) {
            case 'add':
            case 'edit':
              // 深拷贝，消除数据处理对当前显示表单的影响
              submitForm = JSON.parse(JSON.stringify(this.form))
              if (submitForm.addressId === '') submitForm.addressId = 0
              // 判断表单提交类型
              const res = this.submitType === 'add'
                ? ''
                : await devicesApi.devicesCodePatch(submitForm.code, { ...submitForm }).then(res => res).catch(() => false)
              if (res) {
                this.$handleSuccessMessage()
                this.dialogClose()
                this.getData()
              }
              break
            case 'addStream':
            case 'editStream':
              // 深拷贝，消除数据处理对当前显示表单的影响
              submitForm = JSON.parse(JSON.stringify(this.streamForm))
              submitForm.streamParam.recognition_mode = Number(submitForm.streamParam.recognition_mode)
              submitForm.url = this.streamForm.streamParam.url
              submitForm.params = JSON.stringify(submitForm.streamParam)
              submitForm.type = String(submitForm.type)
              delete submitForm.streamParam
              // 判断表单提交类型
              const res2 = this.submitType === 'addStream'
                ? await devicesApi.devicesCodeCamerasPost(submitForm.code, { ...submitForm })
                : await devicesApi.devicesCodeCamerasCameraIdPatch(submitForm.code, submitForm.id, { ...submitForm })
              if (res2) {
                this.$handleSuccessMessage()
                this.dialogClose()
                this.getData()
              }
              break
            case 'updateDevice':
              this.handleDeviceUpdate()
              break
          }
        }
      })
    },
    // 提交样式表单
    styleFormSubmit (formName) {
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          // 深拷贝，消除数据处理对当前显示表单的影响
          let submitStyleForm = JSON.parse(JSON.stringify(this.styleForm))
          submitStyleForm.styles = []
          this.styleList.forEach(item => {
            delete item.createAt
            delete item.updatedAt
            for (let key in this.styleForm.styles) {
              if (this.getTypeMixin(this.styleForm.styles[key]) === 'Array') {
                this.styleForm.styles[key].map(pic => {
                  if (pic === item.id) {
                    submitStyleForm.styles.push(item)
                  }
                })
              } else if (this.styleForm.styles[key] === item.id) {
                submitStyleForm.styles.push(item)
              }
            }
          })
          const res = await devicesApi.devicesCodePatch(submitStyleForm.code, { ...submitStyleForm }).then(res => res).catch(() => false)
          if (res) {
            this.$handleSuccessMessage()
            this.drawerClose()
            this.getData()
          }
        }
      })
    },
    // 重置样式
    async resetStyleForm () {
      this.$confirm(this.$t('device.reset-style-tip'), this.$t('button.tip'), {
        confirmButtonText: this.$t('button.confirm'),
        cancelButtonText: this.$t('button.cancel'),
        type: 'warning',
        beforeClose: async (action, instance, done) => {
          if (action === 'confirm') {
            instance.confirmButtonLoading = true
            instance.confirmButtonText = 'reset...'
            // 删除操作
            this.styleForm.styles = []
            const res = await devicesApi.devicesCodePatch(this.styleForm.code, { ...this.styleForm }).then(res => res).catch(() => false)
            if (res) {
              this.$handleSuccessMessage()
              this.getData()
              this.drawerClose()
            }
            done()
          } else {
            done()
          }
        },
        callback: (action, instance) => {
          instance.confirmButtonLoading = false // 消息框消失后 取消loading状态
        }
      }).then(() => {
      }).catch(() => {
      })
    },
    // apk上传
    async handleChangeApk (file, fileList) {
      this.uploadFile = fileList
      try {
        const res = await fileApi.uploadsApksPut(file.raw)
        this.apkUrl = res.data
      } catch {
        this.uploadFile = []
      }
    },
    // apk移除
    handleRemoveApk (file, fileList) {
      this.uploadFile = fileList
    },
    // apk升级提交
    async handleDeviceUpdate () {
      // 是否选择设备
      let deviceCodes = []
      if (this.selectDeviceList.length === 0) {
        this.$handleWarningMessage(this.$t('device.select-device-first'), 2000)
        return
      } else {
        for (let item of this.selectDeviceList) {
          deviceCodes.push(item.code)
        }
      }
      // 是否上传apk文件
      if (this.uploadFile.length === 0) {
        this.$handleWarningMessage(this.$t('device.upload-apk-first'), 2000)
        return
      }
      // 提交apk升级
      const res = await Promise.all(deviceCodes.map(code => { devicesApi.devicesCodeApkPost(code, { apkUrl: this.apkUrl }) }))
      if (res) {
        this.$handleSuccessMessage()
        this.dialogClose()
        this.getData()
      } else {
        this.uploadFile = []
      }
    },
    // 选择设备编码后显示对应的设备类型
    showDeviceType (val) {
      const tempDeviceInfo = this.handleGetTargetByQueryMixin(val, this.deviceList, 'deviceCode')
      for (let Param in tempDeviceInfo) {
        this.form[Param] = tempDeviceInfo[Param]
      }
    },
    // 显示编辑表单
    editForm (row) {
      this.titleText = this.$t('device.edit')
      this.submitType = 'edit'
      row.addressId = row.address ? row.address.id : ''
      this.form = JSON.parse(JSON.stringify(row))
      if (!this.form.params) {
        this.$set(this.form, 'params', {})
        this.$set(this.form.params, 'log_level', '')
        this.$set(this.form.params, 'relay_signal_alignment', '')
        this.$set(this.form.params, 'screensaver_switch', '')
        this.$set(this.form.params, 'voice_switch', '')
        this.$set(this.form.params, 'volume', '')
        this.$set(this.form.params, 'is_light', '')
        this.$set(this.form.params, 'confidence', '')
        this.$set(this.form.params, 'min_face', '')
        this.$set(this.form.params, 'max_angle', '')
        this.$set(this.form.params, 'relay_host', '')
        this.$set(this.form.params, 'relay_hold_time', 1)
        this.$set(this.form.params, 'wechat_switch', '')
        this.$set(this.form.params, 'seed_secret_no', '')
        this.$set(this.form.params, 'recognize_type', '')
        this.$set(this.form.params, 'recognize_type_backup', '')
        this.$set(this.form.params, 'feature_comparison', '')
        this.$set(this.form.params, 'is_exist', '')
        this.$set(this.form.params, 'external_devices', '')
      }
      this.dialogVisible = true
    },
    // 显示新增流媒体
    addStreamForm (code, type) {
      this.titleText = this.$t('device.stream.add')
      this.submitType = 'addStream'
      this.streamForm.code = code
      this.streamForm.type = type
      this.streamForm.streamParam = JSON.parse(JSON.stringify(this.defaultStreamParam))
      this.dialogVisible = true
    },
    // 显示流编辑媒体
    editStreamForm (code, type, streamParam) {
      this.titleText = this.$t('device.stream.edit')
      this.submitType = 'editStream'
      this.streamForm.code = code
      this.streamForm.type = type
      this.$set(this.streamForm, 'name', '')
      this.streamForm.name = streamParam.name
      this.streamForm.streamParam = JSON.parse(JSON.stringify(streamParam.params))
      this.streamForm.streamParam.recognition_mode = this.streamForm.streamParam.recognition_mode === 0 ? '' : this.streamForm.streamParam.recognition_mode
      this.streamForm.id = streamParam.id
      delete this.streamForm.params
      this.dialogVisible = true
    },
    // 显示批量更新
    updateForm () {
      if (this.selectDeviceList.length === 0) {
        this.$handleWarningMessage(this.$t('device.select-device-first'), 2000)
        return
      }
      this.titleText = this.$t('device.batch-upload-apk')
      this.submitType = 'updateDevice'
      this.dialogVisible = true
    },
    // 勾选变更
    handleSelectionChange (arry) {
      this.selectDeviceList = arry
    },
    delStreamForm (code, streamId) {
      this.$confirm(this.$t('device.stream.delete-tip'), this.$t('button.tip'), {
        confirmButtonText: this.$t('button.confirm'),
        cancelButtonText: this.$t('button.cancel'),
        type: 'warning',
        beforeClose: async (action, instance, done) => {
          if (action === 'confirm') {
            instance.confirmButtonLoading = true
            instance.confirmButtonText = 'delet...'
            // 删除操作
            const res = await devicesApi.devicesCodeCamerasCameraIdDelete(code, streamId)
            if (res) {
              // 判断是否为该页最后一条数据且当前页数不为首页，则获取上一页数据
              if (this.tableData.length === 1 && this.currentPage !== 1) {
                this.currentPage = --this.currentPage
              }
              this.$handleSuccessMessage()
              this.getData()
            }
            done()
          } else {
            done()
          }
        },
        callback: (action, instance) => {
          instance.confirmButtonLoading = false // 消息框消失后 取消loading状态
        }
      }).then(() => {
      }).catch(() => {
      })
    },
    // 删除表单
    delForm (row) {
      this.$confirm(this.$t('device.delete-tip'), this.$t('button.tip'), {
        confirmButtonText: this.$t('button.confirm'),
        cancelButtonText: this.$t('button.cancel'),
        type: 'warning',
        beforeClose: async (action, instance, done) => {
          if (action === 'confirm') {
            instance.confirmButtonLoading = true
            instance.confirmButtonText = 'delete...'
            // 删除操作
            const res = await devicesApi.devicesCodeDelete(row.code)
            if (res) {
              // 判断是否为该页最后一条数据且当前页数不为首页，则获取上一页数据
              if (this.tableData.length === 1 && this.currentPage !== 1) {
                this.currentPage = --this.currentPage
              }
              this.$handleSuccessMessage()
              this.getData()
            }
            done()
          } else {
            done()
          }
        },
        callback: (action, instance) => {
          instance.confirmButtonLoading = false // 消息框消失后 取消loading状态
        }
      }).then(() => {
      }).catch(() => {
      })
    },
    // 关闭对话框
    dialogClose () {
      this.dialogVisible = false
      this.form = { params: {} }
      this.streamForm = { streamParam: {} }
      this.$refs.form.clearValidate()
      this.$refs.multipleTable.clearSelection() // 清空设备勾选
      // 清空上传残留文件
      this.uploadFile = []
      if (this.$refs['upload-apk']) {
        this.$refs['upload-apk'].clearFiles()
      }
    },
    // 关闭抽屉
    drawerClose () {
      this.drawerVisible = false
      this.styleForm = { styles: {} }
      this.$refs.styleForm.clearValidate()
    },
    // 显示样式编辑
    editStyleForm (row) {
      this.findStyleList()
      let obj = {}
      obj.screenSaverIds = []
      if (row.styles) { // 首次styles可能不存在
        row.styles.forEach(item => {
          switch (item.type) {
            case 1:
              obj.screenSaverIds.push(item.id)
              break
            case 2:
              obj.bgId = item.id
              break
            case 3:
              obj.logoId = item.id
              break
            case 4:
              obj.marqueId = item.id
              break
            case 5:
              obj.avatarId = item.id
              break
            default:
              break
          }
        })
      }
      this.styleForm.styles = JSON.parse(JSON.stringify(obj))
      // TODO 暂支持单设备更换皮肤
      this.styleForm.code = row.code
      this.drawerVisible = true
    },
    // 查找所有设备类型
    async findDeviceTypeList () {
      const res = await deviceTypesApi.deviceTypesGet(0, 100000)
      if (res.data) {
        for (let item of res.data.data) {
          let tempObj = {}
          tempObj.label = item.name
          tempObj.value = item.mode
          this.deviceTypeOptions.push(tempObj)
        }
      }
    },
    // 查找所有地点
    async findAddressList () {
      const res = await addressesApi.addressesGet(0, 100000, '', '', '', '', this.$store.state.currentOrganization.id)
      if (res) {
        this.addressList = res.data.data
      }
    },
    // 查找所有机构
    async findOrganizationList () {
      const res = await organizationsApi.organizationsGet(0, 100000)
      if (res.data) {
        this.organizationList = res.data.data
      }
    },
    // 查找所有时间模板
    async findTimeTemplateList () {
      const res = await timeTemplatesApi.timeTemplatesGet(0, 100000)
      if (res.data) {
        this.timeTemplateList = res.data.data
      }
    },
    // 查找所有样式
    async findStyleList () {
      const res = await stylesApi.stylesGet(0, 100000)
      if (res.data) {
        this.styleList = res.data.data
      }
    },
    // 设备测试
    async testDevice (row) {
      // 防止连续点击
      if (this.isAllowClick) {
        this.isAllowClick = false
        setTimeout(() => {
          this.isAllowClick = true
        }, 2000)
        const res = await devicesApi.devicesCodeTestPost(row.code)
        console.log(res)
      }
    },
    // 设备开门（设备code、流id）
    deviceOpenByStreamId (code, streamParam) {
      this.$confirm(`${this.$t('device.is-open')} ${streamParam.name} ${this.$t('device.about-door')}`, this.$t('button.tip'), {
        confirmButtonText: this.$t('button.confirm'),
        cancelButtonText: this.$t('button.cancel'),
        type: 'warning',
        beforeClose: async (action, instance, done) => {
          if (action === 'confirm') {
            instance.confirmButtonLoading = true
            instance.confirmButtonText = 'open...'
            let data = {
              cameraId: streamParam.id
            }
            const res = await devicesApi.devicesCodeOpenPost(code, data)
            if (res) {
              // 判断是否为该页最后一条数据且当前页数不为首页，则获取上一页数据
              if (this.tableData.length === 1 && this.currentPage !== 1) {
                this.currentPage = --this.currentPage
              }
              this.$handleSuccessMessage()
              this.getData()
            }
            done()
          } else {
            done()
          }
        },
        callback: (action, instance) => {
          instance.confirmButtonLoading = false // 消息框消失后 取消loading状态
        }
      }).then(() => {
      }).catch(() => {
      })
    },
    // 识别类型选择时处理
    handleRecognizeTypeSelect (val) {
      if (val !== 1) { // 不是1:N时 清除备选识别类型
        if (this.form.params.recognize_type_backup) {
          delete this.form.params.recognize_type_backup
        }
      }
    },
    // 切换分页条件
    handleSizeChange (val) {
      this.pageSize = val
      this.getData()
    },
    handleCurrentChange (val) {
      const dom = document.getElementsByClassName('card__body')
      if (dom && dom[0]) dom[0].scrollTop = 0
      this.currentPage = val
      this.getData()
    }
  }
}
</script>
<style lang="stylus" scoped>
.tag-ellipsis
  max-width 100%
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
.stream-tag
  cursor pointer
.drawer-footer
  padding 40px 20%
</style>
