<template>
  <div>
    <Card>
      <CardMenuItem slot="cardTitle" :title="$t('device-style.title')" isActive/>
      <div slot="buttonGroup" v-if="!$store.state.isSuperAdmin">
        <!-- 仅普通管理员操作 -->
        <el-button v-privilege="'createStyles'" @click="addForm()" type="primary">
          {{ $t('button.add') }}
        </el-button>
      </div>
      <!-- 查询栏 -->
      <QueryBar slot="queryBar">
        <div slot="queryBarLeft">
          <div v-if="$store.state.isSuperAdmin" style="display:inline">
          {{ `${ $t('organization.affiliation') }：` }}
          <el-select v-model="queryForm.organizationId" clearable class="query-bar-item">
            <el-option v-for="item in organizationList"
                       :key="item.id"
                       :value="item.id"
                       :label="item.name"></el-option>
          </el-select></div>
          {{ `${ $t('device-style.type') }：` }}
          <el-select v-model="queryForm.type" @clear="queryForm.type = ''" clearable class="query-bar-item">
            <el-option
              v-for="item in styleOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
          {{ `${ $t('device-style.name') }：` }}
          <el-input v-model.trim="queryForm.name" clearable class="query-bar-item"></el-input>
          <el-button @click="getData()">
            {{ $t('button.query') }}
          </el-button>
          <el-button @click="resetGetData()">
            {{ $t('button.reset') }}
          </el-button>
        </div>
      </QueryBar>
      <!-- 表格 -->
      <el-table slot="contain" header-cell-class-name="table__header" row-class-name="table__row"
        :data="tableData" stripe>
        <el-table-column prop="name" :label="$t('device-style.name')"></el-table-column>
        <el-table-column prop="isDefault" :label="$t('device-style.type')">
          <template slot-scope="scope">
            <el-tag>
              {{ handleGetTargetByQueryMixin(scope.row.type, styleOptions, 'value', 'label') }}
            </el-tag>
          </template>
        </el-table-column>
        <el-table-column prop="info" :label="$t('device-style.content')">
          <template slot-scope="scope">
            <span v-if="scope.row.type === 4">{{ scope.row.info }}</span>
            <el-image class="member-image" v-else :src="scope.row.image"
              @click="showBigImg(scope.row.image)" :preview-src-list="srcList">
              <div slot="placeholder" class="loading-img">
                <i class="fa fa-spinner fa-3x fa-pulse" aria-hidden="true"></i>
              </div>
            </el-image>
          </template>
        </el-table-column>
        <!-- 仅普通管理员操作 -->
        <el-table-column :label="$t('button.action')" v-if="!$store.state.isSuperAdmin" width="160">
          <template slot-scope="scope">
            <span v-privilege="'updateStyles'" class="span__bt" @click="editForm(scope.row)">
              {{ $t('button.edit') }}
            </span>
            <div v-privilege="'deleteStyles'" class="divider-vertical"></div>
            <span v-privilege="'deleteStyles'" class="span__bt" @click="delForm(scope.row)">
              {{ $t('button.delete') }}
            </span>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination class="pagination" slot="footer"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="currentPage"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="pageSize"
        layout="slot, sizes, prev, pager, next"
        :total="totalCount">
        <span class="el-pagination__total">
          {{ $t('app.data-count', { total: totalCount}) }}
        </span>
      </el-pagination>
    </Card>

    <!-- 对话框 -->
    <el-dialog
      :title="titleText"
      :visible.sync="dialogVisible"
      width="500px"
      class="input_box"
      @close="dialogClose()"
    >
      <el-form :model="form" :rules="rules" style="text-align: left" ref="form" label-width="120px">
        <el-form-item :label="`${ $t('device-style.name') }：`" prop="name">
          <el-input v-model.trim="form.name" style="width: 200px"></el-input>
        </el-form-item>
        <el-form-item :label="`${ $t('device-style.type') }：`" prop="type">
          <el-select v-model="form.type" :disabled="submitType === 'edit'" style="width: 200px">
            <el-option
              v-for="item in styleOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item v-if="form.type === 4" :label="`${ $t('device-style.content') }：`" prop="info">
          <el-input type="textarea" v-model="form.info" :disabled="submitType === 'edit'" style="width: 200px"></el-input>
        </el-form-item>
        <!-- 照片上传 -->
        <el-form-item id="required-form-item" v-if="submitType === 'add' && form.type !== 4"
          :label="`${ $t('device-style.photo') }：`" prop="uploadFiles">
          <el-upload
            ref="upload-images"
            accept=".jpg,.jpeg,.png,.bmp"
            :class="{disabled: imagesUploadDisabled}"
            action=""
            :limit=1
            :file-list="uploadFiles"
            list-type="picture-card"
            :auto-upload="false"
            :on-change="handleChange"
            :on-remove="handleRemove">
            <i class="el-icon-plus"></i>
          </el-upload>
        </el-form-item>
        <p v-if="form.type">
          Tips: {{imgSizeTip[form.type]}} px
        </p>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogClose()">
          {{ $t('button.cancel') }}
        </el-button>
        <el-button @click="formSubmit('form')" :loading="$store.state.isSubmitting">
          {{ $t('button.confirm') }}
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import { fileApi, stylesApi, organizationsApi } from '../../api'
import { dataHandleMixin } from '@/mixins/dataHandleMixin'

export default {
  mixins: [dataHandleMixin],
  data () {
    return {
      tableData: [], // 表格数据
      organizationList: [],
      queryForm: {}, // 查询表单
      srcList: [], // 大图预览的图片地址
      // 分页
      currentPage: 1,
      pageSize: 10,
      totalCount: 1,
      // 对话框
      dialogVisible: false,
      titleText: this.$t('device-style.add'),
      submitType: 'add',
      form: {}, // 表单
      rules: { // 表单校验
        name: [{ required: true, message: this.$t('device-style.name-required'), trigger: 'blur' }],
        type: [{ required: true, message: this.$t('device-style.type-required'), trigger: 'blur' }]
      },
      styleOptions: [ // 样式类型
        { value: 1, label: this.$t('tags.screensaver') },
        { value: 2, label: this.$t('tags.background') },
        { value: 3, label: this.$t('tags.logo') },
        { value: 4, label: this.$t('tags.information') },
        { value: 5, label: this.$t('tags.avatar') }
      ],
      // 图片推荐尺寸
      imgSizeTip: {
        1: '1080 x 1920',
        2: '1080 x 1920',
        3: '409 x 93',
        5: '600 x 600'
      },
      uploadFiles: [] // 上传图片列表
    }
  },
  computed: {
    imagesUploadDisabled () {
      return this.uploadFiles.length >= 1
    }
  },
  mounted () {
    this.getData()
    this.getOrganizations()
  },
  methods: {
    // 获取表格数据
    async getData () {
      const res = await stylesApi.stylesGet(
        this.currentPage,
        this.pageSize,
        this.queryForm.name || '',
        this.queryForm.type || 0,
        this.queryForm.organizationId || ''
      )
      if (res.data) {
        this.tableData = res.data.data
        this.totalCount = res.data.total
      }
    },
    // 获取机构
    async getOrganizations () {
      const res = await organizationsApi.organizationsGet(0, 100000)
      if (res.data) {
        this.organizationList = res.data.data
      }
    },
    // 重置搜索
    resetGetData () {
      this.queryForm = {}
      this.getData()
    },
    // 提交表单
    formSubmit (formName) {
      // 非文字走马灯时，必须上传照片
      if (this.submitType === 'add' && this.form.type !== 4) {
        if (!this.uploadFiles.length) {
          this.$handleErrorMessage(this.$t('device-style.photo-required'))
          return
        }
      }
      // 表单校验
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          // 深拷贝，消除数据处理对当前显示表单的影响
          const submitForm = JSON.parse(JSON.stringify(this.form))
          // 判断表单提交类型
          const res = this.submitType === 'add'
            ? await stylesApi.stylesPost({ ...submitForm })
            : await stylesApi.stylesIdPatch(submitForm.id, { ...submitForm })
          if (res) {
            this.$handleSuccessMessage()
            this.dialogClose()
            this.getData()
          }
        }
      })
    },
    // 显示新增表单
    addForm () {
      this.titleText = this.$t('device-style.add')
      this.submitType = 'add'
      this.dialogVisible = true
    },
    // 显示编辑表单
    editForm (row) {
      this.titleText = this.$t('device-style.edit')
      this.submitType = 'edit'
      this.form = JSON.parse(JSON.stringify(row))
      this.dialogVisible = true
    },
    // 关闭对话框
    dialogClose () {
      this.dialogVisible = false
      this.form = {}
      this.uploadFiles = []
      if (this.$refs['upload-images']) {
        this.$refs['upload-images'].clearFiles()
      }
      this.$refs.form.clearValidate()
    },
    // 删除表单
    delForm (row) {
      this.$confirm(this.$t('device-style.delete-tip'), this.$t('button.tip'), {
        confirmButtonText: this.$t('button.confirm'),
        cancelButtonText: this.$t('button.cancel'),
        type: 'warning'
      }).then(async () => {
        const res = await stylesApi.stylesIdDelete(row.id)
        if (res) {
          // 判断是否为该页最后一条数据且当前页数不为首页，则获取上一页数据
          if (this.tableData.length === 1 && this.currentPage !== 1) {
            this.currentPage = --this.currentPage
          }
          this.$handleSuccessMessage()
          this.getData()
        }
      }).catch((e) => { })
    },
    // 底库照片上传处理
    async handleChange (file, fileList) {
      this.uploadFiles = fileList
      try {
        const res = await fileApi.uploadsImagesPost(file.raw, false)
        this.form.image = res.data
      } catch {
        this.uploadFiles = []
      }
    },
    handleRemove (file, fileList) {
      this.uploadFiles = fileList
    },
    // 显示图片预览信息
    showBigImg (url) {
      this.srcList = []
      this.$nextTick(() => {
        this.srcList.push(url)
      })
    },
    // 切换分页条件
    handleSizeChange (val) {
      this.pageSize = val
      this.getData()
    },
    handleCurrentChange (val) {
      const dom = document.getElementsByClassName('card__body')
      if (dom && dom[0]) dom[0].scrollTop = 0
      this.currentPage = val
      this.getData()
    }
  }
}
</script>
<style lang="stylus" scoped>
#required-form-item
  &>:first-child
    &:before
      content '*'
      color #F56C6C
      margin-right 4px
</style>
