<template>
  <div>
    <Card>
      <CardMenuItem slot="cardTitle" :title="$t('time-template.title')" isActive/>
      <div slot="buttonGroup">
        <!-- 仅普通管理员操作 -->
        <el-button v-if="!$store.state.isSuperAdmin" @click="addForm()" type="primary">
          {{ $t('button.add') }}
        </el-button>
      </div>
      <!-- 查询栏 -->
      <QueryBar slot="queryBar">
        <div slot="queryBarLeft">
          <div v-if="$store.state.isSuperAdmin" style="display:inline">
          {{ `${ $t('organization.affiliation') }：` }}
          <el-select v-model="queryForm.organizationId" clearable class="query-bar-item">
            <el-option v-for="item in organizationList"
                       :key="item.id"
                       :value="item.id"
                       :label="item.name"></el-option>
          </el-select></div>
          {{ `${ $t('time-template.name') }：` }}
          <el-input v-model.trim="queryForm.name" clearable class="query-bar-item"></el-input>
          <el-button @click="getData()">
            {{ $t('button.query') }}
          </el-button>
          <el-button @click="resetGetData()">
            {{ $t('button.reset') }}
          </el-button>
        </div>
      </QueryBar>
      <!-- 表格 -->
      <el-table slot="contain" header-cell-class-name="table__header" row-class-name="table__row"
        :data="tableData" stripe>
        <!-- 展开行 -->
        <el-table-column type="expand">
          <template slot-scope="scope">
            <el-form inline class="table-expand">
              <el-form-item :label="$t('time-template.pass-date-period')">
                {{ scope.row.validDate[0] }} — {{ scope.row.validDate[1] }}
              </el-form-item>
              <el-form-item v-for="(item, index) in scope.row.invalidDate" :key="'invalidDate' + index"
                :label="$t('time-template.non-use-date-period') + (parseInt(index) + 1) + '：'">
                <span v-if="item.value.length > 0">
                  {{ item.value[0] }} — {{ item.value[1] }}
                </span>
              </el-form-item>
              <el-form-item v-for="(item, index) in scope.row.validTime" :key="'validTime' + index"
                :label="$t('time-template.pass-time-period') + (parseInt(index) + 1) + '：'">
                <span v-if="item.value.length > 0">
                  {{ item.value[0] }} — {{ item.value[1] }}
                </span>
              </el-form-item>
              <el-form-item :label="$t('time-template.remove-weekend') + '：'">
                <span v-if="scope.row.excludeWeekend === 1">
                  {{ $t('tags.open') }}
                </span>
                <span v-else-if="scope.row.excludeWeekend === 2">
                  {{ $t('tags.close') }}
                </span>
              </el-form-item>
              <el-form-item  v-if="scope.row.specialValidDate.length > 0" :label="$t('time-template.appointed-pass-date') + '：'">
                <el-tag type="success" v-for="(item, index) in scope.row.specialValidDate" :key="index">
                  {{ item }}
                </el-tag>
              </el-form-item>
              <el-form-item  v-if="scope.row.specialInvalidDate.length > 0" :label="$t('time-template.appointed-non-use-date') + '：'">
                <el-tag type="danger" v-for="(item, index) in scope.row.specialInvalidDate" :key="index">
                  {{ item }}
                </el-tag>
              </el-form-item>
            </el-form>
          </template>
        </el-table-column>
        <el-table-column prop="name" :label="$t('time-template.name')"></el-table-column>
        <el-table-column prop="description" :label="$t('time-template.describe')"></el-table-column>
        <!-- 仅普通管理员操作 -->
        <el-table-column v-if="!$store.state.isSuperAdmin" :label="$t('button.action')" width="160">
          <template slot-scope="scope">
            <span class="span__bt" @click="editForm(scope.row)">
              {{ $t('button.edit') }}
            </span>
            <div class="divider-vertical"></div>
            <span class="span__bt" @click="delForm(scope.row)">
              {{ $t('button.delete') }}
            </span>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination class="pagination" slot="footer"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="currentPage"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="pageSize"
        layout="slot, sizes, prev, pager, next"
        :total="totalCount">
        <span class="el-pagination__total">
          {{ $t('app.data-count', { total: totalCount}) }}
        </span>
      </el-pagination>
    </Card>
    <!-- 对话框 -->
    <el-dialog
      :title="titleText"
      :visible.sync="dialogVisible"
      width="700px"
      class="input_box"
      @close="dialogClose()"
    >
      <el-form :model="form" :rules="rules" style="text-align: left" ref="form" label-width="180px">
        <el-form-item :label="`${ $t('time-template.name') }：`" prop="name">
          <el-input v-model.trim="form.name" style="width: 220px"></el-input>
        </el-form-item>
        <el-form-item :label="`${ $t('time-template.describe') }：`" prop="description">
          <el-input v-model.trim="form.description" type="textarea" style="width: 220px"></el-input>
        </el-form-item>
        <el-form-item :label="`${ $t('time-template.pass-date-period') }：`" prop="validDate">
          <el-date-picker
            v-model="form.validDate"
            type="daterange"
            unlink-panels
            :picker-options="pickerThisYearOptionsWithDefaultOptions"
            value-format="yyyy-MM-dd">
          </el-date-picker>
        </el-form-item>
        <!-- 停用日期区间 -->
        <el-divider>{{ $t('time-template.non-use-date-period') }}</el-divider>
        <el-form-item
          v-for="(item, index) in form.invalidDate"
          :label="$t('time-template.non-use-date-period') + (parseInt(index) + 1) + '：'"
          :key="item.key"
          :prop="'invalidDate.' + index + '.value'"
        >
          <el-date-picker
            v-model="item.value"
            type="daterange"
            :picker-options="pickerOptions"
            unlink-panels
            value-format="yyyy-MM-dd">
          </el-date-picker>
          <!-- 尾部操作按钮 -->
          <el-button class="tail-bt" type="primary" icon="el-icon-plus" circle @click="addInvalidDateItem()"
            v-if="index === 0" :disabled="form.invalidDate.length >= 3">
          </el-button>
          <el-button class="tail-bt" type="danger" icon="el-icon-minus" circle
            v-if="index !== 0" @click.prevent="removeInvalidDateItem(item)">
          </el-button>
        </el-form-item>
        <!-- 启用时间区间 -->
        <el-divider>{{ $t('time-template.pass-time-period') }}</el-divider>
        <el-form-item
          v-for="(item, index) in form.validTime"
          :label="$t('time-template.pass-time-period') + (parseInt(index) + 1) + '：'"
          :key="item.key"
          :prop="'validTime.' + index + '.value'"
        >
          <el-time-picker
            v-model="item.value"
            :clearable="false"
            is-range
            value-format="HH:mm:ss"
            format="HH:mm:ss">
          </el-time-picker>
          <!-- 尾部操作按钮 -->
          <el-button class="tail-bt" type="primary" icon="el-icon-plus" circle @click="addValidTimeItem()"
            v-if="index === 0" :disabled="form.validTime.length >= 3">
          </el-button>
          <el-button class="tail-bt" type="danger" icon="el-icon-minus" circle
            v-if="index !== 0" @click.prevent="removeValidTimeItem(item)">
          </el-button>
        </el-form-item>
        <!-- 是否去除周末 -->
        <el-form-item :label="`${ $t('time-template.remove-weekend') }：`" prop="excludeWeekend">
          <el-switch v-model="form.excludeWeekend"
            :active-value=1
            :inactive-value=2>
          </el-switch>
        </el-form-item>
        <el-divider></el-divider>
        <!-- 临时添加、删除日期 -->
        <el-form-item :label="`${ $t('time-template.appointed-pass-date') }：`" prop="specialValidDate">
          <el-tag
            size="medium"
            type="success"
            :key="tag"
            v-for="tag in form.specialValidDate"
            closable
            :disable-transitions="false"
            @close="handleSpecialValidDateItemClose(tag)">
            {{tag}}
          </el-tag>
        </el-form-item>
        <el-form-item :label="`${ $t('time-template.append') }：`" prop="tempValidDate">
          <el-date-picker
            @change="addSpecialValidDateItem"
            :picker-options="pickerThisYearOptions"
            v-model="tempValidDate"
            value-format="yyyy-MM-dd"
            type="date">
          </el-date-picker>
        </el-form-item>
        <el-divider></el-divider>
        <el-form-item :label="`${ $t('time-template.appointed-non-use-date') }：`" prop="specialInvalidDate">
          <el-tag
            size="medium"
            type="danger"
            :key="tag"
            v-for="tag in form.specialInvalidDate"
            closable
            :disable-transitions="false"
            @close="handleSpecialInvalidDateItemClose(tag)">
            {{tag}}
          </el-tag>
        </el-form-item>
        <el-form-item :label="`${ $t('time-template.append') }：`" prop="tempInvalidDate">
          <el-date-picker
            @change="addSpecialInvalidDateItem"
            :picker-options="pickerThisYearOptions"
            v-model="tempInvalidDate"
            value-format="yyyy-MM-dd"
            type="date">
          </el-date-picker>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <p style="text-align: left">
          {{ $t('time-template.tip') }}
        </p>
        <el-button @click="dialogClose()">
          {{ $t('button.cancel') }}
        </el-button>
        <el-button @click="formSubmit('form')" :loading="$store.state.isSubmitting">
          {{ $t('button.confirm') }}
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import moment from 'moment'
import { removeInvalidTimeRange, removeWeekend, handleSpecialDate, mergeDateObjAndTimeRange } from '@utils/timeHandle/handleTime.js'
import { timeTemplatesApi, organizationsApi } from '../../api'

export default {
  data () {
    let self = this
    return {
      tableData: [], // 表格数据
      organizationList: [],
      queryForm: {}, // 查询表单
      // 分页
      currentPage: 1,
      pageSize: 10,
      totalCount: 1,
      // 对话框
      dialogVisible: false,
      titleText: this.$t('time-template.add'),
      submitType: 'add',
      form: { // 时间模板对象
        validDate: [], // 启用日期区间
        invalidDate: [{ // 停用日期区间列表
          value: []
        }],
        validTime: [{ // 启用时间区间列表
          value: ['00:00:00', '23:59:59']
        }],
        excludeWeekend: 2, // 是否去除周六日 1开启 2关闭
        specialValidDate: [], // 特定开启日期
        specialInvalidDate: [] // 特定停用日期
      },
      tempValidDate: '', // 临时存储特定开启日期
      tempInvalidDate: '', // 临时存储特定停用日期
      rules: {
        name: [{ required: true, message: this.$t('time-template.name-required'), trigger: 'blur' }],
        validDate: [{ required: true, message: this.$t('time-template.pass-date-period-required'), trigger: 'blur' }]
      },
      pickerThisYearOptionsWithDefaultOptions: { // 设置启用时间为今年可选且带有快捷选项
        disabledDate (time) {
          return time.getTime() > moment().endOf('year').valueOf() ||
            time.getTime() < moment().startOf('year').valueOf()
        },
        shortcuts: [
          {
            text: 'this year',
            onClick (picker) {
              const start = moment().startOf('year')._d
              const end = moment().endOf('year')._d
              picker.$emit('pick', [start, end])
            }
          },
          {
            text: 'six months',
            onClick (picker) {
              const start = new Date()
              const endDayInYear = moment().endOf('year')
              const afterSixMonth = moment(new Date()).add('month', 6)
              const end = afterSixMonth.isSameOrBefore(endDayInYear) ? afterSixMonth._d : endDayInYear._d
              picker.$emit('pick', [start, end])
            }
          },
          {
            text: 'three months',
            onClick (picker) {
              const start = new Date()
              const endDayInYear = moment().endOf('year')
              const afterSixMonth = moment(new Date()).add('month', 3)
              const end = afterSixMonth.isSameOrBefore(endDayInYear) ? afterSixMonth._d : endDayInYear._d
              picker.$emit('pick', [start, end])
            }
          },
          {
            text: 'one months',
            onClick (picker) {
              const start = new Date()
              const endDayInYear = moment().endOf('year')
              const afterSixMonth = moment(new Date()).add('month', 1)
              const end = afterSixMonth.isSameOrBefore(endDayInYear) ? afterSixMonth._d : endDayInYear._d
              picker.$emit('pick', [start, end])
            }
          }
        ]
      },
      pickerThisYearOptions: { // 设置启用时间为今年可选
        disabledDate (time) {
          return time.getTime() > moment().endOf('year').valueOf() ||
            time.getTime() < moment().startOf('year').valueOf()
        }
      },
      pickerOptions: {
        disabledDate (time) { // 停用时间应设置在使用时间区间内
          return time.getTime() > moment(self.form.validDate[1]).valueOf() ||
            time.getTime() < moment(self.form.validDate[0]).valueOf()
        }
      },
      dateObjList: []
    }
  },
  mounted () {
    this.getData()
    this.getOrganizations()
  },
  methods: {
    // 获取表格数据
    async getData () {
      const res = await timeTemplatesApi.timeTemplatesGet(
        this.currentPage,
        this.pageSize,
        this.queryForm.name || '',
        this.queryForm.organizationId || ''
      )
      if (res.data) {
        this.tableData = res.data.data
        this.totalCount = res.data.total
      }
    },
    // 获取机构
    async getOrganizations () {
      const res = await organizationsApi.organizationsGet(0, 100000)
      if (res.data) {
        this.organizationList = res.data.data
      }
    },
    // 重置搜索
    resetGetData () {
      this.queryForm = {}
      this.getData()
    },
    // 提交表单时，计算时间模板信息
    async formSubmit (formName) {
      // 表单校验
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          // 深拷贝，消除数据处理对当前显示表单的影响
          const submitForm = JSON.parse(JSON.stringify(this.form))
          // 时间模板处理
          this.handeleTimeTemplate(submitForm)
          // 当时间模板处理后为空数组时，提示无法实现
          if (submitForm.timeSlots.length === 0) {
            this.$handleErrorMessage(this.$t('time-template.empty-tip'))
            return
          }
          // 判断表单提交类型
          const res = this.submitType === 'add'
            ? await timeTemplatesApi.timeTemplatesPost({ ...submitForm })
            : await timeTemplatesApi.timeTemplatesIdPatch(submitForm.id, { ...submitForm })
          if (res) {
            this.$handleSuccessMessage()
            this.dialogClose()
            this.getData()
          }
        }
      })
    },
    // 表单提交前，处理时间模板
    handeleTimeTemplate (submitForm) {
      let dateObjList = []
      // 启用日期中去除停用时间 (停用日期区间存在时)
      dateObjList = removeInvalidTimeRange(submitForm.validDate, submitForm.invalidDate)
      // 当开启去除周末时，重新计算具体开启日期
      if (submitForm.excludeWeekend === 1) {
        dateObjList = removeWeekend(dateObjList)
      }
      // 处理特定通行日期
      dateObjList = handleSpecialDate(dateObjList, submitForm.specialValidDate, submitForm.specialInvalidDate)
      // 合并日期对象及时间区间
      let finalTimeObjList = mergeDateObjAndTimeRange(dateObjList, submitForm.validTime)
      // 序列化对象传递
      this.$set(submitForm, 'timeSlots', finalTimeObjList)
    },
    // 显示新增表单
    addForm () {
      this.titleText = this.$t('time-template.add')
      this.submitType = 'add'
      this.dialogVisible = true
    },
    // 显示编辑表单
    editForm (row) {
      this.titleText = this.$t('time-template.edit')
      this.submitType = 'edit'
      this.form = JSON.parse(JSON.stringify(row))
      this.dialogVisible = true
    },
    // 删除表单
    delForm (row) {
      this.$confirm(this.$t('time-template.delete-tip'), this.$t('button.tip'), {
        confirmButtonText: this.$t('button.confirm'),
        cancelButtonText: this.$t('button.cancel'),
        type: 'warning'
      }).then(async () => {
        const res = await timeTemplatesApi.timeTemplatesIdDelete(row.id)
        if (res) {
          // 判断是否为该页最后一条数据且当前页数不为首页，则获取上一页数据
          if (this.tableData.length === 1 && this.currentPage !== 1) {
            this.currentPage = --this.currentPage
          }
          this.$handleSuccessMessage()
          this.getData()
        }
      }).catch((e) => { })
    },
    // 隐藏对话框，初始化表单、校验信息
    dialogClose () {
      this.dialogVisible = false
      this.form = {
        validDate: [],
        invalidDate: [{
          value: []
        }],
        validTime: [{
          value: ['00:00:00', '23:59:59']
        }],
        excludeWeekend: 2,
        specialValidDate: [],
        specialInvalidDate: []
      }
      this.$refs.form.clearValidate()
    },
    // 动态增加停用日期区间
    addInvalidDateItem () {
      this.form.invalidDate.push(
        {
          value: [],
          key: Date.now()
        }
      )
    },
    // 动态减少停用日期区间
    removeInvalidDateItem (item) {
      const index = this.form.invalidDate.indexOf(item)
      if (index !== -1) {
        this.form.invalidDate.splice(index, 1)
      }
    },
    // 动态增加启用时间区间
    addValidTimeItem () {
      this.form.validTime.push(
        {
          value: ['00:00:00', '23:59:59'],
          key: Date.now()
        }
      )
    },
    // 动态减少启用时间区间
    removeValidTimeItem (item) {
      let index = this.form.validTime.indexOf(item)
      if (index !== -1) {
        this.form.validTime.splice(index, 1)
      }
    },
    // 增加特定开启日期
    addSpecialValidDateItem (val) {
      if (this.isSelectedDate(val)) { // 未添加过则加入
        this.form.specialValidDate.push(val)
        this.tempValidDate = ''
      }
    },
    // 删除特定开启日期
    handleSpecialValidDateItemClose (tag) {
      this.form.specialValidDate.splice(this.form.specialValidDate.indexOf(tag), 1)
    },
    // 增加特定停用日期
    addSpecialInvalidDateItem (val) {
      if (this.isSelectedDate(val)) { // 未添加过则加入
        this.form.specialInvalidDate.push(val)
        this.tempInvalidDate = ''
      }
    },
    // 删除特定停用日期
    handleSpecialInvalidDateItemClose (tag) {
      this.form.specialInvalidDate.splice(this.form.specialInvalidDate.indexOf(tag), 1)
    },
    // 判断选择日期是否已经选择过
    isSelectedDate (val) {
      // 判断日期是否已存在
      if (this.form.specialValidDate.indexOf(val) !== -1) {
        this.$handleWarningMessage(val + this.$t('time-template.已设置为特定通行日期'), 3000)
        this.tempValidDate = ''
        this.tempInvalidDate = ''
        return false // 存在  返回false 不能添加到数组
      } else if (this.form.specialInvalidDate.indexOf(val) !== -1) {
        this.$handleWarningMessage(val + this.$t('time-template.已设置为特定停用日期'), 3000)
        this.tempValidDate = ''
        this.tempInvalidDate = ''
        return false // 存在  返回false 不能添加到数组
      } else {
        return true // 不存在  返回true 可以添加到数组
      }
    },
    // 切换分页条件
    handleSizeChange (val) {
      this.pageSize = val
      this.getData()
    },
    handleCurrentChange (val) {
      const dom = document.getElementsByClassName('card__body')
      if (dom && dom[0]) dom[0].scrollTop = 0
      this.currentPage = val
      this.getData()
    }
  }
}
</script>
<style lang="stylus" scoped>
.table-expand
  >>> label
    font-weight 600
  .el-form-item
    width 100%
.tail-bt
  margin-left 10px
</style>
