<template>
  <!-- <div class="login-bg">
    <div class="login-header">
      <div class="login-header-right">
        <el-button @click="goAdminLogin">{{ $t('login.goto-root') }}</el-button>
        <el-select v-if="isI18n" v-model="locale" @change="changeLanguage"
                   placeholder="language" style="width: 120px;margin-left: 20px; float: right">
          <div slot="prefix" style="height: 100%; line-height: 32px">
            <i class="fa fa-globe fa-lg" aria-hidden="true"></i>
          </div>
          <el-option
            v-for="item in languageOptions"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          >
          </el-option>
        </el-select>
      </div>
    </div>
    <transition name="card-fade-show">
      <el-card v-show="isShow" class="login-box">
        <el-form :model="form" :rules="rules" ref="form" @submit.native.prevent>
          <el-form-item :label="`${ $t('login.username') }：`" prop="username">
            <el-input v-model.trim="form.username" :placeholder="loginType === 'phone' ? `${$t('member.staff.photo-required')}` : `${$t('member.staff.mail-required')}`">
              <i slot="prefix" style="padding-left: 6px" class="fa fa-user" aria-hidden="true"></i>
            </el-input>
          </el-form-item>
          <el-form-item :label="`${ $t('login.password') }：`" prop="password">
            <el-input v-model.trim="form.password" type="password" show-password>
              <i slot="prefix" style="padding-left: 6px" class="fa fa-key" aria-hidden="true"></i>
            </el-input>
          </el-form-item>
          <el-form-item>
            <el-button id="login-bt" @click="login('form')" native-type="submit" type="primary" :loading="$store.state.isSubmitting">
              {{ $t('login') }}
            </el-button>
          </el-form-item>
          <el-form-item>
            <div style="font-size: 12px">
              {{ $t('login.no-account') }} <a :href="userUrl" target="_blank" style="color: rgb(22, 155, 213);">{{ $t('register') }}</a>
            </div>
          </el-form-item>
        </el-form>
      </el-card>
    </transition>
  </div> -->
  <h1>hahahhahhahahha</h1>
</template>
<script>
import uuidv4 from 'uuid/v4'
import { validatePasswordMoreEightAndLessSixtyFour } from '@utils/formHandle/validateForm.js'
import { usersApi } from '../../api'
import { mapState } from 'vuex'

export default {
  computed: mapState(['currentOrganization']),
  data () {
    return {
      locale: localStorage.locale || 'zh', // 当前地区
      isI18n: window.g.i18n,
      isShow: false,
      userUrl: window.g.userURL,
      aesKeyLength: 16,
      uuid: uuidv4(), // 用于生成验证码信息
      form: {},
      rules: {
        username: [{ required: true, message: this.$t('login.username-required'), trigger: 'blur' }],
        password: [
          { required: true, message: this.$t('login.password-required'), trigger: 'blur' },
          { validator: validatePasswordMoreEightAndLessSixtyFour, trigger: 'blur' }
        ]
      },
      languageOptions: [
        { value: 'zh', label: '中文' },
        { value: 'jpn', label: '日本語' }
      ],
      loginType: window.g.loginType
    }
  },
  mounted () {
    this.isShow = true
    sessionStorage.clear()
  },
  methods: {

    // 正式登录
    async login (formName) {
      this.$refs[formName].validate(async valid => {
        if (valid) {
          const res = await usersApi.usersLoginPost({
            ...this.form
            // password: CryptoJS.MD5(this.form.password).toString()
          })
          if (res.data) {
            // 保存用户名、sessionId、organizationId
            let organizations = res.data.subject.members && res.data.subject.members.length && res.data.subject.members.map((val, key) => {
              return {
                memberId: val.id,
                ...val.organization,
                level: val.level,
                levelId: val.level.id
              }
            })
            sessionStorage.setItem('username', this.form.username)
            sessionStorage.setItem('currentOrganization', organizations && JSON.stringify(organizations[0]))
            sessionStorage.setItem('organizations', JSON.stringify(organizations))
            sessionStorage.setItem('id', res.data.id)
            sessionStorage.setItem('userId', res.data.subjectId)
            sessionStorage.setItem('namespace', res.data.namespace)
            // 保存EMQ连接信息
            // sessionStorage.setItem('mqttUrl', CryptoJS.AES.decrypt(res.data.mqttUrl, key, aesOptions).toString(CryptoJS.enc.Utf8))
            // sessionStorage.setItem('mqttUser', CryptoJS.AES.decrypt(res.data.mqttUser, key, aesOptions).toString(CryptoJS.enc.Utf8))
            // sessionStorage.setItem('mqttPassword', CryptoJS.AES.decrypt(res.data.mqttPassword, key, aesOptions).toString(CryptoJS.enc.Utf8))
            this.$store.commit('setCurrentOrganizations')
            this.$store.commit('setOrganizations')
            // 保存用户权限信息
            if (!this.currentOrganization) {
              this.$message.warning(this.$t('alert.admin-no-permission-run'))
              return
            }
            await this.$store.dispatch('changePermission')
            this.$router.push({ name: 'welcome' }) // 进入欢迎页
            this.$handleSuccessMessage(this.$t('login.success'))
          }
        }
      })
    },
    changeLanguage (lang) {
      localStorage.setItem('locale', lang)
      this.$i18n.locale = localStorage.locale // 切换显示语言
      this.$router.go(0)
    },
    goAdminLogin () {
      this.$router.push('/admin-login')
    }
  }
}
</script>

<style lang="stylus" scoped>
.login-bg
  height 100%
  width 100%
  background url("../../assets/images/login-bg.png") 100% no-repeat
  background-position center center
  background-attachment fixed
  background-size cover
  display flex
  align-items center
  flex-direction row-reverse
  position fixed
  overflow hidden
  .login-header
    position absolute
    top 20px
    left 0
    right 0
    padding 0 30px
    &:after
      display block
      content ""
      clear both
    .login-header-left
      float left
    .login-header-right
      float right
  #logo
    position absolute
    top 50px
    right 110px
  .login-box
    margin-right 100px
    padding 20px 60px 80px 60px
    text-align left
    z-index 100
    // position absolute
    #login-bt
      display inline-block
      width 100%
      margin-top 40px
  #title-box
    position fixed
    bottom 10vh
    left 23vw
    color white

@media screen and (max-width: 1366px) {
  .login-box {
    margin-right 40px !important
    padding 30px 20px !important
  }
  #title-box {
    left 14vw !important
  }
}

@media screen and (max-width: 768px) {
  .login-box {
    margin-right 10px !important
    padding 10px 5px !important
  }
  #title-box {
    right 0
    bottom 4vh !important
  }
}
</style>
