<template>
  <div class="contain">
    <Breadcrumb/>
    <div class="contain-box">
      <!--
        显示规则：
          root（超管）：机构共享的（角色，地点，设备，机构，会议）只显示机构，不用显示部门；不共享的需要显示部门；
          admin（机构管理员）：机构共享的不显示树结构；不共享的只显示对应部门
          user（部门中的末及）：不显示树结构
      -->
      <!-- 最后规则：人员，访客，通行记录 需要显示部门结构；末部门不显示部门结构 -->
      <div class="group-tree">
        <GroupTree />
      </div>
      <div class="content">
        <router-view />
      </div>
    </div>
  </div>
</template>
<script>
import Breadcrumb from '@comp/Breadcrumb/Breadcrumb'
import GroupTree from '@comp/GroupTree'

export default {
  components: {
    Breadcrumb,
    GroupTree
  }
}
</script>
<style lang="stylus" scoped>
.contain
  position absolute
  top 0
  left 14px
  right 14px
  bottom 0
  .contain-box
    // background-color #fff
    position relative
    height calc(100% - 46px)
    .group-tree
      float left
      height 100%
      margin-right 6px
      border-radius 4px
      background-color #fff
    .content
      height 100%
      border-radius 4px
      border 1px solid #eee
      overflow auto
</style>
