<template>
  <div>
    <Card>
      <CardMenuItem slot="cardTitle" :title="$t('meeting.info')" isActive/>
      <div slot="buttonGroup" v-privilege="'createReservation'">
        <el-button @click="addForm()" type="primary">
          {{ $t('button.add') }}
        </el-button>
      </div>
      <!-- 查询栏 -->
      <QueryBar slot="queryBar">
        <div slot="queryBarLeft">
          {{ `${ $t('meeting.name') }：` }}
          <el-input v-model.trim="queryForm.name" clearable class="query-bar-item"></el-input>
          <el-button @click="getData()">
            {{ $t('button.query') }}
          </el-button>
          <el-button @click="resetGetData()">
            {{ $t('button.reset') }}
          </el-button>
        </div>
      </QueryBar>
      <!-- 表格 -->
      <el-table slot="contain" header-cell-class-name="table__header" row-class-name="table__row"
        :data="tableData" stripe>
        <el-table-column prop="title" :label="$t('meeting.name')"></el-table-column>
        <el-table-column prop="conferenceRoom" :label="$t('meeting.room')">
          <template slot-scope="scope">
            <el-tag v-if="scope.row.conferenceRoom" :type="scope.row.conferenceRoom.status === -1 ? 'danger' : ''">
              {{ scope.row.conferenceRoom.name }}
            </el-tag>
          </template>
        </el-table-column>
        <el-table-column prop="sponsorId" :label="$t('meeting.sponsor')">
          <template slot-scope="scope">
            <el-tag v-if="scope.row.sponsor && scope.row.sponsor.user" :type="scope.row.sponsor.status === 1 ? '' : 'danger'">
              {{ scope.row.sponsor.user.name }}
            </el-tag>
          </template>
        </el-table-column>
        <el-table-column prop="memberIds" :label="$t('meeting.participants')">
          <template slot-scope="scope">
            <el-tag v-for="(item, index) in scope.row.members" :key="index">
              {{ item.user && item.user.name }}
            </el-tag>
          </template>
        </el-table-column>
        <el-table-column prop="flexibleTime" :label="$t('meeting.flex-time')"></el-table-column>
        <el-table-column prop="actualMembers" width="160" :label="$t('meeting.actual-person')">
          <template slot-scope="scope">
            <el-tag v-for="(item, index) in scope.row.actualMembers" :key="index">
              {{ item.user && item.user.name }}
            </el-tag>
          </template>
        </el-table-column>
        <el-table-column prop="status" :label="$t('tags.status')">
          <template slot-scope="scope">
            <el-tag v-if="new Date().getTime() < scope.row.startTime" type="info">
              {{ $t('tags.before-start') }}
            </el-tag>
            <el-tag v-else-if="(scope.row.startTime < new Date().getTime()) && (new Date().getTime() < scope.row.endTime)" type="success">
              {{ $t('tags.ongoing')}}
            </el-tag>
            <el-tag v-else-if="new Date().getTime() > scope.row.endTime" type="danger">
              {{ $t('tags.after-end') }}
            </el-tag>
          </template>
        </el-table-column>
        <el-table-column :label="$t('meeting.time.start')">
          <template slot-scope="scope">
            <span v-if="scope.row.startTime">
              <i class="el-icon-time"></i>
              {{ transformToDateTime(scope.row.startTime) }}
            </span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('meeting.time.end')">
          <template slot-scope="scope">
            <span v-if="scope.row.endTime">
              <i class="el-icon-time"></i>
              {{ transformToDateTime(scope.row.endTime) }}
            </span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('button.action')" width="160">
          <template slot-scope="scope">
            <span v-privilege="'updateReservation'" class="span__bt" @click="editForm(scope.row)" v-if="new Date().getTime() < scope.row.startTime">
              {{ $t('button.edit') }}
            </span>
            <div class="divider-vertical" v-privilege="'updateReservation'" v-if="new Date().getTime() < scope.row.startTime"></div>
            <span v-privilege="'deleteReservation'" class="span__bt" @click="delForm(scope.row)">
              {{ $t('button.delete') }}
            </span>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination class="pagination" slot="footer"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="currentPage"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="pageSize"
        layout="slot, sizes, prev, pager, next"
        :total="totalCount">
        <span class="el-pagination__total">
          {{ $t('app.data-count', { total: totalCount}) }}
        </span>
      </el-pagination>
    </Card>

    <!-- 对话框 -->
    <el-dialog
      :title="titleText"
      :visible.sync="dialogVisible"
      width="600px"
      class="input_box"
      @close="dialogClose()"
    >
      <el-form :model="form" :rules="rules" style="text-align: left" ref="form" label-width="160px">
        <el-form-item :label="`${ $t('meeting.name') }：`" prop="title">
          <el-input v-model.trim="form.title" style="width: 200px"></el-input>
        </el-form-item>
        <el-form-item :label="`${ $t('meeting.room') }：`" prop="conferenceRoomId">
          <el-select v-model="form.conferenceRoomId" style="width: 200px" filterable clearable>
            <el-option
              v-for="item in meetingRoomList"
              :key="item.id"
              :label="item.name"
              :value="item.id"
              :disabled="item.status === -1"
            ></el-option>
            <!-- status: -1:停用  1:正常 -->
          </el-select>
        </el-form-item>
        <el-form-item :label="`${ $t('meeting.sponsor') }：`" prop="sponsorId">
          <el-select v-model="form.sponsorId" style="width: 200px" filterable clearable
                     :disabled="submitType === 'edit'"
                     @change="handleChangeSponsor">
            <el-tooltip v-for="item in memberInfoList" :disabled="!item.disabled"
              :key="item.id" class="item" effect="dark" :content="$t('meeting.sponsor置灰提示')" placement="right">
            <el-option
              :label="item.user && item.user.name"
              :value="item.id"
              :disabled="item.disabled"
            ></el-option>
            </el-tooltip>
          </el-select>
        </el-form-item>
        <el-form-item :label="`${ $t('meeting.participants') }：`" prop="members">
          <el-select v-model="form.members" style="width: 200px" multiple filterable clearable>
            <el-tooltip v-for="item in memberInfoList" :disabled="!item.disabled"
              :key="item.id" class="item" effect="dark" :content="$t('meeting.participants置灰提示')" placement="right">
            <el-option
              :disabled="item.id === form.sponsorId || item.disabled"
              :label="item.user && item.user.name"
              :value="item.id"
            ></el-option>
            </el-tooltip>
          </el-select>
        </el-form-item>
        <el-form-item :label="`${ $t('meeting.time') }：`" prop="dateRange">
          <el-date-picker
            v-model="form.dateRange"
            type="datetimerange"
            format="yyyy-MM-dd HH:mm"
            :default-time="['00:00:00', '23:59:59']"
            unlink-panels
            :picker-options="pickerFutureTime"
            value-format="timestamp">
          </el-date-picker>
        </el-form-item>
        <el-form-item :label="`${ $t('meeting.flex-time') }：`" prop="flexibleTime">
          <el-input-number v-model="form.flexibleTime" :min="0"></el-input-number>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogClose()">
          {{ $t('button.cancel') }}
        </el-button>
        <el-button @click="formSubmit('form')" :loading="$store.state.isSubmitting">
          {{ $t('button.confirm') }}
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import moment from 'moment'
import { reservationsApi, conferenceRoomsApi, membersApi } from '../../api'
import { dataHandleMixin } from '@/mixins/dataHandleMixin'

export default {
  mixins: [dataHandleMixin],
  data () {
    return {
      tableData: [], // 表格数据
      queryForm: {}, // 查询表单
      meetingRoomList: [], // 所有会议室
      memberInfoList: [], // 所有人员
      // 分页
      currentPage: 1,
      pageSize: 10,
      totalCount: 1,
      // 对话框
      dialogVisible: false,
      titleText: this.$t('meeting.add'),
      submitType: 'add',
      form: {}, // 表单
      rules: { // 表单校验
        title: [{ required: true, message: this.$t('meeting.name'), trigger: 'blur' }],
        sponsorId: [{ required: true, message: this.$t('meeting.sponsor'), trigger: 'blur' }],
        conferenceRoomId: [{ required: true, message: this.$t('meeting.room'), trigger: 'blur' }],
        members: [{ required: true, message: this.$t('meeting.participants'), trigger: 'blur' }],
        dateRange: [{ required: true, message: this.$t('meeting.time'), trigger: 'blur' }]
      },
      pickerFutureTime: { // 禁用过去的时间
        disabledDate (time) {
          return time.getTime() < moment().subtract(1, 'days').valueOf()
        }
      }
    }
  },
  mounted () {
    this.getData()
  },
  methods: {
    // 获取表格数据
    async getData () {
      const res = await reservationsApi.reservationsGet(
        this.currentPage,
        this.pageSize,
        '', '',
        this.queryForm.name || ''
      )
      if (res.data) {
        this.tableData = res.data.data
        this.totalCount = res.data.total
      }
    },
    // 重置搜索
    resetGetData () {
      this.queryForm = {}
      this.getData()
    },
    // 提交表单
    formSubmit (formName) {
      // 表单校验
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          // 深拷贝，消除数据处理对当前显示表单的影响
          const submitForm = JSON.parse(JSON.stringify(this.form))
          if (submitForm.dateRange) {
            submitForm.startTime = Math.floor(submitForm.dateRange[0])
            submitForm.endTime = Math.floor(submitForm.dateRange[1])
            delete submitForm.dateRange // 清除多余属性
          }
          submitForm.members = this.memberInfoList.filter((item) => {
            return this.form.members.includes(item.id)
          })
          if (submitForm.attendance) {
            delete submitForm.attendance // 清除多余属性
          }
          // 修改会议室
          this.meetingRoomList.map(item => {
            if (item.id === this.form.conferenceRoomId) {
              submitForm.conferenceRoom = item
            }
          })
          // 判断表单提交类型
          const res = this.submitType === 'add'
            ? await reservationsApi.reservationsPost({ ...submitForm })
            : await reservationsApi.reservationsIdPatch(submitForm.id, { ...submitForm })
          if (res) {
            this.$handleSuccessMessage()
            this.dialogClose()
            this.getData()
          }
        }
      })
    },
    handleChangeSponsor () {
      if (!this.form.members) {
        this.$set(this.form, 'members', [])
      }
      if (this.submitType === 'add') {
        this.form.members = [this.form.sponsorId]
      }
    },
    // 显示新增表单
    addForm () {
      this.titleText = this.$t('meeting.add')
      this.submitType = 'add'
      this.findMeetingRoomList() // 查找所有会议室
      this.findMemberInfoList() // 查找所有人员信息
      this.$set(this.form, 'flexibleTime', 15)
      this.dialogVisible = true
    },
    // 显示编辑表单
    editForm (row) {
      this.titleText = this.$t('meeting.edit')
      this.submitType = 'edit'
      this.findMeetingRoomList() // 查找所有会议室
      this.findMemberInfoList() // 查找所有人员信息
      this.form = JSON.parse(JSON.stringify(row))
      this.form.conferenceRoomId = this.form.conferenceRoom ? this.form.conferenceRoom.id : '' // 防止会议室删除后编辑框显示id
      this.form.members = this.form.members.map(member => {
        return member.id
      })
      let temp = []
      temp.push(this.form.startTime)
      temp.push(this.form.endTime)
      this.$set(this.form, 'dateRange', temp) // 防止时间组件不能及时更新
      this.dialogVisible = true
    },
    // 关闭对话框
    dialogClose () {
      this.dialogVisible = false
      this.form = {}
      this.$refs.form.clearValidate()
    },
    // 删除表单
    delForm (row) {
      this.$confirm(this.$t('meeting.if-delete'), this.$t('button.tip'), {
        confirmButtonText: this.$t('button.confirm'),
        cancelButtonText: this.$t('button.cancel'),
        type: 'warning'
      }).then(async () => {
        const res = await reservationsApi.reservationsIdDelete(row.id)
        if (res) {
          // 判断是否为该页最后一条数据且当前页数不为首页，则获取上一页数据
          if (this.tableData.length === 1 && this.currentPage !== 1) {
            this.currentPage = --this.currentPage
          }
          this.$handleSuccessMessage()
          this.getData()
        }
      }).catch((e) => { })
    },
    // 查找所有会议室
    async findMeetingRoomList () {
      const res = await conferenceRoomsApi.conferenceRoomsGet(0, 100000)
      if (res.data) {
        this.meetingRoomList = res.data.data
      }
    },
    // 查找所有人员
    async findMemberInfoList () {
      const res = await membersApi.membersGet('', this.$store.state.currentOrganization.id, 0, 100000)
      if (res.data) {
        this.memberInfoList = res.data.data
      }
      this.memberInfoList.map(item => {
        if (item.addresses.length === 0) {
          item.disabled = true
        } else {
          item.disabled = false
        }
      })
    },
    // 切换分页条件
    handleSizeChange (val) {
      this.pageSize = val
      this.getData()
    },
    handleCurrentChange (val) {
      const dom = document.getElementsByClassName('card__body')
      if (dom && dom[0]) dom[0].scrollTop = 0
      this.currentPage = val
      this.getData()
    }
  }
}
</script>
<style lang="stylus" scoped>
</style>
