<template>
  <div>
    <Card>
      <CardMenuItem slot="cardTitle" :title="$t('meeting-room.management')" isActive/>
      <div slot="buttonGroup" v-privilege="'createConferenceRooms'">
        <el-button @click="addForm()" type="primary">
          {{ $t('button.add') }}
        </el-button>
      </div>
      <!-- 查询栏 -->
      <QueryBar slot="queryBar">
        <div slot="queryBarLeft">
          {{ `${ $t('meeting-room.name') }：` }}
          <el-input v-model.trim="queryForm.name" clearable class="query-bar-item"></el-input>
          <el-button @click="getData()">
            {{ $t('button.query') }}
          </el-button>
          <el-button @click="resetGetData()">
            {{ $t('button.reset') }}
          </el-button>
        </div>
      </QueryBar>
      <!-- 表格 -->
      <el-table slot="contain" header-cell-class-name="table__header" row-class-name="table__row"
        :data="tableData" stripe>
        <el-table-column prop="name" :label="$t('meeting-room.name')"></el-table-column>
        <el-table-column prop="addressId" :label="$t('meeting-room.place')">
          <template slot-scope="scope">
            <div v-if="scope.row.addressId">
            <el-tooltip class="item tag-ellipsis" effect="dark" :content="String(handleGetTargetByQueryMixin(scope.row.addressId, addressList, 'id', 'name'))" placement="top">
            <el-tag :type="scope.row.status === -1 || !handleGetTargetByQueryMixin(scope.row.addressId, addressList, 'id', 'name') ? 'danger' : ''">
              {{ !handleGetTargetByQueryMixin(scope.row.addressId, addressList, 'id', 'name') ? $t('tags.deleted') : handleGetTargetByQueryMixin(scope.row.addressId, addressList, 'id', 'name') }}
            </el-tag>
            </el-tooltip>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="status" :label="$t('tags.status')">
          <template slot-scope="scope">
            <el-tag v-if="scope.row.status === 1" type="success">
              {{ $t('tags.normal') }}
            </el-tag>
            <el-tag v-if="scope.row.status === -1" type="danger">
              {{ $t('tags.non-use') }}
            </el-tag>
          </template>
        </el-table-column>
        <el-table-column :label="$t('button.action')" width="160">
          <template slot-scope="scope">
            <span v-privilege="'updateConferenceRooms'" class="span__bt" @click="editForm(scope.row)">
              {{ $t('button.edit') }}
            </span>
            <div class="divider-vertical" v-privilege="'deleteConferenceRooms'"></div>
            <span v-privilege="'deleteConferenceRooms'" class="span__bt" @click="delForm(scope.row)">
              {{ $t('button.delete') }}
            </span>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination class="pagination" slot="footer"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="currentPage"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="pageSize"
        layout="slot, sizes, prev, pager, next"
        :total="totalCount">
        <span class="el-pagination__total">
          {{ $t('app.data-count', { total: totalCount}) }}
        </span>
      </el-pagination>
    </Card>

    <!-- 对话框 -->
    <el-dialog
      :title="titleText"
      :visible.sync="dialogVisible"
      width="500px"
      class="input_box"
      @close="dialogClose()"
    >
      <el-form :model="form" :rules="rules" style="text-align: left" ref="form" label-width="120px">
        <el-form-item :label="`${ $t('meeting-room.name') }：`" prop="name">
          <el-input v-model.trim="form.name" style="width: 200px"></el-input>
        </el-form-item>
        <el-form-item :label="`${ $t('meeting-room.place') }：`" prop="addressId">
          <el-select v-model="form.addressId" style="width: 200px" clearable filterable>
            <el-option
              v-for="item in addressList"
              :key="item.id"
              :label="item.name"
              :value="item.id"
              :disabled="!item.isMeeting"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item :label="`${ $t('tags.status') }：`" prop="status">
          <el-select v-model="form.status" style="width: 200px">
            <el-option
              v-for="item in statusOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogClose()">
          {{ $t('button.cancel') }}
        </el-button>
        <el-button @click="formSubmit('form')" :loading="$store.state.isSubmitting">
          {{ $t('button.confirm') }}
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import { conferenceRoomsApi, addressesApi } from '../../api'
import { dataHandleMixin } from '@/mixins/dataHandleMixin'

export default {
  mixins: [dataHandleMixin],
  data () {
    return {
      tableData: [], // 表格数据
      queryForm: {}, // 查询表单
      addressList: [], // 所有地点
      // 分页
      currentPage: 1,
      pageSize: 10,
      totalCount: 1,
      // 对话框
      dialogVisible: false,
      titleText: this.$t('meeting-room.add'),
      submitType: 'add',
      form: {}, // 表单
      rules: { // 表单校验
        name: [{ required: true, message: this.$t('meeting-room.name'), trigger: 'blur' }],
        status: [{ required: true, message: this.$t('meeting-room.status-required'), trigger: 'blur' }]
      },
      statusOptions: [
        { value: 1, label: this.$t('tags.normal') },
        { value: -1, label: this.$t('tags.non-use') }
      ]
    }
  },
  mounted () {
    this.findAddressList()
    this.getData()
  },
  methods: {
    // 获取表格数据
    async getData () {
      const res = await conferenceRoomsApi.conferenceRoomsGet(
        this.currentPage,
        this.pageSize,
        '', '', undefined,
        this.queryForm.name || ''
      )
      if (res.data) {
        this.tableData = res.data.data
        this.totalCount = res.data.total
      }
    },
    // 重置搜索
    resetGetData () {
      this.queryForm = {}
      this.getData()
    },
    // 提交表单
    formSubmit (formName) {
      // 表单校验
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          // 深拷贝，消除数据处理对当前显示表单的影响
          const submitForm = JSON.parse(JSON.stringify(this.form))
          // 判断表单提交类型
          const res = this.submitType === 'add'
            ? await conferenceRoomsApi.conferenceRoomsPost({ ...submitForm })
            : await conferenceRoomsApi.conferenceRoomsIdPatch(submitForm.id, { ...submitForm })
          if (res) {
            this.$handleSuccessMessage()
            this.dialogClose()
            this.getData()
          }
        }
      })
    },
    // 显示新增表单
    addForm () {
      this.titleText = this.$t('meeting-room.add')
      this.submitType = 'add'
      this.dialogVisible = true
    },
    // 显示编辑表单
    editForm (row) {
      this.titleText = this.$t('meeting-room.edit')
      this.submitType = 'edit'
      this.form = JSON.parse(JSON.stringify(row))
      this.form.addressId = this.form.addressId ? this.form.addressId : ''
      this.dialogVisible = true
    },
    // 关闭对话框
    dialogClose () {
      this.dialogVisible = false
      this.form = {}
      this.$refs.form.clearValidate()
    },
    // 删除表单
    delForm (row) {
      this.$confirm(this.$t('meeting-room.if-delete'), this.$t('button.tip'), {
        confirmButtonText: this.$t('button.confirm'),
        cancelButtonText: this.$t('button.cancel'),
        type: 'warning'
      }).then(async () => {
        const res = await conferenceRoomsApi.conferenceRoomsIdDelete(row.id)
        if (res) {
          // 判断是否为该页最后一条数据且当前页数不为首页，则获取上一页数据
          if (this.tableData.length === 1 && this.currentPage !== 1) {
            this.currentPage = --this.currentPage
          }
          this.$handleSuccessMessage()
          this.getData()
        }
      }).catch((e) => { })
    },
    // 查找所有地点(支持会议的)
    async findAddressList () {
      const res = await addressesApi.addressesGet(0, 100000)
      if (res.data) {
        this.addressList = res.data.data
      }
    },
    // 切换分页条件
    handleSizeChange (val) {
      this.pageSize = val
      this.getData()
    },
    handleCurrentChange (val) {
      const dom = document.getElementsByClassName('card__body')
      if (dom && dom[0]) dom[0].scrollTop = 0
      this.currentPage = val
      this.getData()
    }
  }
}
</script>
<style lang="stylus" scoped>
.tag-ellipsis
  max-width 100%
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
</style>
